<template>
  <nb-container class="bg-main">
    <status-bar v-if = "android"
        :barStyle="'light-content'"
        backgroundColor="#0c4152"
      ></status-bar>
     <status-bar v-else 
        :barStyle="'dark-content'"
     ></status-bar> 
    <nb-container
      v-if="qrCodeContainer"
      class="modal-dialog-container"
      style="
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
      "
    >
      <nb-container
        class="modal-dialog-qr"
        style="position: absolute; left: 0; top: 0; width: 100%; height: 100%"
      ></nb-container>
      <nb-content>
        <nb-card
          class="cardholderqr"
          :style="{ borderRadius: 20, padding: 10, marginTop: '10%' }"
        >
          <nb-body
            :style="{
              width: '100%',
              alignSelf: 'stretch',
              textAlign: 'left',
              padding: 10,
            }"
          >
            <view
              :style="{
                flex: 1,
                flexDirection: 'row',
              }"
            >
              <text
                :style="{
                  flex: 1,
                  marginTop: 10,
                  fontSize: 18,
                }"
                >Edit Profile</text
              >
              <nb-button
                transparent
                :on-press="closeQrDialog"
                :style="{
                  textAlign: 'right',
                }"
              >
                <image :source="require('../../../assets/close_icon.png')" />
              </nb-button>
            </view>
            <view
              :style="{
                flex: 1,
                flexDirection: 'row',
                alignSelf: 'center',
                width: '100%',
              }"
            >
              <text
                :style="{
                  color: '#8f9bb3',
                }"
                >Login

                <text
                  :on-press="goLogin"
                  :style="{
                    color: '#000',
                    textDecorationLine: 'underline',
                  }"
                  >here
                </text>

                to access your merchant web dashboard to update profile
                settings.</text
              >
            </view>
            <view>
              <text
                :style="{
                  marginTop: 10,
                  color: '#8f9bb3',
                }"
                >Scan the below
                <text
                  :on-press="goLogin"
                  :style="{
                    color: '#000',
                    textDecorationLine: 'underline',
                  }"
                  >QR Code
                </text>
                to access profile settings instore.</text
              >
              <image :source="require('../../../assets/merchant.png')" />
            </view>
          </nb-body>
        </nb-card>
      </nb-content>
    </nb-container>
    <nb-container
      v-if="bottomNavContainer"
      class="modal-dialog-container"
      style="position:absolute; left:0; bottom:0; width:100%; height:100%; z-index:2;"
    >
      <nb-container
        class="modal-dialog"
        style="position:absolute; left:0; bottom:0; width:100%; height:100%;"
      ></nb-container>
      <nb-body>
        <view :style="{ position: 'absolute', bottom: 16 }">
          <view
            :style="{
              flexDirection: 'row'
            }"
          >
            <view>
              <TouchableOpacity :on-press="gotoCreatePlan">
                <image
                  :style="{ width: 75, height: 94 }"
                  :source="require('../../../assets/create-plan-btn.png')"
                />
              </TouchableOpacity>
            </view>
            <view>
              <TouchableOpacity :on-press="gotoPayNow">
                <image
                  :style="{ width: 75, height: 94, marginLeft: 20 }"
                  :source="require('../../../assets/pay-now-icon.png')"
                />
              </TouchableOpacity>
            </view>
          </view>
          <view
            :style="{
              marginTop: 0,
              marginLeft: 'auto',
              marginRight: 'auto'
            }"
          >
            <view>
              <TouchableOpacity :on-press="closeBottomNav">
                <image
                  :style="{ width: 70, height: 70 }"
                  :source="
                    require('../../../assets/create-plan-close-icon.png')
                  "
                />
              </TouchableOpacity>
            </view>
          </view>
        </view>
      </nb-body>
    </nb-container>
    <nb-content>
      <view class="text-container">
        <text class="heading">Support</text>
        <text>Need support? Please contact our helpline below.</text>
        <view
          :style="{
            flex: 1,
            flexDirection: 'row',
            marginTop: 20,
            marginBottom: -0,
          }"
        >
        </view>
        <view
          :style="{
            flex: 1,
            flexDirection: 'row',
            marginTop: 0,
            marginBottom: -0,
          }"
        >
        </view>
        <view
          :style="{
            flex: 1,
            flexDirection: 'row',
            marginTop: 20,
            marginBottom: -0,
          }"
        >
          <image
            :source="require('../../../assets/profile_contact_icon.png')"
          />

          <text
            
            :style="{
              fontSize: 15,
              marginLeft: 5,
              marginTop: 3,
              color: '#000',
            }"
          >
            087 094 5555
          </text>
        </view>
        <view
          :style="{
            flex: 1,
            flexDirection: 'row',
            marginTop: 20,
            marginBottom: -0,
          }"
        >
          <image :source="require('../../../assets/profile-icon-email.png')" />

          <text
            
            :style="{
              fontSize: 15,
              marginLeft: 5,
              marginTop: 3,
              color: '#000',
            }"
          >
            customersupport@layup.co.za
          </text>
        </view>
        <view
          :style="{
            flex: 1,
            flexDirection: 'row',
            marginTop: 20,
            marginBottom: -0,
          }"
        >
          <image :source="require('../../../assets/profile-icon-pinl.png')" />

          <text
            :style="{
              width: '85%',
              fontSize: 15,
              marginLeft: 5,
              marginTop: 3,
              color: '#000',
            }"
          >
            Hill House, 5th Floor, 42 De Smit Street, Green Point, 8005
          </text>
        </view>
      </view>
    </nb-content>

    <view
      :style="{
        flex: 1,
        width: '100%',
        position: 'absolute',
        bottom: 0,
        backgroundColor: '#fff',
        flexDirection: 'row',
        padding: 0,
        margin: 0,
        alignItems: 'stretch',
      }"
    >
      <view class="bottom-btns">
        <TouchableOpacity :style="{ flex: 1 }" :on-press="gotoDashboard">
          <image
            :resizeMode="'contain'"
            :style="{ flex: 1, width: 70, bottom: 4 }"
            :source="require('../../../assets/home-icon.png')"
          />
        </TouchableOpacity>
      </view>

      <view class="bottom-btns">
        <TouchableOpacity :style="{ flex: 1 }" :on-press="gotoTransactions">
          <image
            :resizeMode="'contain'"
            :style="{ flex: 1, width: 70, bottom: 4  }"
            :source="require('../../../assets/transaction-icon.png')"
          />
        </TouchableOpacity>
      </view>

      <view class="plan-btn">
        <TouchableOpacity :style="{ flex: 1 }" :on-press="openPlanNav">
          <image
            :resizeMode="'contain'"
            :style="{ flex: 1, width: 70, height: 80 }"
            :source="require('../../../assets/create-plan-icon.png')"
          />
        </TouchableOpacity>
      </view>

      <view class="bottom-btns">
        <TouchableOpacity :style="{ flex: 1 }">
          <image
            :resizeMode="'contain'"
            :style="{ flex: 1, width: 70, bottom: 4  }"
            :source="require('../../../assets/support-icon_on.png')"
          />
        </TouchableOpacity>
      </view>

      <view class="bottom-btns">
        <TouchableOpacity :style="{ flex: 1 }" :on-press="goToProfile">
          <image
            :resizeMode="'contain'"
            :style="{ flex: 1, width: 70, bottom: 4  }"
            :source="require('../../../assets/profile-icon.png')"
          />
        </TouchableOpacity>
      </view>
    </view>
  </nb-container>
</template>

<script>
import { Dimensions, Platform } from "react-native";
import launchScreenBg from "../../../assets/launchscreen-bg.png";
import launchscreenLogo from "../../../assets/merchant-logo.png";
import { AsyncStorage } from "react-native";

export default {
  props: {
    navigation: {
      type: Object,
    },
  },
  data() {
    return {
      android: Platform.OS === "android" ? true : false,
      bottomNavContainer: false,
      qrCodeContainer: false,
      launchScreenBg,
      launchscreenLogo,
      merchantemail: "",
      merchantname: "",
      value: false,
      value2: "",
      profileName: "",
      token: null,
      orders: [],
      active: 0,
      completed: 0,
      cancelled: 0,
      percFee: "",
      stylesObj: {
        logoContainerStyle: {
          marginTop: Dimensions.get("window").height / 8,
        },
        logoStyle: {
          left: Platform.OS === "android" ? 40 : 50,
          top: Platform.OS === "android" ? 40 : 60,
          width: 190,
          height: 69,
        },
        btnContainer: {
          backgroundColor: "#6faf98",
          alignSelf: "center",
        },
      },
    };
  },
  async created() {
    this.merchantemail = await AsyncStorage.getItem("layup-email");
    this.merchantname = await AsyncStorage.getItem("layup-name");
    this.profileName = await AsyncStorage.getItem("layup-name");
    this.percFee = await AsyncStorage.getItem("layup-merchantpercfee");
    if (this.percFee != "") {
      this.value = true;
    }
  },
  methods: {
    handleChange(val) {
      this.value = val;
    },
    handleChange2(val) {
      this.value2 = val;
    },
    goWebview() {
      this.navigation.navigate("Webview");
    },
    goToProfile() {
      this.bottomNavContainer = false;
      this.navigation.push("Profile");
    },
    goLogin() {
      //uat
      AsyncStorage.setItem(
        "layup-url",
        "https://merchant-sandbox.layup.co.za/dashboard/profile"
      );
      //prod
      /*
       AsyncStorage.setItem(
        "layup-url",
        "https://merchant.layup.co.za/dashboard/profile"
      );*/
      AsyncStorage.setItem("layup-caller", "Profile");
      this.navigation.navigate("Webview");
    },
    goLearn() {
      AsyncStorage.setItem("layup-url", "https://layup.co.za/for-merchants");
      AsyncStorage.setItem("layup-caller", "Profile");
      this.navigation.navigate("Webview");
    },
    goPrivacy() {
      AsyncStorage.setItem("layup-url", "https://layup.co.za/privacy-policy");
      AsyncStorage.setItem("layup-caller", "Profile");
      this.navigation.navigate("Webview");
    },
    goTerms() {
      AsyncStorage.setItem(
        "layup-url",
        "https://layup.co.za/terms-and-conditions"
      );
      AsyncStorage.setItem("layup-caller", "Profile");
      this.navigation.navigate("Webview");
    },
    gotoTransactions() {
      this.bottomNavContainer = false;
      this.navigation.push("transactions");
    },
    goToTransactionLog() {
      this.bottomNavContainer = false;
      this.navigation.push("transactionLog");
    },
    gotoDashboard() {
      this.bottomNavContainer = false;
      this.navigation.push("Dashboard");
    },
    gotoPayNow() {
      this.bottomNavContainer = false;
      this.navigation.push("SearchPlan");
    },
    gotoCreatePlan() {
      this.bottomNavContainer = false;
      this.navigation.push("CreatePlanStep1");
    },
    openPlanNav() {
      this.bottomNavContainer = true;
    },
    closeBottomNav() {
      this.bottomNavContainer = false;
    },
    handleLetGoBtnPress() {
      this.navigation.openDrawer();
    },
    logOut() {
      this.navigation.navigate("Home");
    },
    closeQrDialog() {
      this.qrCodeContainer = false;
    },
    openQrDialog() {
      this.qrCodeContainer = true;
    },
  },
};
</script>

<style>
.heading {
  margin-top: 20px;
  text-align: left;
  font-size: 25px;
  color: #1f282b;
}
.input-field {
  width: 90%;
  margin-top: 5px;
  margin-bottom: 25px;
}
.input-text {
  padding-left: 20px;
}
.modal-dialog-container {
  background-color: transparent;
}
.modal-dialog-qr {
  background-color: #0c4152;
  opacity: 0.5;
}
.modal-dialog {
  background-color: #fff;
  opacity: 0.8;
}
.cardholderqr {
  flex: 1;
  width: 80%;
  align-self: center;
  color: #000;
  z-index: 9;
  text-align: left;
}
.bottom-btns {
  height: 80px;
  text-align: center;
  width: 20%;
}
.plan-btn {
  margin-top: -20px;
  width: 20%;
}
.cardholder {
  width: 90%;
  align-self: center;
  color: #fff;
}
.bg-main {
  background-color: #f1f2f7;
}
.imageContainer {
  flex: 1;
}
.text-color-primary {
  color: blue;
  font-family: Roboto;
}
.logoContainer {
  flex: 1;
}
.logo {
  position: absolute;
  width: 280;
  height: 100;
}

.text-container {
  flex: 1;
  margin-left: 30px;
}
.text-color-white {
  color: white;
}
.button-container {
  background-color: #6faf98;
  align-self: center;
}
</style>
