<template>
  <nb-container class="bg-main">
    <status-bar v-if = "android"
        :barStyle="'light-content'"
        backgroundColor="#0c4152"
      ></status-bar>
    <nb-container
      v-if="isLoading"
      class="bg-main"
      style="position:absolute; left:0; top:0; width:100%; height:100%; z-index:999;"
    >
      <nb-spinner
        color="#0c4152"
        style="position:absolute; left:45%; top:25%;"
      />
    </nb-container>

    <nb-content>
      <view class="text-container">
        <text class="heading">Check your email</text>
        <text
          >We have sent you a reset password link on your registered email
          address.</text
        >
      </view>

      <nb-button rounded class="forgotbtn" :on-press="goToLoginScreen">
        <nb-text class="labelbtntext">Done</nb-text>
      </nb-button>
    </nb-content>
  </nb-container>
</template>

<script>
import { Dimensions, Platform } from "react-native";
import axios from "../../axios/index.js";
// import axios from "axios";

export default {
  props: {
    navigation: {
      type: Object
    }
  },
  data() {
    return {
      android: Platform.OS === "android" ? true : false,
      isLoading: false,
      username: "",
      password: "",
      pokemon: [],
      stylesObj: {
        logoContainerStyle: {
          marginTop: Dimensions.get("window").height / 8
        },
        logoStyle: {
          left: Platform.OS === "android" ? 40 : 50,
          top: Platform.OS === "android" ? 35 : 60
        },
        btnContainer: {
          backgroundColor: "#6faf98",
          alignSelf: "center"
        }
      }
    };
  },
  methods: {
    reset() {
      this.isLoading = true;
      const postdata = {
        email: this.username
      };
      axios({
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          apiKey: "dashpay2020"
        },
        url: "/v1/request-password-reset",
        data: postdata
      }).then(
        result => {
          this.isLoading = false;
          this.result = result.data.status;
          alert(this.result);
        },
        error => {
          this.isLoading = false;
          alert(error);
        }
      );
    },
    goToLoginScreen() {
      this.navigation.navigate("Login");
    },
    goToHomeScreen() {
      this.navigation.navigate("Home");
    }
  }
};
</script>

<style>
.bg-main {
  background-color: #f1f2f7;
}
.input-text {
  padding-left: 20px;
}

.form-content {
  margin-bottom: 45%;
}

.input-field {
  background-color: #fff;
  border-color: #f7f9fc;
  align-self: center;
  width: 90%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.text-container {
  padding-top: 55%;
  padding-left: 40px;
  padding-right: 30px;
  padding-bottom: 45%;
  background-color: transparent;
}
.text-color-white {
  color: white;
}
.button-container {
  background-color: #6faf98;
  align-self: center;
}

.heading {
  font-weight: bold;
  font-size: 36px;
  color: #1f282b;
  margin-bottom: 10px;
}
.loginbtn {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #1295a5;
}
.forgotbtn {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #151a30;
}
.loginbtn3 {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #151a30;
}
.labelbtntext {
  text-align: center;
  width: 100%;
  text-transform: none;
}
.closeIcon {
  padding-right: 10px;
  width: 100%;
  height: 30px;
  align-items: flex-end;
}
</style>
