<template>
  <nb-container class="bg-main">
   <status-bar v-if = "android"
        :barStyle="'light-content'"
        backgroundColor="#0c4152"
      ></status-bar>
    <nb-container
      v-if="isLoading"
      class="bg-main"
      style="position:absolute; left:0; top:0; width:100%; height:100%; z-index:999;"
    >
      <nb-spinner
        color="#0c4152"
        style="position:absolute; left:45%; top:25%;"
      />
    </nb-container>
    
    <view class="closeIcon" :style="stylesObj.logoStyle">
      <TouchableOpacity :on-press="goToHomeScreen">
        <image :source="require('../../../assets/close_icon.png')" />
      </TouchableOpacity>
    </view>
    <nb-content>
      <view class="text-container">
        <text class="heading">Forgot Password</text>
        <text
          >Please enter your registered email address to reset your
          password</text
        >
      </view>

      <nb-form class="form-content">
        <nb-item rounded class="input-field">
          <nb-input
            class="input-text"
            placeholder="Email Address"
            keyboard-type="email-address"
            autoCapitalize="none"
            v-model="username"
          />
        </nb-item>
      </nb-form>
      <nb-button rounded class="forgotbtn" :on-press="reset">
        <nb-text class="labelbtntext">Reset Password</nb-text>
      </nb-button>
    </nb-content>
  </nb-container>
</template>

<script>
/*
<view class="closeIcon">
      <!-- <button title="Go to home screen" @press="goToHomeScreen"></button> -->
      <nb-button transparent :on-press="goToHomeScreen">
        <image :source="require('../../../assets/close_icon.png')" />
      </nb-button>
    </view>
 */   
import { Dimensions, Platform } from "react-native";
import axios from "../../axios/index.js";
import { AsyncStorage } from "react-native";
import { Toast } from "native-base";
// import axios from "axios";

export default {
  props: {
    navigation: {
      type: Object,
    },
  },
  data() {
    return {
      android: Platform.OS === "android" ? true : false,
      isLoading: false,
      username: "",
      password: "",
      pokemon: [],
      stylesObj: {
        logoContainerStyle: {
          marginTop: Dimensions.get("window").height / 8,
        },
        logoStyle: {
          top: Platform.OS === "android" ? 0 : 25,
        },
        btnContainer: {
          backgroundColor: "#6faf98",
          alignSelf: "center",
        },
      },
    };
  },
  methods: {
    reset() {
      if (this.username == "") {
        Toast.show({
          text: "Please enter an Email Address",
          duration: 4000,
          type: "warning"
        });
       
      } else {
        this.isLoading = true;
        //uat
        const postdata = {
          channel: "EMAIL",
          value: this.username,
          redirectTo: "https://merchant-sandbox.layup.co.za/reset-password",
        };
        //prod
        /*
         const postdata = {
          channel: "EMAIL",
          value: this.username,
          redirectTo: "https://merchant.layup.co.za/reset-password",
        };
        */
        axios({
          method: "POST",
          //headers: {
          //   "Content-Type": "application/json",
          //   apiKey: "dashpay2020"
          //  },
          url: "/v1/request-password-reset",
          data: postdata,
        }).then(
          result => {
            this.isLoading = false;
            this.result = result.data.status;
            //alert(this.result);
            this.navigation.navigate("ForgotPassword2");
          },
          error => {
            this.isLoading = false;
            Toast.show({
            text: "Email Address not registered - Please try again",
            duration: 4000,
            type: "warning"
           });
            
          }
        );
      }
    },
    goToRegisterScreen() {
      this.navigation.navigate("Register");
    },
    goToHomeScreen() {
      this.navigation.navigate("Home");
    },
  },
};
</script>

<style>
.bg-main {
  background-color: #f1f2f7;
}
.input-text {
  padding-left: 20px;
}

.form-content {
  margin-bottom: 45%;
}

.input-field {
  background-color: #fff;
  border-color: #f7f9fc;
  align-self: center;
  width: 90%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.text-container {
  padding-top: 10%;
  padding-left: 40px;
  padding-right: 30px;
  padding-bottom: 20%;
  background-color: transparent;
}
.text-color-white {
  color: white;
}
.button-container {
  background-color: #6faf98;
  align-self: center;
}

.heading {
  font-weight: bold;
  font-size: 38px;
  color: #1f282b;

  margin-bottom: 1px;
}
.loginbtn {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #1295a5;
}
.forgotbtn {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #151a30;
}
.loginbtn3 {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #151a30;
}
.labelbtntext {
  text-align: center;
  width: 100%;
  text-transform: none;
}
.closeIcon {
  
  padding-right: 15px;
  padding-top: 15px;
  height: 40px;
  align-items: flex-end;
  z-index: 9;
}
</style>
