<template>
 
  <nb-container class="bg-main">
    <nb-content>
      
      <status-bar v-if = "android"
        :barStyle="'light-content'"
        backgroundColor="#0c4152"
      ></status-bar>
       
      <view class="logo">
        <image
          :resizeMode="'contain'"
          :style="{ width: 200, flex: 1 }"
          :source="require('../../../assets/layup-logo.png')"
        />
      </view>
      <view class="text-container">
        <text class="heading1">Welcome!</text>
        <text class="about-text"
          >LayUp is Africa's first omnichannel payment plan solution. We're
          experts at stress-free, hassle-free payments with 0% interest</text
        >
        <text
          :style="{
            marginTop: 4,
            color: '#19bdc0'
          }"
         
        >
          V0.1.25 DM</text
        >
      </view>
      <view class="bottom">
      <nb-button rounded class="loginbtn3">
        <nb-text class="labelbtntext" :on-press="goToLoginScreen"
          >Login</nb-text
        >
      </nb-button>
      <nb-button rounded class="loginbtn2" :on-press="goToRegisterScreen">
        <nb-text class="labelbtntext">Sign Up</nb-text>
      </nb-button>
      <nb-button rounded class="loginbtn" :on-press="goToReceivePayment">
        <nb-text class="labelbtntext">Receive Payment</nb-text>
      </nb-button>
      </view>
     
    </nb-content>
  </nb-container>
</template>

<script>
//<text :on-press="goToToolTip">ToolTip</text>
//<text :on-press="goWebview" :style="{height:50}">Webview</text>
import { BackHandler } from "react-native";
import { AsyncStorage } from "react-native";
import * as Crypto from 'expo-crypto';

export default {
 // components: { "web-view": WebView },
  props: {
    navigation: {
      type: Object,
    },
  },
  data() {
    return {
      android: Platform.OS === "android" ? true : false,
      orderref:"",
      crypto:"",
      stylesObj: {
        btnContainer: {
          backgroundColor: "#6faf98",
          alignSelf: "center",
        },
        barStyle:{
          barStyle: Platform.OS === "android" ? 'light-content' : 'dark-content'
        }
      },
    };
  },
  async created() {
  
   
    //const digest = await Crypto.digestStringAsync(
   // Crypto.CryptoDigestAlgorithm.SHA256,
  // 'test'
  // );
  // alert(this.crypto)
    const orderid = "432678"
    BackHandler.addEventListener('hardwareBackPress', function() {
         return false
    });
    const selectdata = {"orderid":orderid,
                                          "apikey":"mykey"}
                      this.$store.dispatch("orders/attachorder", selectdata).then(res => {
         
         this.getStorageValue("orderref").then(value => { 
           this.orderref = value;
           this.makeCrypto(value);
          // this.makeCrypto(value);
          // alert(this.crypto);
           //alert(this.orderref)
         });             
    });
  },
//   created() {
//     BackHandler.addEventListener('hardwareBackPress', this.handleBackButtonClick);
//   },
//   componentWillUnmount() {
//     BackHandler.removeEventListener('hardwareBackPress', this.handleBackButtonClick);
//   },
//   handleBackButtonClick() {
//     //this.props.navigation.goBack(null);
//     return true;
// },
  methods: {
   //  async getIP() {
  //    var value = await Network.getIpAddressAsync();
  //    return value;
  //  },
   async makeCrypto(value){
    this.crypto = await Crypto.digestStringAsync(
    Crypto.CryptoDigestAlgorithm.SHA256,
    value
   );
    AsyncStorage.setItem("orderref2", this.crypto);
    //alert(this.crypto);
  },
    async getStorageValue(item) {
      var value = await AsyncStorage.getItem(item);
      return value;
    },
    goToReceivePayment() {
      this.navigation.push("VerifyAccount");
    },
    goToRegisterScreen() {
      this.navigation.push("Register");
    },
    goToLoginScreen() {
      this.navigation.push("Login");
    },
    goToToolTip() {
      this.navigation.navigate("tooltip1");
    },
    goWebview() {
      this.navigation.navigate("Webview");
    }
  },
};
</script>

<style>
.bg-main {
  background-color: #f7f9fc;
  
}
.imageContainer {
  flex: 1;
}
.text-color-primary {
  color: blue;
  font-family: Roboto;
}
.logoContainer {
  flex: 1;
  margin-bottom: 30;
}
.logo {
  margin-top: 2%;
  padding: 10px;
}

.text-container {
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 5%;
  background-color: transparent;
}
.text-color-white {
  color: white;
}
.button-container {
  background-color: #6faf98;
  align-self: center;
}
.heading1 {
  font-weight: bold;
  font-size: 40px;
  color: #1f282b;
  margin-bottom: 5%;
}
.loginbtn {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #1295a5;
}
.loginbtn2 {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #0c4152;
}
.loginbtn3 {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #151a30;
}
.labelbtntext {
  text-align: center;
  width: 100%;
  text-transform: none;
}
.about-text {
  line-height: 25px;
  font-size: 16px;
}
.bottom {
  
  bottom: 20px;
  
}

</style>
