<template>
  <nb-container class="bg-main">
    <status-bar v-if = "android"
        :barStyle="'light-content'"
        backgroundColor="#0c4152"
      ></status-bar>
    <nb-container
      v-if="isLoading"
      class="bg-main"
      style="position:absolute; left:0; top:0; width:100%; height:100%; z-index:999;"
    >
      <nb-spinner
        color="#0c4152"
        style="position:absolute; left:45%; top:25%;"
      />
    </nb-container>
    <view class="closeIcon" :style="stylesObj.logoStyle">
      <TouchableOpacity :on-press="goToHomeScreen">
        <image :source="require('../../../assets/close_icon.png')" />
      </TouchableOpacity>
    </view>
    <nb-content>
      <view class="text-container">
        <text class="heading">Sign in</text>
        <text class="heading1">to LayUp</text>
        <text>Sign in with your email and password to use your account</text>
      </view>

      <nb-form class="form-content">
        <InputWithError
          :error="
            ($v.username.$dirty && !$v.username.required) ||
              !$v.username.vaildEmail
          "
          msg="Email format is invalid"
        >
          <nb-input
            required
            class="input-text"
            keyboard-type="email-address"
            autoCapitalize="none"
            placeholder="Email"
            placeholderTextColor="#979797"
            :on-blur="() => $v.username.$touch()"
            v-model="username"
          />
        </InputWithError>

        <InputWithError
          :error="$v.password.$dirty && !$v.password.required"
          msg="Password is required"
        >
          <nb-input
            class="input-text"
            autoCapitalize="none"
            :secureTextEntry="true"
            :on-blur="() => $v.password.$touch()"
            placeholder="Password"
            placeholderTextColor="#979797"
            v-model="password"
          />
        </InputWithError>
      </nb-form>
      <nb-button rounded class="loginbtn2" :on-press="login">
        <nb-text class="labelbtntext">Login</nb-text>
      </nb-button>
      <view
        :style="{
          flex: 1,
          flexDirection: 'row',
          alignSelf: 'center'
        }"
      >
        <text
          :style="{ marginTop: 8, alignSelf: 'center' }"
          :on-press="goToRegisterScreen"
          >Don't have an account?</text
        >
        <text
          :style="{
            marginTop: 8,
            alignSelf: 'center',
            color: '#19bdc0'
          }"
          :on-press="goToRegisterScreen"
        >
          Sign Up</text
        >
      </view>
      <text
        :style="{ marginTop: 8, alignSelf: 'center', color: '#19bdc0' }"
        :on-press="goToForgotPasswordScreen"
        >Forgot your password?</text
      >
    </nb-content>
  </nb-container>
</template>

<script>
import { Dimensions, Platform } from "react-native";
import { AsyncStorage } from "react-native";
import { required, email } from "vuelidate/lib/validators";
import { Toast } from "native-base";
//import { BackHandler } from "react-native";
//import axios from "../../axios/index.js";

export default {
  props: {
    navigation: {
      type: Object
    }
  },  
  data() {
    return {
      android: Platform.OS === "android" ? true : false,
      isLoading: false,
      username: "",
      password: "",
      domain: "",
      orderref: "",
      pokemon: [],
      stylesObj: {
        logoContainerStyle: {
          marginTop: Dimensions.get("window").height / 8
        },
        logoStyle: {
          top: Platform.OS === "android" ? 0 : 25
        },
        btnContainer: {
          backgroundColor: "#6faf98",
          alignSelf: "center"
        }
      }
    };
  },

  validations: {
    username: { required, vaildEmail: email },
    password: { required }
  },
  async created(){
    this.orderref = await AsyncStorage.getItem("orderref2");

  },
  methods: {
    login() {
      // this.username = "valr@cappayments.co.za";
      // this.password = "dashpay2020";
      // this.username = "fred@valtronics.co.za";
      // this.password = "12345678";
      //this.username = "merchant@valtronics.co.za";
      //this.password = "12345677";
       //this.username = "merchant@raen.co.za";
      // this.password = "12345678";
      // alert(username);
      this.$v.username.$touch();
      this.$v.password.$touch();
      if (this.username == "" || this.password == "") {
        Toast.show({
          text: "Please enter a Username and Password",
          duration: 4000,
          type: "warning"
        });
      } else {
        this.isLoading = true;
        const postdata = {
          username: this.username,
          password: this.password,
          orderref: this.orderref
        };
        const logindata = JSON.stringify(postdata);
        AsyncStorage.setItem("logindata", logindata);
        this.$store.dispatch("auth/login", postdata,this.orderref).then(res => {
          this.getStorageValue("layup-login-error").then(value => {
            const isError = value;
            //alert(isError);
            if (isError != null) {
              value = value.charAt(0).toUpperCase() + value.slice(1)
              Toast.show({
                text: value,
                duration: 4000,
                type: "warning",
                textStyle: {
                 textAlign: 'center'
                }
              });
              // alert(isError);
              // this.navigation.navigate("Home");
              this.isLoading = false;
            } else {
              this.$store.dispatch("auth/gettoken",this.orderref).then(response => {
                this.getStorageValue("layup-token").then(value => {
                  const mytoken = value;
                  this.getStorageValue("layup-ismerchant").then(value => {
                    if (value == "false") {
                      //alert("it is false");
                      this.registerMerchant();
                    } else {
                      //alert("it is true");
                      this.getMerchantDetails();
                    }
                    
                    //const selectdetails = "skip=0&limit=1000&populate=plans,plans.payments,plans.benefactor"
                    const selectdetails = "limit=1000&select=state+amountDue+plans.amountDue+products.amount&populateObject=%7B%22path%22:%22plans%22,%22select%22:%22amountDue%22%7D"
                    const selectdetails2 = {
                                             selectdetails: selectdetails,
                                             orderref: this.orderref
                                           }
                    this.$store
                      .dispatch("orders/getsummary", selectdetails2)
                      .then(response => {
                        this.isLoading = false;
                        this.getStorageValue("layup-userverified").then(
                          value => {
                            const userVerified = value;
                            if (userVerified == "true") {
                             
                              this.navigation.navigate("tooltip1");
   
                             // this.navigation.navigate("Dashboard");
                            } else {
                              this.navigation.navigate("Register3");
                            }
                          }
                        );
                      });
                  });
                });
              });
            }
          });
        });
      }
    },

    registerMerchant() {
      this.getStorageValue("layup-name").then(value => {
        const name = value;
        this.domain = this.username.replace(/.*@/, "");

        const postdata2 = {
          name: name,
          domain: this.domain,
          orderref:this.orderref
        };
        this.$store
          .dispatch("merchants/createmerchant", postdata2)
          .then(res => {});
      });
    },
    getMerchantDetails() {
      this.getStorageValue("layup-merchantid").then(value => {
        const postdata3 = {
          merchantid: value,
          orderref: this.orderref
        }
        this.$store.dispatch("merchants/getmerchant", postdata3).then(res => {});
      });
    },
    goToRegisterScreen() {
      this.navigation.navigate("Register");
    },
    goToToolTip() {
      this.navigation.navigate("tooltip1");
    },
    goToForgotPasswordScreen() {
      this.navigation.navigate("ForgotPassword");
    },
   goToHomeScreen() {
      this.navigation.navigate("Home");
    },
    async getStorageValue(item) {
      var value = await AsyncStorage.getItem(item);
      return value;
    },
      goToContact(){
      this.bottomNavContainer = false;
      this.navigation.push("Contact");
    }, 
    async getToken() {
      this.$store.dispatch("auth/gettoken",this.orderref).then(response => {
        this.isLoading = false;
      });
    }
  }
};
</script>

<style>
.bg-main {
  background-color: #f1f2f7;
}
.input-text {
  padding-left: 20px;
}

.form-content {
  margin-bottom: 15%;
}

.text-container {
  padding-top: 10%;
  padding-left: 40px;
  padding-right: 30px;
  padding-bottom: 15%;
  background-color: transparent;
}
.closeIcon {
  
  padding-right: 15px;
  padding-top: 15px;
  height: 40px;
  align-items: flex-end;
  z-index: 9;
}
.text-color-white {
  color: white;
}
.button-container {
  background-color: #6faf98;
  align-self: center;
}
.heading1 {
  font-weight: bold;
  font-size: 38px;
  color: #1f282b;
  margin-top: -5px;
  margin-bottom: 15px;
}
.heading {
  font-weight: bold;
  font-size: 38px;
  color: #1f282b;

  margin-bottom: 1px;
}
.loginbtn {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #1295a5;
}
.loginbtn2 {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #151a30;
}
.loginbtn3 {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #151a30;
}
.labelbtntext {
  text-align: center;
  width: 100%;
  text-transform: none;
}
</style>
