<template>
  <nb-container class="bg-main">
    <status-bar v-if = "android"
        :barStyle="'light-content'"
        backgroundColor="#0c4152"
      ></status-bar>
     <status-bar v-else 
        :barStyle="'dark-content'"
     ></status-bar> 
    <nb-container
      v-if="qrCodeContainer"
      class="modal-dialog-container"
      style="position:absolute; left:0; top:0; width:100%; height:100%; z-index:2;"
    >
      <nb-container
        class="modal-dialog-qr"
        style="position:absolute; left:0; top:0; width:100%; height:100%;"
      ></nb-container>
      <nb-content>
        <nb-card
          class="cardholderqr"
          :style="{ borderRadius: 20, padding: 10, marginTop: '10%' }"
        >
          <nb-body
            :style="{
              width: '100%',
              alignSelf: 'stretch',
              textAlign: 'left',
              padding: 10
            }"
          >
            <view
              :style="{
                flex: 1,
                flexDirection: 'row'
              }"
            >
              <text
                :style="{
                  flex: 1,
                  marginTop: 10,
                  fontSize: 18
                }"
                >Edit Profile</text
              >
              <nb-button
                transparent
                :on-press="closeQrDialog"
                :style="{
                  textAlign: 'right'
                }"
              >
                <image :source="require('../../../assets/close_icon.png')" />
              </nb-button>
            </view>
            <view
              :style="{
                flex: 1,
                flexDirection: 'row',
                alignSelf: 'center',
                width: '100%'
              }"
            >
              <text
                :style="{
                  color: '#8f9bb3'
                }"
                >Login

                <text :on-press="goLogin"
                  :style="{
                    color: '#000',
                    textDecorationLine: 'underline'
                  }"
                  >here
                </text>

                to access your merchant web dashboard to update profile
                settings.</text
              >
            </view>
            <view>
              <text
                :style="{
                  marginTop: 10,
                  color: '#8f9bb3'
                }"
                >Scan the below
                <text :on-press="goLogin"
                  :style="{
                    color: '#000',
                    textDecorationLine: 'underline'
                  }"
                  >QR Code
                </text>
                to access profile settings instore.</text
              >

             <SvgQRCode  :size="size" :value="content" />
            </view>
          </nb-body>
        </nb-card>
      </nb-content>
    </nb-container>
    <nb-container
      v-if="bottomNavContainer"
      class="modal-dialog-container"
      style="position:absolute; left:0; bottom:0; width:100%; height:100%; z-index:2;"
    >
      <nb-container
        class="modal-dialog"
        style="position:absolute; left:0; bottom:0; width:100%; height:100%;"
      ></nb-container>
      <nb-body>
        <view :style="{ position: 'absolute', bottom: 16 }">
          <view
            :style="{
              flexDirection: 'row'
            }"
          >
            <view>
              <TouchableOpacity :on-press="gotoCreatePlan">
                <image
                  :style="{ width: 75, height: 94 }"
                  :source="require('../../../assets/create-plan-btn.png')"
                />
              </TouchableOpacity>
            </view>
            <view>
              <TouchableOpacity :on-press="gotoPayNow">
                <image
                  :style="{ width: 75, height: 94, marginLeft: 20 }"
                  :source="require('../../../assets/pay-now-icon.png')"
                />
              </TouchableOpacity>
            </view>
          </view>
          <view
            :style="{
              marginTop: 0,
              marginLeft: 'auto',
              marginRight: 'auto'
            }"
          >
            <view>
              <TouchableOpacity :on-press="closeBottomNav">
                <image
                  :style="{ width: 70, height: 70  }"
                  :source="
                    require('../../../assets/create-plan-close-icon.png')
                  "
                />
              </TouchableOpacity>
            </view>
          </view>
        </view>
      </nb-body>
    </nb-container>
    <nb-content>
      <view class="text-container">
        <text class="heading">Profile</text>
        <view v-if="nourl"
          :style="{
            flex: 1,
            flexDirection: 'row',
            marginTop: 20,
            marginBottom: -0
          }"
        >
          <image :source="require('../../../assets/profile-logo.png')" />
          <text
            :style="{
              fontSize: 25,
              marginTop: 20,
              marginLeft: 12,
              color: '#000'
            }"
          >
            {{ merchantname }}
          </text>
          <text
            :style="{
              position: 'absolute',
              fontSize: 15,
              marginLeft: 115,
              marginTop: 50,
              color: '#000'
            }"
          >
            {{ merchantemail }}
          </text>
        </view>

        <view v-else
          :style="{
            flex: 1,
            flexDirection: 'row',
            marginTop: 20,
            marginBottom: -0
          }"
        >
          <image 
            :style="{ height:100, width: 100, resizeMode: 'stretch' }"
            :source = merchantlogo />
          <text
            :style="{
              fontSize: 25,
              marginTop: 20,
              marginLeft: 12,
              color: '#000'
            }"
          >
            {{ merchantname }}
          </text>
          <text
            :style="{
              position: 'absolute',
              fontSize: 15,
              marginLeft: 115,
              marginTop: 50,
              color: '#000'
            }"
          >
            {{ merchantemail }}
          </text>
        </view>

        <view
          :style="{
            flex: 1,
            flexDirection: 'row',
            marginTop: 0,
            marginBottom: -0
          }"
        >
        </view>
        <view :style="{ marginTop: 20 }">
          <text>Company Profile</text>
          <nb-item class="input-field">
            <nb-icon active name="person" />
            <nb-input
              disabled
              class="input-text"
              placeholder="Company Name"
              v-model="profileName"
            />
            <TouchableOpacity :on-press="openQrDialog">
              <image :source="require('../../../assets/edit-icon.png')" />
            </TouchableOpacity>
          </nb-item>
        </view>
        <text>Business Settings</text>

        <view style="{styles.container}">
          <text :style="{ marginTop: 15 }">{{percFee}}% Merchant Fees</text>
          <switch
            :style="{ marginLeft: 250, marginTop: -20, marginRight: 40}"
            disabled
            :value="value"
          />
        </view>
        <view
          :style="{
            marginTop: 5,
            backgroundColor: '#8f8f8f',
            height: 1,
            width: '90%'
          }"
        />
        <view style="{styles.container}">
          <text :style="{ marginTop: 15 }">Use logo as default image</text>
          <switch
            :style="{  marginLeft: 250, marginTop: -20, marginRight: 40 }"
            disabled
            :value="value2"
          />
        </view>
        <view
          :style="{
            marginTop: 5,
            backgroundColor: '#8f8f8f',
            height: 1,
            width: '90%'
          }"
        />
        <text :style="{ marginTop: 20 }">About Us</text>
        <view
          
          :style="{
            flex: 1,
            flexDirection: 'row',
            marginTop: 20,
            marginBottom: -0
          }"
        >
          <image
            
            :source="require('../../../assets/profile-icon-question.png')"
          />

          <text
            :on-press="goLearn"
            :style="{
              fontSize: 15,
              marginLeft: 5,
              marginTop: 3,
              color: '#000'
            }"
          >
            Learn more about LayUp
          </text>
        </view>
        <view
          :style="{
            flex: 1,
            flexDirection: 'row',
            marginTop: 20,
            marginBottom: -0
          }"
        >
          <image :source="require('../../../assets/profile-icon-doc.png')" />

          <text
            :on-press="goPrivacy"
            :style="{
              fontSize: 15,
              marginLeft: 5,
              marginTop: 3,
              color: '#000'
            }"
          >
            Privacy Policy
          </text>
        </view>
        <view
          :style="{
            flex: 1,
            flexDirection: 'row',
            marginTop: 20,
            marginBottom: -0
          }"
        >
          <image :source="require('../../../assets/profile-icon-terms.png')" />

          <text
            :on-press="goTerms"
            :style="{
              fontSize: 15,
              marginLeft: 5,
              marginTop: 3,
              color: '#000'
            }"
          >
            Terms & Condtions
          </text>
        </view>
        <text :on-press="logOut" :style="{ marginTop: 20, marginBottom: 150 }"
          >Log Out</text
        >
      </view>
    </nb-content>

    <view
      :style="{
        flex: 1,
        width: '100%',
        position: 'absolute',
        bottom: 0,
        backgroundColor: '#fff',
        flexDirection: 'row',
        padding: 0,
        margin: 0,
        alignItems: 'stretch'
      }"
    >
      <view class="bottom-btns">
        <TouchableOpacity :style="{ flex: 1 }" :on-press="gotoDashboard">
          <image
            :resizeMode="'contain'"
            :style="{ flex: 1, width: 70, bottom: 4  }"
            :source="require('../../../assets/home-icon.png')"
          />
        </TouchableOpacity>
      </view>

      <view class="bottom-btns">
        <TouchableOpacity :style="{ flex: 1 }" :on-press="gotoTransactions">
          <image
            :resizeMode="'contain'"
            :style="{ flex: 1, width: 70, bottom: 4  }"
            :source="require('../../../assets/transaction-icon.png')"
          />
        </TouchableOpacity>
      </view>

      <view class="plan-btn">
        <TouchableOpacity :style="{ flex: 1 }" :on-press="openPlanNav">
          <image
            :resizeMode="'contain'"
            :style="{ flex: 1, width: 70, height: 80 }"
            :source="require('../../../assets/create-plan-icon.png')"
          />
        </TouchableOpacity>
      </view>

      <view class="bottom-btns">
        <TouchableOpacity :style="{ flex: 1 }" :on-press="goToContact">
          <image
            :resizeMode="'contain'"
            :style="{ flex: 1, width: 70, bottom: 4  }"
            :source="require('../../../assets/support-icon.png')"
          />
        </TouchableOpacity>
      </view>

      <view class="bottom-btns">
        <TouchableOpacity :style="{ flex: 1 }">
          <image
            :resizeMode="'contain'"
            :style="{ flex: 1, width: 70, bottom: 4  }"
            :source="require('../../../assets/profile-icon-on.png')"
          />
        </TouchableOpacity>
      </view>
    </view>
  </nb-container>
</template>

<script>
import { Dimensions, Platform } from "react-native";
import launchScreenBg from "../../../assets/launchscreen-bg.png";
import launchscreenLogo from "../../../assets/merchant-logo.png";
import { AsyncStorage } from "react-native";
import SvgQRCode from 'react-native-qrcode-svg';
//import { QRCode as CustomQRCode } from 'react-native-custom-qr-codes-expo';

export default {
  props: {
    navigation: {
      type: Object
    }
  },
  data() {
    return {
      android: Platform.OS === "android" ? true : false,
      content: "",
      content1:"https://merchant-sandbox.layup.co.za/dashboard/profile",
      content2:"https://merchant.layup.co.za/dashboard/profile",
      size: 240,
      bottomNavContainer: false,
      qrCodeContainer: false,
      launchScreenBg,
      launchscreenLogo,
      merchantlogo: {uri: 'https://miro.medium.com/max/3016/0*5RLp-IJkJC6dLHvV.jpg'},
      merchantemail: "",
      merchantname: "",
      merchantstring: "",
      merchant: {},
      value: false,
      value2: "",
      nourl: true,
      profileName: "",
      token: null,
      orders: [],
      active: 0,
      completed: 0,
      cancelled: 0,
      percFee:"",
      stylesObj: {
        logoContainerStyle: {
          marginTop: Dimensions.get("window").height / 8
        },
        logoStyle: {
          left: Platform.OS === "android" ? 40 : 50,
          top: Platform.OS === "android" ? 40 : 60,
          width: 190,
          height: 69
        },
        statusStyle: {
          top: Platform.OS === "android" ? 0 : 25,
        },
        btnContainer: {
          backgroundColor: "#6faf98",
          alignSelf: "center"
        }
      }
    };
  },
  async created() {
    this.content = this.content1; //uat
    //this.content = this.content2; //prod
    this.merchantstring = await AsyncStorage.getItem("merchant");
    this.merchant = JSON.parse(this.merchantstring);
    if(this.merchant.imageUrl != undefined && this.merchant.imageUrl != ""){
      //alert(this.merchant.imageUrl);
      this.nourl = false;
      this.merchantlogo = {uri: this.merchant.imageUrl };
      //alert(this.merchantlogo.toString())
    }
    //alert(this.merchantstring)
    this.merchantemail = await AsyncStorage.getItem("layup-email");
    this.merchantname = await AsyncStorage.getItem("layup-name");
    this.profileName = await AsyncStorage.getItem("layup-name");
    this.percFee = await AsyncStorage.getItem("layup-merchantpercfee");
    if(this.percFee != ""){
      this.value = true
    }
  },
  methods: {
    handleChange(val) {
      this.value = val;
    },    
    handleChange2(val) {
      this.value2 = val;
    },
    goWebview() {
     
      this.navigation.navigate("Webview");
    },
    goLogin() {
      AsyncStorage.setItem("layup-url", "https://merchant-sandbox.layup.co.za/dashboard/profile"); //uat
      //AsyncStorage.setItem("layup-url", "https://merchant.layup.co.za/dashboard/profile"); //prod
      this.navigation.push("Webview");
    }, 
    goLearn() {
      AsyncStorage.setItem("layup-url", "https://layup.co.za/for-merchants");
      this.navigation.push("Webview");
    },
    goPrivacy() {
      AsyncStorage.setItem("layup-url", "https://layup.co.za/privacy-policy"); 
      this.navigation.push("Webview");
    },
    goTerms() {
      AsyncStorage.setItem("layup-url", "https://layup.co.za/terms-and-conditions");
      this.navigation.push("Webview");
    },
    gotoTransactions() {
      this.bottomNavContainer = false;
      this.navigation.push("transactions");
    },
    goToProfile() {
      this.bottomNavContainer = false;
      this.navigation.push("Profile");
    },
    goToTransactionLog() {
      this.bottomNavContainer = false;
      this.navigation.push("transactionLog");
    },
    gotoDashboard() {
      this.bottomNavContainer = false;
      this.navigation.push("Dashboard");
    },
    gotoPayNow() {
      this.bottomNavContainer = false;
      this.navigation.push("SearchPlan");
    },
    gotoCreatePlan() {
      this.bottomNavContainer = false;
      this.navigation.push("CreatePlanStep1");
    },
    goToContact(){
      this.bottomNavContainer = false;
      this.navigation.push("Contact");
    },  
    openPlanNav() {
      this.bottomNavContainer = true;
    },
    closeBottomNav() {
      this.bottomNavContainer = false;
    },
    handleLetGoBtnPress() {
      this.navigation.openDrawer();
    },
    logOut() {
      //alert("LOGOUT")
      this.navigation.navigate("Home");
    },
    closeQrDialog() {
      this.qrCodeContainer = false;
    },
    openQrDialog() {
      this.qrCodeContainer = true;
    }
  },
  //components: { SvgQRCode, CustomQRCode }
  components: { SvgQRCode } 
};
</script>

<style>
.heading {  
  margin-top: 20px;
  text-align: left;
  font-size: 25px;
  color: #1f282b;
}
.input-field {
  width: 90%;
  margin-top: 5px;
  margin-bottom: 25px;
}
.input-text {
  padding-left: 20px;
}
.modal-dialog-container {
  background-color: transparent;
}
.modal-dialog-qr {
  background-color: #0c4152;
  opacity: 0.5;
}
.modal-dialog {
  background-color: #fff;
  opacity: 0.8;
}
.cardholderqr {
  flex: 1;
  width: 80%;
  align-self: center;
  color: #000;
  z-index: 9;
  text-align: left;
}
.bottom-btns {
  height: 80px;
  text-align: center;
  width: 20%;
}
.plan-btn {
  margin-top: -20px;
  width: 20%;
}
.cardholder {
  width: 90%;
  align-self: center;
  color: #fff;
}
.bg-main {
  background-color: #f1f2f7;
}
.imageContainer {
  flex: 1;
}
.text-color-primary {
  color: blue;
  font-family: Roboto;
}
.logoContainer {
  flex: 1;
}
.logo {
  position: absolute;
  width: 280;
  height: 100;
}

.text-container {
  flex: 1;
  margin-left: 30px;
}
.text-color-white {
  color: white;
}
.button-container {
  background-color: #6faf98;
  align-self: center;
}
</style>
