<template>
  <nb-container class="bg-main">
    <status-bar v-if = "android"
        :barStyle="'light-content'"
        backgroundColor="#0c4152"
      ></status-bar>
    <nb-container
      v-if="isLoading"
      class="bg-main"
      style="position:absolute; left:0; top:0; width:100%; height:100%; z-index:999;"
    >
      <nb-spinner
        color="#0c4152"
        size="large"
        style="position:absolute; left:45%; top:25%;"
      />
    </nb-container>
    <view class="closeIcon" :style="stylesObj.logoStyle">
      <TouchableOpacity :on-press="goToHomeScreen">
        <image :source="require('../../../assets/close_icon.png')" />
      </TouchableOpacity>
    </view>
    <nb-content padder>
      <view class="text-container">
        <text class="heading1">Sign Up</text>
        <text>Sign up to become a merchant with LayUp.</text>
      </view>
      <nb-form>
        <InputWithError
          :error="$v.name.$dirty && !$v.name.required"
          msg="Merchant name is required"
        >
          <nb-input
            class="input-text"
            placeholderTextColor="#979797"
            placeholder="Merchant Name"
            v-model="name"
            :on-blur="() => $v.name.$touch()"
          />
        </InputWithError>
       
        <InputWithError
          :error="$v.email.$dirty && !$v.email.vaildEmail"
          msg="Email format is invalid"
        >
          <nb-input
            placeholderTextColor="#979797"
            class="input-text"
            keyboard-type="email-address"
            autoCapitalize="none"
            placeholder="Email Address"
            v-model="email"
            :on-blur="() => $v.email.$touch()"
          />
        </InputWithError>
        <InputWithError
          :error="$v.cellNumber.$dirty && !$v.cellNumber.required"
          msg="Cellnumber is required"
        >
          <nb-input
            class="input-text"
            type="number"
            placeholderTextColor="#979797"
            placeholder="Contact Number"
            keyboardType="phone-pad"
            v-model="cellNumber"
            :on-blur="() => $v.cellNumber.$touch()"
          />
        </InputWithError>

        <InputWithError
          :error="
            $v.password.$dirty &&
              !$v.password.required &&
              !$v.password.minLength
          "
          msg="Password minimum 8 characters"
        >
          <nb-input
            class="input-text"
            placeholderTextColor="#979797"
            placeholder="Password"
            :secureTextEntry="true"
            v-model="password"
            :on-blur="() => $v.password.$touch()"
          />
        </InputWithError>
        <InputWithError
          :error="$v.password2.$dirty && !$v.password2.sameAsPassword"
          msg="Confirm Password mismatch"
        >
          <nb-input
            class="input-text"
            placeholderTextColor="#979797"
            placeholder="Confirm Password"
            :secureTextEntry="true"
            v-model="password2"
            :on-blur="() => $v.password2.$touch()"
          />
        </InputWithError>
      </nb-form>
      <nb-button rounded class="loginbtn2" :on-press="register">
        <nb-text class="labelbtntext">Sign Up</nb-text>
      </nb-button>
      <view
        :style="{
          flex: 1,
          flexDirection: 'row',
          alignSelf: 'center'
        }"
      >
        <text
          :style="{ marginTop: 4, marginBottom: 15, alignSelf: 'center' }"
          :on-press="goToRegisterScreen2"
          >Already have an account?
        </text>
        <text
          :style="{
            marginTop: 4,
            marginBottom: 15,
            alignSelf: 'center',
            color: '#19bdc0'
          }"
          :on-press="goToRegisterScreen2"
          >Login</text
        >
      </view>
    </nb-content>
  </nb-container>
</template>

<script>
import { Dimensions, Platform } from "react-native";
import axios from "../../axios/index.js";
import { AsyncStorage } from "react-native";
import { required, email, minLength, sameAs } from "vuelidate/lib/validators";
import { Toast } from "native-base";
export default {
  props: {
    navigation: {
      type: Object
    }
  },
  data() {
   return {
      android: Platform.OS === "android" ? true : false,
      isLoading: false,
      username: "",
      name: "",
      cellNumber: "",
      email: "",
      password: "",
      password2: "",
      redirectTo: "",

      stylesObj: {
        logoContainerStyle: {
          marginTop: Dimensions.get("window").height / 8
        },
        logoStyle: {
          top: Platform.OS === "android" ? 0 : 25
        },
        btnContainer: {
          backgroundColor: "#6faf98",
          alignSelf: "center"
        }
      }
    };
  },
  validations: {
    
    name: { required },
    cellNumber: { required },
    email: { vaildEmail: email },
    password: { minLength: minLength(8) },
    password2: { sameAsPassword: sameAs("password") }
  },
  methods: {
    goToRegisterScreen2() {
      this.navigation.navigate("Login");
    },
    goToHomeScreen() {
      this.navigation.navigate("Home");
    },
    register() {
     
      this.$v.name.$touch();
      this.$v.cellNumber.$touch();
      this.$v.email.$touch();
      this.$v.password.$touch();
      this.$v.password2.$touch();
      if (
        
        this.name == "" ||
        this.cellNumber == "" ||
        this.email == "" ||
        this.password == "" ||
        this.password2 == ""
      ) {
        Toast.show({
          text: "Please fill out all fields marked in red",
          duration: 4000,
          type: "warning"
        });
      } else {
        this.isLoading = true;
        const postdata = {
          
          name: this.name,
          cellNumber: this.cellNumber,
          email: this.email,
          role: "MERCHANT",
          password: this.password,
          redirectTo: "https://merchant-sandbox.layup.co.za" //uat
          //redirectTo: "https://merchant.layup.co.za" //prod
        };

        axios({
          method: "POST",
          url: "/v1/auth/register",
          data: postdata
        }).then(
          result => {
            this.isLoading = false;
            this.result = result.data;
            AsyncStorage.setItem("layup-email", this.email);
            this.navigation.navigate("Register1");
          },
          error => {
            Toast.show({
              text: JSON.stringify(error.response.data),
              duration: 4000,
              type: "warning"
            });
            this.isLoading = false;
          }
        );
      }
    }
  }
};
</script>

<style>
.bg-main {
  background-color: #f1f2f7;
}
.input-text {
  padding-left: 20px;
}

.closeIcon {
  
  padding-right: 15px;
  padding-top: 15px;
  height: 40px;
  align-items: flex-end;
  z-index: 9;
}

.text-container {
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 30px;
  padding-bottom: 10px;
  background-color: transparent;
}
.text-color-white {
  color: white;
}
.button-container {
  background-color: #6faf98;
  align-self: center;
}
.heading1 {
  font-weight: bold;
  font-size: 38px;
  color: #1f282b;
  margin-bottom: 5px;
}

.loginbtn2 {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #151a30;
}

.labelbtntext {
  text-align: center;
  width: 100%;
  text-transform: none;
}
</style>
