<template>
  <nb-container class="bg-main">
    <status-bar v-if = "android"
        :barStyle="'light-content'"
        backgroundColor="#0c4152"
      ></status-bar>
     <status-bar v-else 
        :barStyle="'dark-content'"
     ></status-bar> 
    <nb-container
      v-if="isLoading"
      class="bg-main"
      style="position:absolute; left:0; top:0; width:100%; height:100%; z-index:999;"
    >
      <nb-spinner
        color="#0c4152"
        style="position:absolute; left:45%; top:25%;"
      />
    </nb-container>

    <nb-container
      v-if="qrCodeContainer"
      class="modal-dialog-container"
      style="position:absolute; left:0; top:0; width:100%; height:100%; z-index:2;"
    >
      <nb-container
        class="modal-dialog"
        style="position:absolute; left:0; top:0; width:100%; height:100%;"
      ></nb-container>
      <nb-content>
        <nb-card
          class="cardholderqr"
          :style="{ borderRadius: 20, padding: 10, marginTop: '10%' }"
        >
          <nb-body
            :style="{
              width: '100%',
              alignSelf: 'stretch',
              textAlign: 'left',
              padding: 10
            }"
          >
            <view
              :style="{
                flex: 1,
                flexDirection: 'row'
              }"
            >
              <text
                :style="{
                  flex: 1,
                  marginTop: 10,
                  fontSize: 18
                }"
                >Payment Plan QR</text
              >
              <nb-button
                transparent
                :on-press="closeQrDialog"
                :style="{
                  textAlign: 'right'
                }"
              >
                <image :source="require('../../../assets/close_icon.png')" />
              </nb-button>
            </view>
            <view>
              <text :style="{ margin: 15 }"
                >Scan below the QR Code to access your payment plan</text
              >
              <SvgQRCode  :size="size" :value="content" />
            </view>
          </nb-body>
        </nb-card>
      </nb-content>
    </nb-container>
     <view class="closeIcon" :style="stylesObj.logoStyle">
      <TouchableOpacity :on-press="goToHomeScreen">
        <image :source="require('../../../assets/close_icon.png')" />
      </TouchableOpacity>
    </view>
    <nb-content>
      <view class="text-container">
        <text class="heading">Payment Plans</text>
        <view
          :style="{
            flex: 1,
            flexDirection: 'row',
            marginTop: 20,
            marginBottom: -0
          }"
        >
          <view v-if="transactionorders.state == 'Completed'">
            <image :source="require('../../../assets/check_icon_l_dark.png')" />
          </view>
          <view v-if="transactionorders.state == 'Placed'">
            <image :source="require('../../../assets/check_icon_l.png')" />
          </view>
          <view v-if="transactionorders.state == 'CANCELLED'">
            <image :source="require('../../../assets/cancel_icon_l.png')" />
          </view>
          <text
            v-if="transactionorders.state == 'Completed'"
            :style="{
              fontSize: 25,
              color: 'green',
              marginLeft: 5
            }"
          >
            {{transactionorders.state}}
          </text>
          <text
            v-if="transactionorders.state == 'Placed'"
            :style="{
              fontSize: 25,
              color: '#5fce2f',
              marginLeft: 5
            }"
          >
            {{transactionorders.state}}
          </text>
          <text
            v-if="transactionorders.state == 'CANCELLED'"
            :style="{
              fontSize: 25,
              color: '#ff475c',
              marginLeft: 5
            }"
          >
            Cancelled
          </text>
        </view>
        <text :style="{ marginTop: 10, fontWeight: 'bold' }">Customer</text>
        <text :style="{ color: '#8f8f8f' }">{{ transname }}</text>
        <!-- <text :style="{ color: '#8f8f8f' }">Ashleigh@gmail.com</text> -->
        <text class="heading-ref"
          >Order Ref. {{ transactionorders.reference }}</text
        >
        <text>{{ transactionorders.name }}</text>
        <view
          :style="{
            flex: 1,
            flexDirection: 'row',
            marginTop: 20,
            marginBottom: 0
          }"
        >
          <text
            :style="{
              flex: 1,
              marginTop: 5,
              color: '#8f8f8f'
            }"
            >Total Order Value</text
          >
          <text
            :style="{
              textAlign: 'right',
              marginTop: 5
            }"
            >{{ totalorder/100 | numformat}}</text
          >
        </view>

        <view
          :style="{
            flex: 1,
            flexDirection: 'row',
            marginTop: 0,
            marginBottom: 0
          }"
        >
          <text
            :style="{
              flex: 1,
              marginTop: 5,
              color: '#8f8f8f'
            }"
            >Total Paid</text
          >
          <text
            :style="{
              textAlign: 'right',
              marginTop: 5
            }"
            > {{ totalpaidtoday/100 | numformat }}</text
          >
        </view>
        <view
          :style="{
            flex: 1,
            flexDirection: 'row',
            marginTop: 0,
            marginBottom: 0
          }"
        >
          <text
            :style="{
              flex: 1,
              marginTop: 5,
              color: '#8f8f8f'
            }"
            >Remaining Balance</text
          >
          <text
            :style="{
              textAlign: 'right',
              marginTop: 5
            }"
          >
            {{ remainingbalance/100 | numformat }}</text
          >
        </view>
        <view
          :style="{
            flex: 1,
            flexDirection: 'row',
            marginTop: 0,
            marginBottom: 0
          }"
        >
          <text
            :style="{
              flex: 1,
              marginTop: 5,
              color: '#8f8f8f'
            }"
            >Payment Plan QR Code</text
          >
          <text
            :on-press="openQrCode"
            :style="{
              textAlign: 'right',
              marginTop: 5
            }"
          >
            View QR Code
          </text>
        </view>
        <nb-card
          class="cardholder"
          :style="{
            borderRadius: 10,
            backgroundColor: '#222b45',
            marginTop: 20
          }"
        >
          <nb-body
            :style="{
              width: '100%',
              alignSelf: 'stretch',
              textAlign: 'left',
              padding: 10
            }"
          >
            <view
              :style="{
                flex: 1,
                flexDirection: 'row'
              }"
            >
              <text
                :style="{
                  flex: 1,
                  color: '#fff'
                }"
              >
                Type / Date
              </text>
              <text
                :style="{
                  flex: 1,
                  color: '#fff',
                  textAlign: 'center'
                }"
              >
                Amount Paid
              </text>
              <text
                :style="{
                  textAlign: 'right',
                  color: '#fff'
                }"
              >
                Balance
              </text>
            </view>
          </nb-body>
        </nb-card>
        <nb-body
          v-for="(contribution, index) of contributions"
          :key="index"
          :style="{
            width: '100%',
            alignSelf: 'stretch',
            textAlign: 'left',
            padding: 10
          }"
        >
          <view
            :style="{
              flex: 1,
              flexDirection: 'row'
            }"
          >
            <text v-if="contribution.paid == true "
              :style="{
                flex: 1,
                fontSize: 14,
                color: '#222b45'
              }"
            >
              {{ contribution.trantype }}
            </text>
             <text v-if="contribution.paid != true && contribution.trantype == 'INSTALMENT'"
              :style="{
                flex: 1,
                fontSize: 14,               
                color: '#8f8f8f'
              }"
            >
            {{ contribution.trantype }} 
            </text>
            <text v-if="contribution.paid != true && contribution.trantype == 'MISSED INSTALMENT'"
              :style="{
                flex: 1,
                fontSize: 14,               
                color: '#222b45'
              }"
            >
            {{ contribution.trantype }} 
            </text>
            <text v-if="contribution.paid == true"
              :style="{
                flex: 1,
                fontSize: 14,
                textAlign: 'center',
                color: '#222b45'
              }"
            >
              {{ contribution.amount/100 | numformat}}
            </text>
             <text v-if="contribution.paid != true"
              :style="{
                flex: 1,
                fontSize: 14,
                 textAlign: 'center',
                color: '#8f8f8f'
              }"
            >
              {{ contribution.amount/100 | numformat}}
            </text>
            <text v-if="contribution.paid == true"
              :style="{
                textAlign: 'right',
                fontSize: 14,
                color: '#222b45'
              }"
            >
              {{contribution.balance/100 | numformat}}
            </text>
             <text v-if="contribution.paid != true"
              :style="{
                textAlign: 'right',
                fontSize: 14,
                color: '#8f8f8f',
                width: 50
              }"
            >
              
            </text>
          </view>
          <view
            :style="{
              flex: 1,
              flexDirection: 'row'
            }"
          >
            <text v-if="contribution.paid == true"
              :style="{
                flex: 1,
                fontSize: 12,
                color: '#8f8f8f'
              }"
            >
              {{ contribution.timestamp | dateformat }}
            </text>
            <text v-if="contribution.paid != true"
              :style="{
                flex: 1,
                fontSize: 12,
                color: '#8f8f8f'
              }"
            >
              Due {{ contribution.timestamp | dateformat }}
            </text>
          </view>
          <view
            :style="{
              backgroundColor: '#8f8f8f',
              marginTop: 10,
              height: 1,
              width: '100%'
            }"
          />
        </nb-body>
      </view>
       <view v-if="showButtons">
      <nb-button rounded class="forgotbtn" :on-press="printStatement">
        <nb-text class="labelbtntext">Print Statement</nb-text>
      </nb-button>
      </view>
    </nb-content>
  </nb-container>
</template>

<script>
import { Dimensions, Platform } from "react-native";
import { AsyncStorage } from "react-native";
import SvgQRCode from 'react-native-qrcode-svg';
//import axios from "../../axios/index.js";
// import axios from "axios";

export default {
  props: {
    navigation: {
      type: Object,
    },
  },
  data() {
    return {
      android: Platform.OS === "android" ? true : false,
      content: "",
      content1:"https://sandbox.layup.co.za/dashboard/purchases/",
      content2:"https://layup.co.za/dashboard/purchases/",
      size: 250,
      qrCodeContainer: false,
      isLoading: false,
      orderref: "",
      username: "",
      transname: "",
      refNumber: "",
      totalorder: "",
      totalpaidtoday: "",
      totalpaid: "",
      remainingbalance: "",
      printdata: "",
      transactionOrderId: "",
      transactionorders: [],
      transactionordersplans: [],
      transactionorderspayments: [],
      contributions: [],
      transactions2: [],
      showButtons: false,
      stylesObj: {
        logoContainerStyle: {
          marginTop: Dimensions.get("window").height / 8,
        },
        logoStyle: {
          top: Platform.OS === "android" ? 0 : 25,
        },
        btnContainer: {
          backgroundColor: "#6faf98",
          alignSelf: "center",
        },
      },
    };
  },
  async created() {
    //this.isLoading = true;
    this.content = this.content1; //uat
    //this.content = this.content2; //prod
    this.orderref = await AsyncStorage.getItem("orderref2");
    this.transactionOrderId = await AsyncStorage.getItem("transactionOrderId");
    this.content = this.content + this.transactionOrderId
    this.username = await AsyncStorage.getItem("layup-name");
    //alert(this.transactionOrderId);
    this.getorders();
  },
  computed: {},
  components: { SvgQRCode } ,
  filters: {
    numformat: function(num) {
      num = Math.round(num * 100) / 100;
      var num_parts = num.toString().split(".");
      var dispnum = "";
      num_parts[0] = num_parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      dispnum = num_parts.join(".");
      if (
        dispnum.substr(dispnum.length - 3, 1) != "." &&
        dispnum.substr(dispnum.length - 2, 1) != "."
      ) {
        dispnum = dispnum + ".00";
      }
      if (dispnum.substr(dispnum.length - 2, 1) == ".") {
        dispnum = dispnum + "0";
      }
      if(dispnum.substring(0,3) == NaN){
        dispnum = "0.00"
      }
      return "R" + dispnum;
    },
    dateformat: function(date) {
      var options = {
        weekday: "long",
        year: "numeric",
        month: "long",
        day: "numeric",
      };
      var thedate = new Date(date).toUTCString();
      var themonth = thedate.substr(8, 3);
      var theday = thedate.substr(5, 2);
      var theyear = thedate.substr(12, 4);
      var thetime = thedate.substr(17, 5);
      var month = "";
      switch (themonth) {
        case "Jan":
          month = "January";
          break;
        case "Feb":
          month = "February";
          break;
        case "Mar":
          month = "March";
          break;
        case "Apr":
          month = "April";
          break;
        case "May":
          month = "May";
          break;
        case "Jun":
          month = "June";
          break;
        case "Jul":
          month = "July";
          break;
        case "Aug":
          month = "August";
          break;
        case "Sep":
          month = "September";
          break;
        case "Oct":
          month = "October";
          break;
        case "Nov":
          month = "November";
          break;
        case "Dec":
          month = "December";
      }

      if (theday.substr(0, 1) == "0") {
        theday = theday.substr(1, 1);
      }
      var dispdate = month + " " + theday + ", " + theyear ;//+ " " + thetime;
      //var dispdate = thedate
      return dispdate;
    },
  },
  methods: {
    numformat: function(num) {
      num = Math.round(num * 100) / 100;
      var num_parts = num.toString().split(".");
      var dispnum = "";
      num_parts[0] = num_parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      dispnum = num_parts.join(".");
      if (
        dispnum.substr(dispnum.length - 3, 1) != "." &&
        dispnum.substr(dispnum.length - 2, 1) != "."
      ) {
        dispnum = dispnum + ".00";
      }
      if (dispnum.substr(dispnum.length - 2, 1) == ".") {
        dispnum = dispnum + "0";
      }
      if(dispnum.substring(0,3) == NaN){
        dispnum = "0.00"
      }
      return "R" + dispnum;
    },
    dateformat: function(date) {
      //alert(date)
      var options = {
        weekday: "long",
        year: "numeric",
        month: "long",
        day: "numeric",
      };
      var thedate = new Date(date).toUTCString();
      var themonth = thedate.substr(8, 3);
      var theday = thedate.substr(5, 2);
      var theyear = thedate.substr(12, 4);
      var thetime = thedate.substr(17, 5);
      var month = "";
      switch (themonth) {
        case "Jan":
          month = "January";
          break;
        case "Feb":
          month = "February";
          break;
        case "Mar":
          month = "March";
          break;
        case "Apr":
          month = "April";
          break;
        case "May":
          month = "May";
          break;
        case "Jun":
          month = "June";
          break;
        case "Jul":
          month = "July";
          break;
        case "Aug":
          month = "August";
          break;
        case "Sep":
          month = "September";
          break;
        case "Oct":
          month = "October";
          break;
        case "Nov":
          month = "November";
          break;
        case "Dec":
          month = "December";
      }

      if (theday.substr(0, 1) == "0") {
        theday = theday.substr(1, 1);
      }
      var dispdate = month + " " + theday + ", " + theyear ;//+ " " + thetime;
      //var dispdate = thedate
      return dispdate;
    },
    printStatement(data){ 
      var selectdata = "";
       data =`!gray 10\n!hz l\n!asc l\n!yspace 12\n*text c ${this.username} \n!gray 5\n!hz n\n!asc n\n!yspace 0/n/!gray 10\n!hz l\n!asc l\n!yspace 12\n` 
      data = data + `!gray 10\n!hz l\n!asc l\n!yspace 12\n*text l Statement \n!gray 5\n!hz n\n!asc n\n!yspace 0/n/!gray 10\n!hz l\n!asc l\n!yspace 12\n` 
      data = data + `*text l Customer \n!gray 5\n!hz n\n!asc n\n!yspace 0/n/*text l ${this.transname}/n/*text l  /n/*feedline 1/n/!gray 10\n` 
      data = data + `!hz l\n!asc l\n!yspace 12\n*text l Order Ref. ${this.transactionorders.reference} \n` 
      data = data + `!gray 5\n!hz n\n!asc n\n!yspace 0/n/*text l ${this.transactionorders.name}/n/` 
      data = data + `*line/n/!NLFONT 12 12 3\n*TEXT l Total Order Value:\n!NLFONT 12 12 3\n*text r ${this.numformat(this.totalorder/100)}/n/` 
      data = data + `!NLFONT 12 12 3\n*TEXT l Total Paid:\n!NLFONT 12 12 3\n*text r ${this.numformat(this.totalpaidtoday/100)}/n/` 
      data = data + `!NLFONT 12 12 3\n*TEXT l Remaining Balance:\n!NLFONT 12 12 3\n*text r ${this.numformat(this.remainingbalance/100)}/n/` 
      data = data + `*feedline 1/n/*line/n/!NLFONT 12 12 3\n*TEXT l Type:\n!NLFONT 12 12 3\n*TEXT c Amount Paid:\n!NLFONT 12 12 3\n*text r Balance:/n/*line/n/!NLFONT 12 12 3\n`
      data = data + this.printdata
       data = data + `*feedline 2/n/*text c Scan the QR code to access your payment plan./n/*feedline 1/n/!qrcode 200 2\n*qrcode c ${this.content}/n/*feedline 1`
      selectdata = data; 
      //fetch('http://192.168.0.152:9000/runOtherApp?key=Print&printString='+ encodeURI(selectdata));
      this.doPrint(selectdata);
      //alert(data.length);
      //this.doPrint(selectdata)
     
    },
    doPrint(selectdata){
      this.$store
         .dispatch("bridge/printslip", selectdata)
         .then(response => {
             //alert('done')
         });
    },
    
     toTimestamp(strDate){
      var themonth = strDate.substr(4,3) 
      var theday = strDate.substr(8,2) 
      var thetime = strDate.substr(16,8)
      theday = theday.toString()
      if(theday.length == 1){
        theday = "0" + theday
      }
      var theyear = strDate.substr(11,4) 
      var month
      var thedate
      switch (themonth) {
        case "Jan":
          month = "01";
          break;
        case "Feb":
          month = "02";
          break;
        case "Mar":
          month = "03";
          break;
        case "Apr":
          month = "04";
          break;
        case "May":
          month = "05";
          break;
        case "Jun":
          month = "06";
          break;
        case "Jul":
          month = "07";
          break;
        case "Aug":
          month = "08";
          break;
        case "Sep":
          month = "09";
          break;
        case "Oct":
          month = "10";
          break;
        case "Nov":
          month = "11";
          break;
        case "Dec":
          month = "12";
      }
      thedate = month + "/" + theday + "/" + theyear + " " + thetime 
      var datum = Date.parse(thedate);
      return datum;
    },
    getorders() {
      const selectdetails =
        this.transactionOrderId +
        "?populate=plans,plans.payments,plans.benefactor";
        const selectdetails2 = {
          selectdetails:selectdetails,
          orderref: this.orderref
        }
      this.$store
        .dispatch("transactionorders/gettransaction", selectdetails2)
        .then(response => {
          this.isLoading = false;
          this.getStorageValue("transactionOrders").then(value => {
            
            this.transactionorders = JSON.parse(value);
             if (this.transactionorders.state == "PLACED"){
                this.transactionorders.state = "Placed"
              }
               if (this.transactionorders.state == "PARTIAL"){
                this.transactionorders.state = "Partial"
              }
            if (this.transactionorders.state == "COMPLETED" ){
                this.transactionorders.state = "Completed"
              }
            //console.log( value);
            this.totalorder = this.transactionorders.amountDue;
            if (this.transactionorders.plans != null) {
              this.transactionordersplans = this.transactionorders.plans[0];
              this.transname = this.transactionorders.plans[0].benefactor.name;
              this.transactionorderspayments = this.transactionorders.plans[0].payments;
              var transactions = this.transactionorderspayments
              var balance =  this.transactionorders.amountDue 
              this.totalpaidtoday = 0  
              var transactions1 = transactions
              
              for (let i = 0; i < transactions1.length; i++) {
               
                var transaction2 = {}
                if (transactions1[i].paymentType == "DEPOSIT" && transactions1[i].paid == true|| transactions1[i].paymentType == "CONTRIBUTION" || transactions1[i].paymentType == null && transactions1[i].paid == true){
                   transaction2.timestamp = transactions1[i].timestamp
                   transaction2.paid = transactions1[i].paid
                   transaction2.amount = transactions1[i].amount
                   transaction2.paymentMethod = transactions1[i].paymentMethod
                   transaction2.paymentType = transactions1[i].paymentType
                   if (transaction2.paymentType == null){
                     transaction2.paymentType = "CONTRIBUTION"
                   }
                   
                }else{
                  duedate = transactions1[i].due
                  if(duedate != undefined){
                   transaction2.timestamp = this.toTimestamp(duedate)
                   transaction2.due = transactions1[i].due
                  }else{
                   transaction2.timestamp = transactions1[i].timestamp
                   transaction2.paymentType = "DEPOSIT"
                   var today = new Date().toString()
                   transaction2.due = today
                  } 
                  transaction2.paid = transactions1[i].paid
                  transaction2.amount = transactions1[i].amount
                  
                }
                this.transactions2.push(transaction2);
              }  
              this.transactions2.sort((a, b)=> (a.timestamp > b.timestamp) ? 1 : -1)
              transactions = this.transactions2
              // alert(JSON.stringify(this.transactions2));
             
               for (let i = 0; i < transactions.length; i++) {
                    //for (let i = 1; i < 2; i++) {  
                var printbalance
                var duedate
                var timestamp
                var amount
                var trantype
                var orgtrantype = ""
                var paid
                var addtransaction = false
                //if (transactions[i].paymentType != "DEPOSIT" && transactions[i].paymentType != null && transactions[i].paymentMethod != "CARD"){
                if (transactions[i].due != null){
                   duedate = transactions[i].due
                   timestamp = this.toTimestamp(duedate)
                   paid = transactions[i].paid
                   amount = transactions[i].amount
                   if(paid == true){
                    balance = balance - amount
                    printbalance = balance
                    this.totalpaidtoday = this.totalpaidtoday + amount
                    trantype = "CONTRIBUTION"
                  }else{
                  if(timestamp > Date.now()){
                      trantype = "INSTALMENT"
                    }else{
                      trantype = "MISSED INSTALMENT"
                    }
                   printbalance = ''
                  }  
                   addtransaction = true
                   
                }else{
                  timestamp = transactions[i].timestamp
                  trantype = transactions[i].paymentType
                 // if (trantype == null){
                 //   trantype = "CONTRIBUTION"
                 //   orgtrantype == null
                 // }
                  amount = transactions[i].amount
                  paid = transactions[i].paid
                  if(paid == true){
                    addtransaction = true
                    balance = balance - amount
                    printbalance = balance
                    this.totalpaidtoday = this.totalpaidtoday + amount
                  }
                }
                if(addtransaction == true){
                let contribution = {
                  amount: amount,
                  timestamp: timestamp,
                  trantype: trantype,
                  paid: paid,
                  balance: printbalance
                }
                if(trantype == "DEPOSIT"){
                  this.contributions.unshift(contribution);
                }else{
                  
                   this.contributions.push(contribution);
                   
                  }
                }
               
              }
              this.remainingbalance = balance
              this.contributions.sort((a, b)=> (a.timestamp > b.timestamp) ? 1 : -1)
              //alert(JSON.stringify(this.contributions))
              for (let i = 0; i < this.contributions.length; i++) {
                amount = this.contributions[i].amount
                balance = this.contributions[i].balance
                trantype = this.contributions[i].trantype
                timestamp = this.contributions[i].timestamp
                if(trantype == "DEPOSIT"){
                  this.printdata = this.printdata + `*TEXT l Deposit\n!NLFONT 12 12 3\n*TEXT c ${this.numformat(amount/100)}\n!NLFONT 12 12 3\n*text r ${this.numformat(balance/100)}/n/*text l ${this.dateformat(timestamp)}/n/*line/n/`
                }
                if(trantype == "CONTRIBUTION"){
                  this.printdata = this.printdata + `*TEXT l Contribution\n!NLFONT 12 12 3\n*TEXT c ${this.numformat(amount/100)}\n!NLFONT 12 12 3\n*text r ${this.numformat(balance/100)}/n/*text l ${this.dateformat(timestamp)}/n/*line/n/`
                }
                if(trantype == "INSTALMENT"){
                  this.printdata = this.printdata + `*TEXT l Instalment\n!NLFONT 12 12 3\n*TEXT c ${this.numformat(amount/100)}\n!NLFONT 12 12 3\n*text r  -/n/*text l Due ${this.dateformat(timestamp)}/n/*line/n/`
                }
                if(trantype == "MISSED INSTALMENT"){
                  this.printdata = this.printdata + `*TEXT l Missed\n!NLFONT 12 12 3\n*TEXT c ${this.numformat(amount/100)}\n!NLFONT 12 12 3\n*text r -/n/*text l Installment/n/*text l ${this.dateformat(timestamp)}/n/*line/n/`
                }
              }
              this.showButtons = true;
            }
           // }
          });
        });
    },
    async getStorageValue(item) {
      var value = await AsyncStorage.getItem(item);
      return value;
    },

    openQrCode() {
      this.qrCodeContainer = true;
    },
    goToRegisterScreen() {
      this.navigation.navigate("Register");
    },
    goToHomeScreen() {
      this.navigation.push("transactions");
    },
    closeQrDialog() {
      this.qrCodeContainer = false;
    },
    goToPaymentStep3Screen() {
      this.navigation.navigate("PaymentStep3");
    },
  },
};
</script>

<style>
.bg-main {
  background-color: #f1f2f7;
}
.modal-dialog-container {
  background-color: transparent;
}
.modal-dialog {
  background-color: #0c4152;
  opacity: 0.5;
}

.cardholder {
  width: 100%;
  align-self: center;
  color: #fff;
}
.cardholderqr {
  width: 80%;
  align-self: center;
  color: #000;
  background-color: #fff;
  z-index: 9;
  text-align: left;
}
.input-text {
  padding-left: 20px;
}

.customer-name {
  margin-top: 5%;
  font-size: 20px;
}

.form-content {
  margin-bottom: 15%;
}

.input-field {
  background-color: #fff;
  border-color: #f7f9fc;
  align-self: center;
  width: 90%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.text-container {
  padding-top: 10%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10%;
  background-color: transparent;
}
.text-color-white {
  color: white;
}
.button-container {
  background-color: #6faf98;
  align-self: center;
}
.stepper-text {
  font-size: 16px;
  color: #8f8f8f;
}
.heading-ref {
  font-size: 25px;
  color: #1f282b;
  margin-top: 20px;
  margin-bottom: 1px;
}

.heading {
  font-size: 18px;
  color: #1f282b;

  margin-bottom: 1px;
}
.loginbtn {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #1295a5;
}
.forgotbtn {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #0c4152;
}
.genbtn {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #222b45;
}

.loginbtn3 {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #151a30;
}
.labelbtntext {
  text-align: center;
  width: 100%;
  text-transform: none;
}
.closeIcon {
  
  padding-right: 15px;
  padding-top: 15px;
  height: 40px;
  align-items: flex-end;
  z-index: 9;
}
</style>
