<template>
  <nb-container class="bg-main">
    <status-bar v-if = "android"
        :barStyle="'light-content'"
        backgroundColor="#0c4152"
      ></status-bar>
     <status-bar v-else 
        :barStyle="'dark-content'"
     ></status-bar> 
    <nb-container
      v-if="isLoading"
      class="bg-main"
      style="position:absolute; left:0; top:0; width:100%; height:100%; z-index:999;"
    >
      <nb-spinner
        color="#0c4152"
        style="position:absolute; left:45%; top:25%;"
      />
    </nb-container>

    <nb-container
      v-if="bottomNavContainer"
      class="modal-dialog-container"
      style="position:absolute; left:0; bottom:0; width:100%; height:100%; z-index:2;"
    >
      <nb-container
        class="modal-dialog"
        style="position:absolute; left:0; bottom:0; width:100%; height:100%;"
      ></nb-container>
      <nb-body>
        <view :style="{ position: 'absolute', bottom: 16 }">
          <view
            :style="{
              flexDirection: 'row'
            }"
          >
            <view>
              <TouchableOpacity :on-press="gotoCreatePlan">
                <image
                  :style="{ width: 75, height: 94 }"
                  :source="require('../../../assets/create-plan-btn.png')"
                />
              </TouchableOpacity>
            </view>
            <view>
              <TouchableOpacity :on-press="gotoPayNow">
                <image
                  :style="{ width: 75, height: 94, marginLeft: 20 }"
                  :source="require('../../../assets/pay-now-icon.png')"
                />
              </TouchableOpacity>
            </view>
          </view>
          <view
            :style="{
              marginTop: 0,
              marginLeft: 'auto',
              marginRight: 'auto'
            }"
          >
            <view>
              <TouchableOpacity :on-press="closeBottomNav">
                <image
                  :style="{ width: 70, height: 70 }"
                  :source="
                    require('../../../assets/create-plan-close-icon.png')
                  "
                />
              </TouchableOpacity>
            </view>
          </view>
        </view>
      </nb-body>
    </nb-container>
    <nb-content>
      <view class="text-container">
        <text class="heading">Orders</text>
        <nb-item rounded class="input-field">
          <nb-input
            class="input-text"
            @focus="closebottomnavigation()"
            @blur="showkeyboard()"
            placeholder="Order reference / Name"
            v-model="searchTransaction"
          />
          <TouchableOpacity :on-press="getorders">
            <nb-icon active name="search" />
          </TouchableOpacity>
        </nb-item>
      </view>
      <view v-for="(order, index) of orders" :key="index">
        <TouchableOpacity :on-press="goToTransactionLog.bind(this, order._id)">
          <nb-card
            class="cardholder"
            :style="{ borderRadius: 20, padding: 10 }"
          >
            <nb-body
              :style="{
                width: '100%',
                alignSelf: 'stretch',
                textAlign: 'left',
                padding: 10
              }"
            >
              <view
                :style="{
                  flex: 1,
                  flexDirection: 'row'
                }"
              >
                <view v-if="order.state == 'Completed'"> <image :source="require('../../../assets/check_icon_dar.png')" /> </view>
                <view v-if="order.state == 'Placed'"> <image :source="require('../../../assets/check_icon.png')" /> </view>
                <view v-if="order.state == 'Cancelled'"> <image :source="require('../../../assets/cancel_icon.png')" /> </view>
                <text  v-if="order.state == 'Placed'"
                  :style="{
                    flex: 1,
                    color: '#5fce2f',
                    marginLeft: 5
                  }"
                >
                  {{ order.state }}
                </text>
                 <text  v-if="order.state == 'Completed'"
                  :style="{
                    flex: 1,
                    color: 'green',
                    marginLeft: 5
                  }"
                >
                  {{ order.state }}
                </text>
                 <text  v-if="order.state == 'Cancelled'"
                  :style="{
                    flex: 1,
                    color: '#ff475c',
                    marginLeft: 5
                  }"
                >
                  {{ order.state }}
                </text>
                <text
                  :style="{
                    textAlign: 'right',
                    color: '#8f8f8f'
                  }"
                >
                  {{ order.timestamp | dateformat}}
                </text>
              </view>
              <view
                v-if="orders.plans !== null"
                :style="{
                  marginTop: 10,
                  flex: 1,
                  width: '100%'
                }"
              >
                <text
                  v-for="(planz, index) of order.plans"
                  :key="index"
                  :style="{
                    fontSize: 12,
                    textAlign: 'left',
                    color: '#8f8f8f'
                  }"
                >
                  {{ planz.benefactor.name }}
                </text>
              </view>
              <view
                :style="{
                  flex: 1,
                  flexDirection: 'row'
                }"
              >
                <text
                  :style="{
                    flex: 1,
                    marginTop: 0
                  }"
                >
                  {{ order.name }}
                </text>
                <text
                  :style="{
                    textAlign: 'right',
                    marginTop: 0
                  }"
                >
                  Order Ref.
                </text>
              </view>
              <view
                :style="{
                  flex: 1,
                  flexDirection: 'row'
                }"
              >
                <text
                  :style="{
                    flex: 1,
                    fontSize: 25,
                    fontWeight: 'bold',
                    marginTop: 5
                  }"
                >
                   {{ order.amountDue | numformat }}
                </text>
                <text
                  :style="{
                    textAlign: 'right',
                    fontSize: 25,
                    fontWeight: 'bold',
                    marginTop: 5
                  }"
                >
                  {{ order.reference | orderrefformat }}
                </text>
              </view>
            </nb-body>
          </nb-card>
        </TouchableOpacity>
      </view>
      <view :style="{ height: 100 }" />
    </nb-content>

    <view
      v-if="bottomNavigation"
      :style="{
        flex: 1,
        width: '100%',
        position: 'absolute',
        bottom: 0,
        backgroundColor: '#fff',
        flexDirection: 'row',
        padding: 0,
        margin: 0,
        alignItems: 'stretch'
      }"
    >
      <view class="bottom-btns">
        <TouchableOpacity :style="{ flex: 1 }" :on-press="gotoDashboard">
          <image
            :resizeMode="'contain'"
            :style="{ flex: 1, width: 70, bottom: 4  }"
            :source="require('../../../assets/home-icon.png')"
          />
        </TouchableOpacity>
      </view>

      <view class="bottom-btns">
        <TouchableOpacity :style="{ flex: 1 }" :on-press="gotoTransactions">
          <image
            :resizeMode="'contain'"
            :style="{ flex: 1, width: 70, bottom: 4  }"
            :source="require('../../../assets/transaction-icon-on.png')"
          />
        </TouchableOpacity>
      </view>

      <view class="plan-btn">
        <TouchableOpacity :style="{ flex: 1 }" :on-press="openPlanNav">
          <image
            :resizeMode="'contain'"
            :style="{ flex: 1, width: 70, height: 80 }"
            :source="require('../../../assets/create-plan-icon.png')"
          />
        </TouchableOpacity>
      </view>

      <view class="bottom-btns">
        <TouchableOpacity :style="{ flex: 1 }" :on-press="goToContact">
          <image
            :resizeMode="'contain'"
            :style="{ flex: 1, width: 70, bottom: 4  }"
            :source="require('../../../assets/support-icon.png')"
          />
        </TouchableOpacity>
      </view>

      <view class="bottom-btns">
        <TouchableOpacity :style="{ flex: 1 }" :on-press="goToProfile">
          <image
            :resizeMode="'contain'"
            :style="{ flex: 1, width: 70, bottom: 4  }"
            :source="require('../../../assets/profile-icon.png')"
          />
        </TouchableOpacity>
      </view>
    </view>
  </nb-container>
</template>

<script>
import { Dimensions, Platform } from "react-native";
import launchScreenBg from "../../../assets/launchscreen-bg.png";
import launchscreenLogo from "../../../assets/merchant-logo.png";
import { AsyncStorage } from "react-native";

export default {
  props: {
    navigation: {
      type: Object
    }
  },
  data() {
    return {
      android: Platform.OS === "android" ? true : false,
      orderref:"",
      bottomNavigation: true,
      bottomNavContainer: false,
      isLoading: false,
      launchScreenBg,
      launchscreenLogo,
      searchTransaction: "",
      transname: [],
      token: null,
      orders: [],
      disporders: [],
      active: true,
      completed:false,
      cancelled: false,
      stylesObj: {
        logoContainerStyle: {
          marginTop: Dimensions.get("window").height / 8
        },
        logoStyle: {
          left: Platform.OS === "android" ? 40 : 50,
          top: Platform.OS === "android" ? 40 : 60,
          width: 190,
          height: 69
        },
        btnContainer: {
          backgroundColor: "#6faf98",
          alignSelf: "center"
        }
      }
    };
  },
  mounted() {
    this.getStorageValue("orderref2").then(value => {
    this.orderref = value;
    this.getorders();
    });
    
    //this.isLoading = true;
  },
  
  computed: {},
  filters: {
  numformat: function (num) {
    num = Math.round(num * 100)  / 100
    var num_parts = num.toString().split(".");
    var dispnum = "";
    num_parts[0] = num_parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    dispnum = num_parts.join(".");
    if(dispnum.substr(dispnum.length-3,1) != "." && dispnum.substr(dispnum.length-2,1) != "."){
      dispnum = dispnum + ".00"
    }
    if(dispnum.substr(dispnum.length-2,1) == "."){
      dispnum = dispnum + "0"
    }
    return "R" + dispnum; 
    
  },
  orderrefformat: function (orderref)
  {
     if(orderref.length > 9)   {
       orderref = orderref.substring(0,9) + "...";
     }
     return orderref 
  },

  dateformat: function(date){
    var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
    var thedate = new Date(date).toUTCString()
    var themonth = thedate.substr(8,3)
    var theday = thedate.substr(5,2)
    var theyear = thedate.substr(12,4)
    var thetime = thedate.substr(17,5)
    var month = "";
      switch (themonth) {
        case "Jan":
          month = "January";
          break;
        case "Feb":
          month = "February";
          break;
        case "Mar":
          month = "March";
          break;
        case "Apr":
          month = "April";
          break;
        case "May":
          month = "May";
          break;
        case "Jun":
          month = "June";
          break;
        case "Jul":
          month = "July";
          break;
        case "Aug":
          month = "August";
          break;
        case "Sep":
          month = "September";
          break;
        case "Oct":
          month = "October";
          break;
        case "Nov":
          month = "November";
          break;
        case "Dec":
          month = "December";
      }
   
    if(theday.substr(0,1) == "0"){
      theday = theday.substr(1,1)
    }
    var dispdate = month + " " + theday + ", " + theyear + " " + thetime
    //var dispdate = thedate
    return dispdate
  }
 
},
  methods: {
    
    getorders() {
      const selectdetails =
        "skip=0&limit=10&populate=plans,plans.payments,plans.benefactor&search=" + this.searchTransaction;
        const selectdetails2 = {
         selectdetails: selectdetails,
         orderref: this.orderref
        } 
      this.isLoading = true;  
      this.$store
        .dispatch("orders/getsummary", selectdetails2) 
        .then(response => {
          this.isLoading = false;
          this.getStorageValue("orders").then(value => {
            //alert(value);
            this.orders = JSON.parse(value);
            for (let i = 0; i < this.orders.length; i++) {             
              this.orders[i].amountDue = this.orders[i].amountDue / 100;
               
              if (this.orders[i].state == "PLACED"){
                this.orders[i].state = "Placed"
              }
              if (this.orders[i].state == "PARTIAL"){
                this.orders[i].state = "Partial"
              }
              if (this.orders[i].state == "CANCELLED" ){
                this.orders[i].state = "Cancelled"
              }
              if (this.orders[i].state == "COMPLETED" ){
                this.orders[i].state = "Completed"
              }
               
            }
            //this.orders.sort((a, b)=> (a.endDateMin > b.EndDateMin) ? 1 : -1)
          });
        });
    },
   
    async getStorageValue(item) {
      var value = await AsyncStorage.getItem(item);
      return value;
    },
     thousands_separators(num) {
      //var num_parts = num.toString().split(".");
      //num_parts[0] = num_parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      //return "R" + num_parts.join(".");
      var locale = 'en-US'
      var currency = 'USD'
      var minimumFractionDigits = 2
      return num.toLocaleString(locale, {style: 'currency', currency, minimumFractionDigits});


    },
    closebottomnavigation() {
      this.bottomNavigation = false;
    },
    showkeyboard() {
      this.bottomNavigation = true;
    },
    goToProfile() {
      this.bottomNavContainer = false;
      this.navigation.push("Profile");
    },
    goToContact(){
      this.bottomNavContainer = false;
      this.navigation.push("Contact");
    },
    goToTransactionLog(orderId) {
      AsyncStorage.setItem("transactionOrderId", orderId);
      this.bottomNavContainer = false;
      this.navigation.push("transactionLog");
    },
    gotoTransactions() {
      this.bottomNavContainer = false;
      this.navigation.push("transactions");
    },
    gotoDashboard() {
      this.bottomNavContainer = false;
      //this.navigation.navigate("Dashboard");
      this.navigation.push("Dashboard")
    },
    gotoPayNow() {
      this.bottomNavContainer = false;
      this.navigation.push("SearchPlan");
    },
   goToContact(){
      this.bottomNavContainer = false;
      this.navigation.push("Contact");
    },  
    gotoCreatePlan() {
      this.bottomNavContainer = false;
      this.navigation.push("CreatePlanStep1");
    },
    openPlanNav() {
      this.bottomNavContainer = true;
    },
    closeBottomNav() {
      this.bottomNavContainer = false;
    },
    handleLetGoBtnPress() {
      this.navigation.openDrawer();
    }
  }
  
};
</script>

<style>
.heading {
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 10px;
  text-align: left;
  font-size: 25px;
  color: #1f282b;
}
.input-field {
  background-color: #fff;
  border-color: #f7f9fc;
  align-self: center;
  width: 90%;
  margin-top: 5px;
  margin-bottom: 25px;
}
.input-text {
  padding-left: 20px;
}
.modal-dialog-container {
  background-color: transparent;
}
.modal-dialog {
  background-color: #fff;
  opacity: 0.8;
}
.cardholderqr {
  flex: 1;
  width: 80%;
  align-self: center;
  color: #000;
  z-index: 9;
  text-align: left;
}
.bottom-btns {
  height: 80px;
  text-align: center;
  width: 20%;
}
.plan-btn {
  margin-top: -20px;
  width: 20%;
}
.cardholder {
  width: 90%;
  align-self: center;
  color: #fff;
}
.bg-main {
  background-color: #f1f2f7;
}
.imageContainer {
  flex: 1;
}
.text-color-primary {
  color: blue;
  font-family: Roboto;
}
.logoContainer {
  flex: 1;
}
.logo {
  position: absolute;
  width: 280;
  height: 100;
}

.text-container {
  flex: 1;
}
.text-color-white {
  color: white;
}
.button-container {
  background-color: #6faf98;
  align-self: center;
}
</style>
