<template>
  <nb-container class="bg-main">
    <status-bar v-if = "android"
        :barStyle="'light-content'"
        backgroundColor="#0c4152"
      ></status-bar>
     <status-bar v-else 
        :barStyle="'dark-content'"
     ></status-bar> 
    <nb-container
      v-if="isLoading"
      class="bg-main"
      style="position:absolute; left:0; top:0; width:100%; height:100%; z-index:999;"
    >
      <nb-spinner
        color="#0c4152"
        style="position:absolute; left:45%; top:25%;"
      />
    </nb-container>
   <view class="closeIcon" :style="stylesObj.logoStyle">
      <TouchableOpacity :on-press="goToHomeScreen">
        <image :source="require('../../../assets/close_icon.png')" />
      </TouchableOpacity>
    </view>
    <nb-content>
      <view class="text-container">
        <text class="heading">Verify Account</text>
      </view>

      <view class="status_image">
        <image :source="require('../../../assets/unsuccess_icon.png')" />
      </view>
      <text class="heading_status">Oops!!</text>
      <text class="info-text">
        The verification code you entered is incorrect
      </text>
      <text class="btn_status" :on-press="goToEnterOTP">Try Again</text>
    </nb-content>
  </nb-container>
</template>

<script>
import { Dimensions, Platform } from "react-native";
import { AsyncStorage } from "react-native";
import axios from "../../axios/index.js";
// import axios from "axios";

export default {
  props: {
    navigation: {
      type: Object
    }
  },
  data() {
    return {
       android: Platform.OS === "android" ? true : false,
      isLoading: false,
      username: "",
      otp: "",
      otp1: 0,
      otp2: 0,
      otp3: 0,
      otp4: 0,
      otp5: 0,
      pokemon: [],
      stylesObj: {
        logoContainerStyle: {
          marginTop: Dimensions.get("window").height / 8
        },
        logoStyle: {
          top: Platform.OS === "android" ? 0 : 25
        },
        btnContainer: {
          backgroundColor: "#6faf98",
          alignSelf: "center"
        }
      }
    };
  },
  computed: {
    getOTP() {
      return this.otp1 + this.otp2 + this.otp3 + this.otp4 + this.otp5;
    }
  },

  methods: {
    async getStorageValue(item) {
      var value = await AsyncStorage.getItem(item);
      return value;
    },
     goToEnterOTP() {
      this.navigation.push("SearchOtpAccount");
    },
    checkotp1() {
      alert("change event");
    },
    focusNext() {
      // alert(this.$refs.otpnumber2);
      //this.$refs.otpnumber2.focus();
    },
    reset() {
      this.isLoading = true;
      const postdata = {
        email: this.username
      };
      axios({
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          apiKey: "dashpay2020"
        },
        url: "/v1/request-password-reset",
        data: postdata
      }).then(
        result => {
          this.isLoading = false;
          this.result = result.data.status;
          //alert(this.result);
          this.navigation.navigate("ForgotPassword2");
        },
        error => {
          this.isLoading = false;
          alert(error);
        }
      );
    },
    goToRegisterScreen() {
      this.navigation.navigate("Register");
    },
    goToHomeScreen() {
      this.isLoading = true;
      this.getStorageValue("logindata").then(value => {
        const postdata = JSON.parse(value);
        this.$store.dispatch("auth/login", postdata).then(res => {
        this.isLoading = false;  
        this.navigation.push("Dashboard");
        });
      }); 
    }
  }
};
</script>

<style>
.info-text {
  line-height: 25px;
  font-size: 16px;
  text-align: center;
}
.btn_status {
  font-weight: bold;
  font-size: 25px;
  color: #ff475c;
  text-decoration-line: underline;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}
.heading_status {
  font-weight: bold;
  font-size: 40px;
  color: #ff475c;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}
.status_image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-main {
  background-color: #f1f2f7;
}
.input-text {
  height: 60px;
  padding: 10px;
  margin-left: 5px;
  margin-bottom: 30px;
  border-radius: 8px;
  width: 23%;
  font-weight: bold;
  color:#ff475c;
  font-size: 25px;
}

.input-text2 {
  width: 20%;
  background-color: yellow;
}

.input-field:focus {
  background-color: yellow;
}

.form-content {
  margin-bottom: 5%;
}

.input-field {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-container {
  padding-top: 5%;
  padding-left: 40px;
  padding-right: 30px;
  padding-bottom: 10%;
  background-color: transparent;
}
.text-color-white {
  color: white;
}
.button-container {
  background-color: #6faf98;
  align-self: center;
}

.heading {
  font-weight: bold;
  font-size: 38px;
  color: #1f282b;

  margin-bottom: 1px;
}
.loginbtn {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #1295a5;
}
.forgotbtn {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #151a30;
}
.loginbtn3 {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #151a30;
}
.labelbtntext {
  text-align: center;
  width: 100%;
  text-transform: none;
}
.closeIcon {
  padding-right: 15px;
  padding-top: 15px;
  height: 40px;
  align-items: flex-end;
  z-index: 9;
}
</style>
