<template>
  <nb-container class="bg-main">
   <status-bar v-if = "android"
        :barStyle="'light-content'"
        backgroundColor="#0c4152"
      ></status-bar>
     <status-bar v-else 
        :barStyle="'dark-content'"
     ></status-bar> 
    <nb-container
      v-if="isLoading"
      class="bg-main"
      style="position:absolute; left:0; top:0; width:100%; height:100%; z-index:999;"
    >
      <nb-spinner
        color="#0c4152"
        style="position:absolute; left:45%; top:25%;"
      />
    </nb-container>
    <view class="closeIcon" :style="stylesObj.logoStyle">
      <TouchableOpacity :on-press="goToHomeScreen">
        <image :source="require('../../../assets/close_icon.png')" />
      </TouchableOpacity>
    </view>
    <nb-content>
      <view class="text-container">
        <text class="heading">Enter OTP</text>
        <text>
          Enter the 5-digit code we have sent to
        </text>
        <text style="color: #30a8a0">
          {{ cellno }}
        </text>
      </view>

      <nb-form class="form-content">
        <view
          :style="{ flexDirection: 'row', width: '80%', alignSelf: 'center' }"
        >
       
          <text
            :on-press="gotoinput"
            ref="topfield1"
            class="input-text"
            :style="{
              justifyContent: 'flex-end',
              textAlign: 'center',
              backgroundColor: otpcolor1,
              color: otptextcolor1
            }"
            >{{ otp1 }}</text
          >
       
          <text
            :on-press="gotoinput"
            ref="topfield2"
            class="input-text"
            :style="{
              justifyContent: 'flex-end',
              textAlign: 'center',
              backgroundColor: otpcolor2,
              color: otptextcolor2
            }"
            >{{ otp2 }}</text
          >
          <text
            :on-press="gotoinput"
            ref="topfield3"
            class="input-text"
            :style="{
              justifyContent: 'flex-end',
              textAlign: 'center',
              backgroundColor: otpcolor3,
              color: otptextcolor3
            }"
            >{{ otp3 }}</text
          >
          <text
            :on-press="gotoinput"
            ref="topfield4"
            class="input-text"
            :style="{
              justifyContent: 'flex-end',
              textAlign: 'center',
              backgroundColor: otpcolor4,
              color: otptextcolor4
            }"
            >{{ otp4 }}</text
          >
          <text
            :on-press="gotoinput"
            ref="topfield5"
            class="input-text"
            :style="{
              justifyContent: 'flex-end',
              textAlign: 'center',
              backgroundColor: otpcolor5,
              color: otptextcolor5
            }"
            >{{ otp5 }}</text
          >
          <text-input
            ref="topfield"
            class="input-text-hidden"
            v-model="otpinput"
            placeholder="0"
            keyboardType="numeric"
          />
        </view>
        <view
          :style="{ flexDirection: 'row', width: '80%', alignSelf: 'center' }"
        >
          <text>
            Didn't get code?
          </text>
         <text class="btn_status" style="color: #30a8a0;" :on-press="goToSearchPayment">Resend Code</text>
         
        </view>
      </nb-form>
      <nb-button rounded class="forgotbtn" :on-press="submitOtp">
        <nb-text class="labelbtntext">Continue</nb-text>
      </nb-button>
    </nb-content>
  </nb-container>
</template>

<script>
import { Dimensions, Platform } from "react-native";
import { Toast } from "native-base";
import { AsyncStorage } from "react-native";
import KeyEvent from "react-native-keyevent";
// import axios from "axios";

export default {
  props: {
    navigation: {
      type: Object
    }
  },
  data() {
    return {
      android: Platform.OS === "android" ? true : false,
      orderref:"",
      otpcolor1: "#e4e9f2",
      otpcolor2: "#e4e9f2",
      otpcolor3: "#e4e9f2",
      otpcolor4: "#e4e9f2",
      otpcolor5: "#e4e9f2",
      otptextcolor1: "#000",
      otptextcolor2: "#000",
      otptextcolor3: "#000",
      otptextcolor4: "#000",
      otptextcolor5: "#000",
      otpinput: 0,
      isLoading: false,
      username: "",
      userid:"",
      cellno:"",
      otp: "",
      token: "",
      otp1: 0,
      otp2: 0,
      otp3: 0,
      otp4: 0,
      otp5: 0,
      max: 4,
      orders:[],
      customerorders:[],
      pokemon: [],
      stylesObj: {
        logoContainerStyle: {
          marginTop: Dimensions.get("window").height / 8
        },
        logoStyle: {
          top: Platform.OS === "android" ? 0 : 25
        },
        btnContainer: {
          backgroundColor: "#6faf98",
          alignSelf: "center"
        }
      }
    };
  },
  
  // mounted() {
  //   this.$refs.topfield1.focus();
  //   this.getStorageValue("user").then(value => {
  //     //alert(value)
  //     this.user = JSON.parse(value);
  //     //alert(this.user.cellNumber)
  //     this.cellno = this.user.cellNumber;
  //   });
  // },
  mounted() {
    
    this.getStorageValue("otpnumber").then(value => {
      if (value.substring(0,1) == "+"){
        value = value.substring(1)
      }
      if (value.substring(0,2) == "27"){
        value = value.substring(2)
      }
      if (value.substring(0,1) == "0"){
        value = value.substring(1)
      }
      value = "27" + value
      this.cellno = value;
    });
    this.getStorageValue("orderref2").then(value => {
    this.orderref = value;
    //alert(this.orderref);
    });
    this.$refs.topfield.focus();
  },
  computed: {
    getOTP() {
      return this.otp1 + this.otp2 + this.otp3 + this.otp4 + this.otp5;
    }
  },
  components: { KeyEvent },
  created() {
    this.$nextTick(() => this.$refs.topfield1.focus());
  },
  watch: {
    otpinput(val) {
      if (val.length < 1) {
        this.otp1 = 0;
        this.otp2 = 0;
        this.otp3 = 0;
        this.otp4 = 0;
        this.otp5 = 0;
        this.otpcolor1 = "#e4e9f2";
        this.otpcolor2 = "#e4e9f2";
        this.otpcolor3 = "#e4e9f2";
        this.otpcolor4 = "#e4e9f2";
        this.otpcolor5 = "#e4e9f2";
        this.otptextcolor1 = "#ccc";
        this.otptextcolor2 = "#ccc";
        this.otptextcolor3 = "#ccc";
        this.otptextcolor4 = "#ccc";
        this.otptextcolor5 = "#ccc";
      }
      if (val.length == 1) {      
        this.otp1 = val;
        this.otp2 = 0;
        this.otp3 = 0;
        this.otp4 = 0;
        this.otp5 = 0;
        this.otpcolor1 = "#30a8a0";
        this.otpcolor2 = "#e4e9f2";
        this.otpcolor3 = "#e4e9f2";
        this.otpcolor4 = "#e4e9f2";
        this.otpcolor5 = "#e4e9f2";
        this.otptextcolor2 = "#ccc";
        this.otptextcolor3 = "#ccc";
        this.otptextcolor4 = "#ccc";
        this.otptextcolor5 = "#ccc";
        this.otptextcolor1 = "#FFF";
      }
      if (val.length == 2) {
          this.otp2 =  val.substring(1);
        this.otp3 = 0;
        this.otp4 = 0;
        this.otp5 = 0;
        this.otpcolor3 = "#e4e9f2";
        this.otpcolor4 = "#e4e9f2";
        this.otpcolor5 = "#e4e9f2";
        this.otpcolor2 = "#30a8a0";
        this.otptextcolor3 = "#ccc";
        this.otptextcolor4 = "#ccc";
        this.otptextcolor5 = "#ccc";
        this.otptextcolor2 = "#FFF";
      }
      if (val.length == 3) {
       this.otp3 =  val.substring(2);
        this.otp4 = 0;
        this.otp5 = 0;
        this.otpcolor4 = "#e4e9f2";
        this.otpcolor5 = "#e4e9f2";
        this.otpcolor3 = "#30a8a0";
        this.otptextcolor4 = "#ccc";
        this.otptextcolor5 = "#ccc";
        this.otptextcolor3 = "#FFF";
      }
      if (val.length == 4) {
       this.otp4 =  val.substring(3);
        this.otp5 = 0;
        this.otpcolor4 = "#e4e9f2";
        this.otpcolor5 = "#e4e9f2";
        this.otpcolor4 = "#30a8a0";
        this.otptextcolor5 = "#ccc";
        this.otptextcolor4 = "#FFF";
      }
      if (val.length == 5) {
       this.otp5 =  val.substring(4);     
        this.otpcolor5 = "#30a8a0";
        this.otptextcolor5 = "#FFF";
      }if(val.length > 5){
          this.otpinput = this.otpinput.substring(0, 5);
      }
    }
  },

  methods: {
    gotoinput(){
      this.$refs.topfield.focus();
    },
    async getStorageValue(item) {
      var value = await AsyncStorage.getItem(item);
      return value;
    },
     clearotp1() {
      this.otp1 = "";
    },
    clearotp2() {
      this.otp2 = "";
    },
    clearotp3() {
      this.otp3 = "";
    },
    clearotp4() {
      this.otp4 = "";
    },
    clearotp5() {
      this.otp5 = "";
    },
    focusNext() {
      // alert(this.$refs.otpnumber2);
      //this.$refs.otpnumber2.focus();
    },
    submitOtp1() {
      this.navigation.navigate("SearchAccountVerifiedSuccess");
    },
    submitOtp() {
      //alert(this.getOTP);
      const userData =
        "token=" + this.getOTP.toString() + "&msisdn=" + this.cellno;
        //alert(userData);
       const userData2 = {
        userdata:userData,
        orderref: this.orderref
      }   
      this.$store.dispatch("users/verifyuser", userData2).then(res => {
        this.isLoading = false;
        this.getStorageValue("validated").then(value => {
          //alert(value);
          if (value == "{}") {
            this.navigation.navigate("SearchAccountVerifiedUnsuccess");
          } else {
             const user = JSON.parse(value);
             this.userid = user.userId;
             this.customerorders = [];
      const selectdetails =
        "skip=0&limit=1000&populate=plans,plans.payments,plans.benefactor&search=" ;//+
        //this.searchTransaction;
        const selectdetails2 = {
         selectdetails: selectdetails,
         orderref: this.orderref
        }
      this.$store
        .dispatch("orders/getsummary", selectdetails2)
        .then(response => {
          this.isLoading = false;
          this.getStorageValue("orders").then(value => {
            //alert(value);
            this.orders = JSON.parse(value);
            for (let i = 0; i < this.orders.length; i++) {             
              this.orders[i].amountDue = this.orders[i].amountDue / 100;
              if (this.orders[i].state == "PLACED" || this.orders[i].state == "PARTIAL"){
                this.orders[i].state = "Successful"
                //alert(this.orders[i].plans[0].benefactorId);
                if(this.orders[i].plans[0].benefactorId == this.userid){
                  //alert("found reference");
                  
                  this.customerorders.push(this.orders[i]);
                }
              }
              if (this.orders[i].state == "CANCELLED" ){
                this.orders[i].state = "Cancelled"
              }
               
            }
            if(this.customerorders.length > 0){
              const CustOrders = JSON.stringify(this.customerorders);
              AsyncStorage.setItem("customerorders", CustOrders);
              //alert(CustOrders);
              //alert("found reference " + this.customerorders[0].reference);
              this.navigation.navigate("SearchAccountVerifiedSuccess");
            }else{
             Toast.show({
              text: "No Active Orders found for this customer",
              duration: 4000,
              type: "warning" 
             })
            this.goToHomeScreen() 
            }
          });
        });
           
          // this.navigation.navigate("SearchAccountVerifiedSuccess");
          }
        });
      });
     
    },
    goToSearchPayment() {
    // if(this.customerorders.length > 0){ 
      this.navigation.navigate("SearchPlan");
   //   }else{
   //     this.goToHomeScreen();
   //   }
    },
    goToRegisterScreen() {
      this.navigation.navigate("Register");
    },
    goToHomeScreen() {
      //this.isLoading = true;
      this.getStorageValue("logindata").then(value => {
        const postdata = JSON.parse(value);
        this.$store.dispatch("auth/login", postdata).then(res => {
        this.isLoading = false;  
        this.navigation.push("Dashboard");
        });
      }); 
    }
  }
};
</script>

<style>
#divInner {
  left: 0;
  position: sticky;
}

#divOuter {
  width: 190px;
  overflow: hidden;
}
.bg-main {
  background-color: #f1f2f7;
}

.input-text {
  height: 60px;
  padding: 10px;
  margin-left: 5px;
  margin-bottom: 30px;
  border-radius: 8px;
  width: 18%;
  background-color: #e4e9f2;
  font-weight: bold;
  font-size: 30px;
}
.input-text-hidden {
  height: 1px;
  padding: 0px;
  width: 1px;
  font-weight: bold;
  font-size: 1px;
}
.input-text2 {
  width: 20%;
  background-color: yellow;
}

.input-field:focus {
  background-color: yellow;
}

.form-content {
  margin-bottom: 36%;
}

.input-field {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-container {
  padding-top: 5%;
  padding-left: 40px;
  padding-right: 30px;
  padding-bottom: 10%;
  background-color: transparent;
}
.text-color-white {
  color: white;
}
.button-container {
  background-color: #6faf98;
  align-self: center;
}

.heading {
  font-weight: bold;
  font-size: 38px;
  color: #1f282b;

  margin-bottom: 1px;
}
.loginbtn {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #1295a5;
}
.forgotbtn {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #151a30;
}
.loginbtn3 {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #151a30;
}
.labelbtntext {
  text-align: center;
  width: 100%;
  text-transform: none;
}
.closeIcon {
  padding-right: 15px;
  padding-top: 15px;
  height: 40px;
  align-items: flex-end;
  z-index: 9;
}
</style>
