<template>
  <nb-container class="bg-main">
    <status-bar v-if = "android"
        :barStyle="'light-content'"
        backgroundColor="#0c4152"
      ></status-bar>
     <status-bar v-else 
        :barStyle="'dark-content'"
     ></status-bar> 
    <nb-container
      v-if="isLoading"
      class="bg-main"
      style="position:absolute; left:0; top:0; width:100%; height:100%; z-index:999;"
    >
      <nb-spinner
        color="#0c4152"
        style="position:absolute; left:45%; top:25%;"
      />
    </nb-container>
    <view class="closeIcon" :style="stylesObj.logoStyle">
      <TouchableOpacity :on-press="goToHomeScreen">
        <image :source="require('../../../assets/close_icon.png')" />
      </TouchableOpacity>
    </view>
    <nb-content>
      <view class="text-container">
        <text class="stepper-text">Step 1/5</text>
        <text class="heading">Customer Payment Plans</text>
        <text class="customer-name">
          {{ custname }}
        </text>
      </view>
       <view v-for="(order, index) of orders" :key="index">
      <TouchableOpacity :on-press="goToPaymentStep2Screen.bind(this, order._id)">
        <nb-card class="cardholder" :style="{ borderRadius: 20, padding: 10 }">
          <nb-body
            :style="{
              width: '100%',
              alignSelf: 'stretch',
              textAlign: 'left',
              padding: 10
            }"
          >
            <view
              :style="{
                flex: 1,
                flexDirection: 'row'
              }"
            >
              <view v-if="order.state != 'Cancelled'"> <image :source="require('../../../assets/check_icon.png')" /> </view>
              <view v-if="order.state == 'Cancelled'"> <image :source="require('../../../assets/cancel_icon.png')" /> </view>
              <text  v-if="order.state != 'Cancelled'"
                  :style="{
                    flex: 1,
                    color: '#5fce2f',
                    marginLeft: 5
                  }"
                >
                {{order.state}}
              </text>
              <text  v-if="order.state == 'Cancelled'"
                  :style="{
                    flex: 1,
                    color: '#ff475c',
                    marginLeft: 5
                  }"
                >
                  {{ order.state }}
                </text>
              <text
                :style="{
                  textAlign: 'right',
                  color: '#8f8f8f'
                }"
              >
                {{ username }}
              </text>
            </view>
            <view
              :style="{
                flex: 1,
                flexDirection: 'row'
              }"
            >
              <text
                :style="{
                  flex: 1,
                  marginTop: 10
                }"
              >
               {{ order.name }}
              </text>
              <text
                :style="{
                  textAlign: 'right',
                  marginTop: 10
                }"
              >
                Order Ref.
              </text>
            </view>
            <view
              :style="{
                flex: 1,
                flexDirection: 'row'
              }"
            >
              <text
                :style="{
                  flex: 1,
                  fontSize: 25,
                  fontWeight: 'bold',
                  marginTop: 5
                }"
              >
                {{ order.amountDue | numformat }}
              </text>
              <text
                :style="{
                  textAlign: 'right',
                  fontSize: 25,
                  fontWeight: 'bold',
                  marginTop: 5
                }"
              >
               {{ order.reference | orderrefformat}}
              </text>
            </view>
          </nb-body>
        </nb-card>
      </TouchableOpacity>
      </view>
    </nb-content>
  </nb-container>
</template>

<script>
import { Dimensions, Platform } from "react-native";
import { AsyncStorage } from "react-native";
//import axios from "../../axios/index.js";
// import axios from "axios";

export default {
  props: {
    navigation: {
      type: Object
    }
  },
  data() {
    return {
      android: Platform.OS === "android" ? true : false,
      isLoading: false,
      username: "",
      refNumber: "",
      custname: "",
      orders: [],
      disporders: [],
      stylesObj: {
        logoContainerStyle: {
          marginTop: Dimensions.get("window").height / 8
        },
        logoStyle: {
          top: Platform.OS === "android" ? 0 : 25
        },
        btnContainer: {
          backgroundColor: "#6faf98",
          alignSelf: "center"
        }
      }
    };
  },
  mounted(){
     this.getStorageValue("customerorders").then(value => {
            //alert(value);
            this.orders = JSON.parse(value);
            for (let i = 0; i < this.orders.length; i++) {             
              this.orders[i].amountDue = this.orders[i].amountDue ;
              if (this.orders[i].state == "PLACED"){
                this.orders[i].state = "Placed"
                
              }
              if (this.orders[i].state == "PARTIAL"){
                this.orders[i].state = "Partial"
                
              }
              if (this.orders[i].state == "CANCELLED" ){
                this.orders[i].state = "Cancelled"
                
              }
              if (this.orders[i].state == "COMPLETED" ){
                this.orders[i].state = "Completed"
                
              }
               if (this.orders[i].state == "Successful" ){
                this.orders[i].state = "Active"
                
              }
              //if (this.orders[i].plans[0].benefactor.name != ""){
               this.custname = this.orders[i].plans[0].benefactor.name;
              //}
            }
            this.orders.sort((a, b)=> (a.endDateMin > b.EndDateMin) ? 1 : -1)
     });
     this.getStorageValue("layup-name").then(value => {
      this.username = value;
     });
  },
  computed: {},
  filters: {
  numformat: function (num) {
    num = Math.round(num * 100)  / 100
    var num_parts = num.toString().split(".");
    var dispnum = "";
    num_parts[0] = num_parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    dispnum = num_parts.join(".");
    if(dispnum.substr(dispnum.length-3,1) != "." && dispnum.substr(dispnum.length-2,1) != "."){
      dispnum = dispnum + ".00"
    }
    if(dispnum.substr(dispnum.length-2,1) == "."){
      dispnum = dispnum + "0"
    }
    return "R" + dispnum; 
    
  },
  orderrefformat: function (orderref)
  {
     if(orderref.length > 9)   {
       orderref = orderref.substring(0,9) + "...";
     }
     return orderref 
  },
  dateformat: function(date){
    var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
    var thedate = new Date(date).toUTCString()
    var themonth = thedate.substr(8,3)
    var theday = thedate.substr(5,2)
    var theyear = thedate.substr(12,4)
    var thetime = thedate.substr(17,5)
    var month = "";
      switch (themonth) {
        case "Jan":
          month = "January";
          break;
        case "Feb":
          month = "February";
          break;
        case "Mar":
          month = "March";
          break;
        case "Apr":
          month = "April";
          break;
        case "May":
          month = "May";
          break;
        case "Jun":
          month = "June";
          break;
        case "Jul":
          month = "July";
          break;
        case "Aug":
          month = "August";
          break;
        case "Sep":
          month = "September";
          break;
        case "Oct":
          month = "October";
          break;
        case "Nov":
          month = "November";
          break;
        case "Dec":
          month = "December";
      }
   
    if(theday.substr(0,1) == "0"){
      theday = theday.substr(1,1)
    }
    var dispdate = month + " " + theday + ", " + theyear + " " + thetime
    //var dispdate = thedate
    return dispdate
  }
 
},
  methods: {
    async getStorageValue(item) {
      var value = await AsyncStorage.getItem(item);
      return value;
    },
    thousands_separators(num) {
      
      var locale = 'en-US'
      var currency = 'USD'
      var minimumFractionDigits = 2
      return num.toLocaleString(locale, {style: 'currency', currency, minimumFractionDigits});


    },
    goToRegisterScreen() {
      this.navigation.navigate("Register");
    },
    goToHomeScreen() {
      this.navigation.push("Dashboard");
      //this.getStorageValue("logindata").then(value => {
      //  const postdata = JSON.parse(value);
      //  this.$store.dispatch("auth/login", postdata).then(res => {
      //  this.isLoading = false;  
       // this.navigation.push("Dashboard");
      //  });
     // }); 
    },
    goToPaymentStep2Screen(orderId) {
      AsyncStorage.setItem("paymentOrderId", orderId);
      this.navigation.push("SearchPaymentStep2");
    }
  }
};
</script>

<style>
.bg-main {
  background-color: #f1f2f7;
}
.cardholder {
  width: 90%;
  align-self: center;
}
.input-text {
  padding-left: 20px;
}

.customer-name {
  margin-top: 5%;
  font-size: 20px;
}

.form-content {
  margin-bottom: 15%;
}

.input-field {
  background-color: #fff;
  border-color: #f7f9fc;
  align-self: center;
  width: 90%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.text-container {
  padding-top: 10%;
  padding-left: 40px;
  padding-right: 30px;
  padding-bottom: 10%;
  background-color: transparent;
}
.text-color-white {
  color: white;
}
.button-container {
  background-color: #6faf98;
  align-self: center;
}
.stepper-text {
  font-size: 16px;
  color: #8f8f8f;
}

.heading {
  font-size: 25px;
  color: #1f282b;

  margin-bottom: 1px;
}
.loginbtn {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #1295a5;
}
.forgotbtn {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #151a30;
}
.loginbtn3 {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #151a30;
}
.labelbtntext {
  text-align: center;
  width: 100%;
  text-transform: none;
}
.closeIcon {
  padding-right: 15px;
  padding-top: 15px;
  height: 40px;
  align-items: flex-end;
  z-index: 9;
}
</style>
