<template>
  <nb-container class="bg-main">
    <status-bar v-if = "android"
        :barStyle="'light-content'"
        backgroundColor="#0c4152"
      ></status-bar>
     <status-bar v-else 
        :barStyle="'dark-content'"
     ></status-bar> 
    <nb-container
      v-if="isLoading"
      class="bg-main"
      style="position:absolute; left:0; top:0; width:100%; height:100%; z-index:999;"
    >
      <nb-spinner
        color="#0c4152"
        style="position:absolute; left:45%; top:25%;"
      />
    </nb-container>
     <view class="closeIcon" :style="stylesObj.logoStyle">
      <TouchableOpacity :on-press="goToHomeScreen">
        <image :source="require('../../../assets/close_icon.png')" />
      </TouchableOpacity>
    </view>
    <nb-content>
      <view class="text-container">
        <text class="heading">Payment Plans</text>
        <text>
         Search for a payment plan by entering in one of the following customer details.
        </text>
      </view>

      <nb-form class="form-content">
        <text :style="{ paddingLeft: 110, fontWeight: 'bold' }"
          >Enter mobile number</text
        >
        <nb-item rounded class="input-field">
          <nb-input
            class="input-text"
            placeholder="+27 83 123 1234"
            keyboardType="phone-pad"  
            v-model="username"
          />
        </nb-item>
      </nb-form>
      <nb-button rounded class="forgotbtn" :on-press="sendOtp">
        <nb-text class="labelbtntext">Send OTP</nb-text>
      </nb-button>
      <nb-form class="form-content">
        <text :style="{ paddingLeft: 100, paddingTop: 25,fontWeight: 'bold' }"
          >Enter Reference Number </text
        >
        <nb-item rounded class="input-field">
          <nb-input
            class="input-text"
            placeholder="000 000 000"
            v-model="refNumber"
          />
        </nb-item>
      </nb-form>
      <nb-button rounded class="forgotbtn" :on-press="getorders">
        <nb-text class="labelbtntext">Search Reference</nb-text>
      </nb-button>
    </nb-content>
  </nb-container>
</template>

<script>
import { Dimensions, Platform,BackHandler } from "react-native";
import { Toast } from "native-base";
import { AsyncStorage } from "react-native";
//import axios from "../../axios/index.js";
// import axios from "axios";

export default {
  props: {
    navigation: {
      type: Object
    }
  },
  data() {
    return {
      android: Platform.OS === "android" ? true : false,
      orderref:"",
      isLoading: false,
      isCancelled: false,
      username: "",
      refNumber: "",
      email: "",
     orders: [], 
     customerorders: [],
      stylesObj: {
        logoContainerStyle: {
          marginTop: Dimensions.get("window").height / 8
        },
        logoStyle: {
          top: Platform.OS === "android" ?  0 : 25
        },
        btnContainer: {
          backgroundColor: "#6faf98",
          alignSelf: "center"
        }
      }
    };
  },
  async created() {
   //alert('created');
    this.orderref = await AsyncStorage.getItem("orderref2");
    BackHandler.addEventListener('hardwareBackPress', function() {
      
      return true
    });
  },
   
  methods: {
    doPrint(){
      const selectdata = "Hi Val";
      this.$store
        .dispatch("bridge/printslip", selectdata)
        .then(response => {

        });
    },
    getorders() {
      this.customerorders = [];
      const selectdetails =
        "skip=0&limit=1000&populate=plans,plans.payments,plans.benefactor&search=" + this.refNumber
       const selectdetails2 = {
         selectdetails: selectdetails,
         orderref: this.orderref
        }  
      this.$store
        .dispatch("orders/getsummary", selectdetails2)
        .then(response => {
          this.isLoading = false;
          this.getStorageValue("orders").then(value => {
            //alert(value);
            this.orders = JSON.parse(value);
            for (let i = 0; i < this.orders.length; i++) {        
              // alert(this.orders[i].reference )   
              this.orders[i].amountDue = this.orders[i].amountDue / 100;
              if (this.orders[i].state == "PLACED" || this.orders[i].state == "PARTIAL"){
                this.orders[i].state = "Successful"
                if(this.orders[i].reference == this.refNumber){
                  //alert("found reference");
                  //alert(this.orders[i].plans[0].benefactor.name);
                  this.customerorders.push(this.orders[i]);
                }
              }
              if (this.orders[i].state == "CANCELLED" ){
                this.orders[i].state = "Cancelled"
                this.isCancelled = true
              }
              if (this.orders[i].state == "COMPLETED" ){
                this.orders[i].state = "Completed"
                if(this.orders[i].reference == this.refNumber){
                  //alert("found reference");
                  this.customerorders.push(this.orders[i]);
                }
              }
               
            }
            if(this.customerorders.length > 0 ){
              const CustOrders = JSON.stringify(this.customerorders);
              AsyncStorage.setItem("customerorders", CustOrders);
              this.navigation.push("SearchPaymentHome");
              //alert(CustOrders);
              //alert("found reference " + this.customerorders[0].reference);
            }else{
             Toast.show({
              text: "Invalid Reference Number Entered",
              duration: 4000,
              type: "warning" 
             })
            }
          });
        });
    },
    // sendOtp() {
    //   Toast.show({
    //       text: "Functionality Not Implemented Yet",
    //       duration: 4000,
    //       type: "warning"
    //     });
    //   //this.navigation.navigate("SearchOtpAccount");
    // },
   
    sendOtp() {
      this.isLoading = true;
        AsyncStorage.setItem("otpnumber", this.username); 
        const postdata = {
          cellNumber: this.username,
          action: "VERIFYACCOUNT"
        }
        const postdata2 = {
          postdata: postdata,
          orderref: this.orderref
        }
      this.$store.dispatch("users/existinguser", postdata2).then(res => {
       
       this.getStorageValue("userexists").then(value => {
            //alert(value)
            if(value == "false"){
              this.isLoading = false;  
              Toast.show({
              text: "Invalid Phone Number or Email Address Entered here", 
              duration: 4000,
              type: "warning"
        });
            }else{
              this.isLoading = false;  
              this.navigation.push("SearchOtpAccount");
              //alert(value)
              //
            }
            
         }); 
             
      });
    },
    async getStorageValue(item) {
      var value = await AsyncStorage.getItem(item);
      return value;
    },
    goToRegisterScreen() {
      this.navigation.navigate("Register");
    },
    goToHomeScreen() {
      this.isLoading = true;
      this.getStorageValue("logindata").then(value => {
        const postdata = JSON.parse(value);
        this.$store.dispatch("auth/login", postdata).then(res => {
        this.isLoading = false;  
        this.navigation.push("Dashboard");
        });
      }); 
    }
  }
};
</script>

<style>
.bg-main {
  background-color: #f1f2f7;
}
.input-text {
  padding-left: 20px;
}

.form-content {
  margin-bottom: 15%;
}

.input-field {
  background-color: #fff;
  border-color: #f7f9fc;
  align-self: center;
  width: 90%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.text-container {
  padding-top: 5%;
  padding-left: 40px;
  padding-right: 30px;
  padding-bottom: 10%;
  background-color: transparent;
}
.text-color-white {
  color: white;
}
.button-container {
  background-color: #6faf98;
  align-self: center;
}

.heading {
  font-weight: bold;
  font-size: 38px;
  color: #1f282b;

  margin-bottom: 1px;
}
.loginbtn {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #1295a5;
}
.forgotbtn { 
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #151a30;
}
.loginbtn3 {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #151a30;
}
.labelbtntext {
  text-align: center;
  width: 100%;
  text-transform: none;
}
.closeIcon {
  padding-right: 15px;
  padding-top: 15px;
  height: 40px;
  align-items: flex-end;
  z-index: 9;
}
</style>
