<template>
  <nb-container class="bg-main">
   <status-bar v-if = "android"
        :barStyle="'light-content'"
        backgroundColor="#0c4152"
      ></status-bar>
     <status-bar v-else 
        :barStyle="'dark-content'"
     ></status-bar> 
    <nb-container
      v-if="isLoading"
      class="bg-main"
      style="position:absolute; left:0; top:0; width:100%; height:100%; z-index:999;"
    >
      <nb-spinner
        color="#0c4152"
        style="position:absolute; left:45%; top:25%;"
      />
    </nb-container>
    <view class="closeIcon" :style="stylesObj.logoStyle">
      <TouchableOpacity :on-press="goToHomeScreen">
        <image :source="require('../../../assets/close_icon.png')" />
      </TouchableOpacity>
    </view>
    <nb-content>
      <view class="text-container">
        <text class="stepper-text">Step 1/5</text>
        <text class="heading">Customer Payment Plans</text>
        <text class="customer-name">
          Sam Walter
        </text>
      </view>

      <TouchableOpacity :on-press="goToPaymentStep2Screen">
        <nb-card class="cardholder" :style="{ borderRadius: 20, padding: 10 }">
          <nb-body
            :style="{
              width: '100%',
              alignSelf: 'stretch',
              textAlign: 'left',
              padding: 10
            }"
          >
            <view
              :style="{
                flex: 1,
                flexDirection: 'row'
              }"
            >
              <image :source="require('../../../assets/check_icon.png')" />
              <text
                :style="{
                  flex: 1,
                  color: '#5fce2f'
                }"
              >
                Active
              </text>
              <text
                :style="{
                  textAlign: 'right',
                  color: '#8f8f8f'
                }"
              >
                Cellualr City
              </text>
            </view>
            <view
              :style="{
                flex: 1,
                flexDirection: 'row'
              }"
            >
              <text
                :style="{
                  flex: 1,
                  marginTop: 10
                }"
              >
                iPhone 11 Pro
              </text>
              <text
                :style="{
                  textAlign: 'right',
                  marginTop: 10
                }"
              >
                Order Ref.
              </text>
            </view>
            <view
              :style="{
                flex: 1,
                flexDirection: 'row'
              }"
            >
              <text
                :style="{
                  flex: 1,
                  fontSize: 25,
                  fontWeight: 'bold',
                  marginTop: 5
                }"
              >
                R1000.00
              </text>
              <text
                :style="{
                  textAlign: 'right',
                  fontSize: 25,
                  fontWeight: 'bold',
                  marginTop: 5
                }"
              >
                193AX121
              </text>
            </view>
          </nb-body>
        </nb-card>
      </TouchableOpacity>
    </nb-content>
  </nb-container>
</template>

<script>
import { Dimensions, Platform } from "react-native";
//import axios from "../../axios/index.js";
// import axios from "axios";

export default {
  props: {
    navigation: {
      type: Object
    }
  },
  data() {
    return {
      isLoading: false,
      username: "",
      refNumber: "",
      stylesObj: {
        logoContainerStyle: {
          marginTop: Dimensions.get("window").height / 8
        },
        logoStyle: {
          left: Platform.OS === "android" ? 40 : 50,
          top: Platform.OS === "android" ? 35 : 60
        },
        btnContainer: {
          backgroundColor: "#6faf98",
          alignSelf: "center"
        }
      }
    };
  },
  methods: {
    sendOtp() {
      this.navigation.navigate("OtpAccount");
      // this.isLoading = true;
      // const postdata = {
      //   email: this.username
      // };
      // axios({
      //   method: "POST",
      //   headers: {
      //     "Content-Type": "application/json",
      //     apiKey: "dashpay2020"
      //   },
      //   url: "/v1/request-password-reset",
      //   data: postdata
      // }).then(
      //   result => {
      //     this.isLoading = false;
      //     this.result = result.data.status;
      //     //alert(this.result);
      //     this.navigation.navigate("ForgotPassword2");
      //   },
      //   error => {
      //     this.isLoading = false;
      //     alert(error);
      //   }
      // );
    },
    goToRegisterScreen() {
      this.navigation.navigate("Register");
    },
    goToHomeScreen() {
      this.navigation.push("Home");
    },
    goToPaymentStep2Screen() {
      this.navigation.navigate("PaymentStep2");
    }
  }
};
</script>

<style>
.bg-main {
  background-color: #f1f2f7;
}
.cardholder {
  width: 90%;
  align-self: center;
}
.input-text {
  padding-left: 20px;
}

.customer-name {
  margin-top: 5%;
  font-size: 20px;
}

.form-content {
  margin-bottom: 15%;
}

.input-field {
  background-color: #fff;
  border-color: #f7f9fc;
  align-self: center;
  width: 90%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.text-container {
  padding-top: 10%;
  padding-left: 40px;
  padding-right: 30px;
  padding-bottom: 10%;
  background-color: transparent;
}
.text-color-white {
  color: white;
}
.button-container {
  background-color: #6faf98;
  align-self: center;
}
.stepper-text {
  font-size: 16px;
  color: #8f8f8f;
}

.heading {
  font-size: 25px;
  color: #1f282b;

  margin-bottom: 1px;
}
.loginbtn {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #1295a5;
}
.forgotbtn {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #151a30;
}
.loginbtn3 {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #151a30;
}
.labelbtntext {
  text-align: center;
  width: 100%;
  text-transform: none;
}
.closeIcon {
  padding-right: 10px;
  width: 100%;
  height: 30px;
  align-items: flex-end;
}
</style>
