<template>
  <nb-container class="bg-main">
    <status-bar v-if = "android"
        :barStyle="'light-content'"
        backgroundColor="#0c4152"
      ></status-bar>
     <status-bar v-else 
        :barStyle="'dark-content'"
     ></status-bar> 
    <nb-container
      v-if="isLoading"
      class="bg-main"
      style="position:absolute; left:0; top:0; width:100%; height:100%; z-index:999;"
    >
      <nb-spinner
        color="#0c4152"
        style="position:absolute; left:45%; top:25%;"
      />
    </nb-container>

    <nb-container
      v-if="qrCodeContainer"
      class="modal-dialog-container"
      style="position:absolute; left:0; top:0; width:100%; height:100%; z-index:2;"
    >
      <nb-container
        class="modal-dialog"
        style="position:absolute; left:0; top:0; width:100%; height:100%;"
      ></nb-container>
      <nb-content>
        <nb-card
          class="cardholderqr"
          :style="{ borderRadius: 20, padding: 10, marginTop: '10%' }"
        >
          <nb-body
            :style="{
              width: '100%',
              alignSelf: 'stretch',
              textAlign: 'left',
              padding: 10
            }"
          >
            <view
              :style="{
                flex: 1,
                flexDirection: 'row'
              }"
            >
              <text
                :style="{
                  flex: 1,
                  marginTop: 10,
                  fontSize: 18
                }"
                >Payment Plan QR</text
              >
              <nb-button
                transparent
                :on-press="closeQrDialog"
                :style="{
                  textAlign: 'right'
                }"
              >
                <image :source="require('../../../assets/close_icon.png')" />
              </nb-button>
            </view>
            <view>
              <text :style="{ margin: 15 }"
                >Scan the QR Code to access your payment plan</text
              >
              <image :source="require('../../../assets/qr-code.png')" />
            </view>
          </nb-body>
        </nb-card>
      </nb-content>
    </nb-container>
     <view class="closeIcon" :style="stylesObj.logoStyle">
      <TouchableOpacity :on-press="goToHomeScreen">
        <image :source="require('../../../assets/close_icon.png')" />
      </TouchableOpacity>
    </view>
    <nb-content>
      <view class="text-container">
        <text class="stepper-text">Step 2/4</text>
        <text class="heading">Credit/Debit Card Payment</text>
      </view>

      <view class="payment-redirect">
        <text class="labelbtntext">Enter Amount</text>
        <nb-item rounded class="input-field" :style="{ marginTop: 15 }">
          <nb-input
            class="input-text"
            :style="{ textAlign: 'center' }"
            placeholder=" R 0.00"
            keyboard-type="number-pad"
            v-model="depositAmount"
          />
        </nb-item>

        <nb-button rounded class="cardtypeBtn2" :on-press="checkPayment">
          <nb-text class="labelbtntext">Confirm Payment</nb-text>
        </nb-button>
      </view>
    </nb-content>
  </nb-container>
</template>

<script>
import { Dimensions, Platform } from "react-native";
import { Toast } from "native-base";
import { AsyncStorage } from "react-native";

export default {
  props: {
    navigation: {
      type: Object
    }
  },
 

  data() {
    return {
       android: Platform.OS === "android" ? true : false,
       payment: {
        amount: 0,
        paid:true,
        connectorData:{},
        paymentPlanId: "",
        paymentType:"CONTRIBUTION"
      },
      orderref: "",
      apikey:"",
      qrCodeContainer: false,
      isLoading: false,
      depositAmount: "",
      actualdepositamount: 0,
      refNumber: "",
      paymentplanId:"",
      totalamountdue: 0,
      instalmentamount:0,
      transactionorders: [],
      transname: "test",
      stylesObj: {
        logoContainerStyle: {
          marginTop: Dimensions.get("window").height / 8
        },
        logoStyle: {
          top: Platform.OS === "android" ? 0 : 25
        },
        btnContainer: {
          backgroundColor: "#6faf98",
          alignSelf: "center"
        }
      }
    };
  },
  async mounted(){
     this.orderref = await AsyncStorage.getItem("orderref2");
     this.apikey = await AsyncStorage.getItem("layup-token");
     this.totalamountdue = await AsyncStorage.getItem("remainingbalance");
     //alert(this.totalamountdue)
     this.instalmentamount = await AsyncStorage.getItem("instalmentamount");
     //alert(this.instalmentamount)
     if(this.totalamountdue * 1 <= this.instalmentamount * 1){
       this.depositAmount = (this.totalamountdue / 100).toString()
       this.actualdepositamount = this.totalamountdue * 1
     }else{
       this.depositAmount = (this.instalmentamount/100).toString()
       this.actualdepositamount = this.instalmentamount * 1
     }
     
     this.getStorageValue("payplan").then(value => {
        //alert(value)
        this.transactionorders = JSON.parse(value);
        this.payment.paymentPlanId = this.transactionorders._id
        this.transname = this.transactionorders.benefactor.name;
        
       // alert(this.transactionorders.plans[0]._id)
     })
  },
   watch: {
    depositAmount(val) {
      var amount = ""
      var calcamount = 0
      if(val.substring(0, 2) == 'R '){
       amount = val.substring(2)
      }else{
        amount = val
      }
      if(val.substring(0, 1) == 'R'){
       amount = val.substring(1)
      }else{
        amount = val
      }
      amount = amount.replace(" ", "");
      amount = amount.replace("-", "");
      amount = amount.replace(",", "");
      //alert(amount)
      calcamount = Math.round(amount * 100)  / 100
      var num_parts = calcamount.toString().split(".");
      num_parts[0] = num_parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      if(num_parts[1] != undefined){
        //alert(num_parts[1])
        amount = num_parts[0] + "." + num_parts[1]
      }else{
        if(amount.includes(".")){
          amount = num_parts[0] + "."
        }else{
         amount = num_parts[0]
        }
      }
      if (calcamount == 0){
        amount = ""
      }
      
     this.actualdepositamount = amount
     this.actualdepositamount = Math.round(this.actualdepositamount * 10000)  / 100
     this.payment.amount = this.actualdepositamount
     //alert(this.actualdepositamount)
     this.depositAmount = 'R ' + amount//this.thousands_separators(amount)
     
    }
   
  },
  methods: {
    checkPayment() {

      /*   Toast.show({
          text: "Functionality Not Implemented Yet",
          duration: 4000,
          type: "warning"
        });  */
      
       if(this.payment.amount <= 0 || this.payment.amount > this.totalamountdue ){
         Toast.show({
              text: "Invalid Amount Entered",
              duration: 4000,
              type: "warning" 
             })
       }else{
       var selectdata = (this.payment.amount /100).toString()
       //selectdata = "15.00"
       //alert(selectdata)
       this.isLoading = true;
       this.$store
        .dispatch("bridge/getpayment", selectdata)
        .then(response => {
          this.getStorageValue("cardDetails").then(value => {
          value = value.replace(/vdl=vdl/g, '":"');
          value = value.replace(/vdl/g, '"'); 
         // value = value.replace(/vdl=vdl/g, '=');
         // value = value.replace(/vdl/g, ''); 
         value = value.substr(1,value.length - 2)
         var cardresults = JSON.parse(value);
         //alert(value)
         //alert (cardresults.RESULT)
         if(cardresults.RESULT != "APPROVED"){
           AsyncStorage.setItem("cardresult","PAYMENT " + cardresults.RESULT);
           this.navigation.push("PaymentStep6");  
           this.isLoading = false;
         }else{
           
            AsyncStorage.setItem("paymentAmount", this.payment.amount.toString());
            const connectorData = {
              "ac": cardresults.AC,
              "entrymode" : cardresults.ENTRY_MODE,
              "time" : cardresults.TIME,
              "carddescription" : cardresults.CARD_DESCRIPTION,
              "merchantname" : cardresults.MERCHANT_NAME,
              "terminalno" : cardresults.TERMINAL_NO,
              "authcode" : cardresults.AUTH_CODE,
              "date" : cardresults.DATE,
              "uti" : cardresults.UTI,
              "rrn" : cardresults.RRN,
              "result" : cardresults.RESULT,
              "batchno" : cardresults.BATCH_NO,
              "authmode" : cardresults.AUTH_MODE,
              "merchantno" : cardresults.MERCHANT_NO,
              "terminalid" : cardresults.TERMINAL_ID,
              "displaytext" : cardresults.DISPLAY_TEXT,
              "receiptno" : cardresults.RECEIPT_NO,
              "aid" : cardresults.AID,
              "tsi" : cardresults.TSI,
              "responsecode" : cardresults.RESPONSE_CODE,
              "ctq" : cardresults.CTQ,
              "tvr" : cardresults.TVR,
              "pan" : cardresults.PAN
             };
            this.payment.connectorData = connectorData 
             const paymentData = {
            payment:this.payment,
            apikey: this.apikey,
            orderref: this.orderref
            };
            this.$store.dispatch("payments/cardpayment", paymentData).then(res => {
             this.isLoading = true; 
             this.navigation.push("PaymentStep5");
            });

           
         
        }
        })
          
       });    
    
    
    
      }
    },
    printSlip(data){ 
      var selectdata = "";
      data=`!gray 10\n!hz l\n!asc l\n!yspace 12\n*text l Receipt \n!gray 5\n!hz n\n!asc n\n!yspace 0/n/!gray 10\n!hz l\n!asc l\n!yspace 12\n` 
      data = data + `*text l Customer \n!gray 5\n!hz n\n!asc n\n!yspace 0/n/*text l ${this.transname}/n/*text l  /n/*feedline 1/n/!gray 10\n` 
      data = data + `!hz l\n!asc l\n!yspace 12\n*text l Order Ref. ${this.transactionorders.reference} \n` 
      data = data + `!gray 5\n!hz n\n!asc n\n!yspace 0/n/*text l ${this.transactionorders.name}/n/` 
      data = data + `!NLFONT 12 12 3\n*TEXT l Paid Cash:\n!NLFONT 12 12 3\n*text r ${this.numformat(this.actualdepositamount/100)}/n/*feedline 3` 
      selectdata = data; 
      this.doPrint(selectdata);
         
    },
    numformat: function(num) {
      num = Math.round(num * 100) / 100;
      var num_parts = num.toString().split(".");
      var dispnum = "";
      num_parts[0] = num_parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      dispnum = num_parts.join(".");
      if (
        dispnum.substr(dispnum.length - 3, 1) != "." &&
        dispnum.substr(dispnum.length - 2, 1) != "."
      ) {
        dispnum = dispnum + ".00";
      }
      if (dispnum.substr(dispnum.length - 2, 1) == ".") {
        dispnum = dispnum + "0";
      }
      if(dispnum.substring(0,3) == NaN){
        dispnum = "0.00"
      }
      return "R" + dispnum;
    },
    doPrint(selectdata){
      this.$store
         .dispatch("bridge/printslip", selectdata)
         .then(response => {
             //alert('done')
         });
    },
    async getStorageValue(item) {
      var value = await AsyncStorage.getItem(item);
      return value;
    },
    thousands_separators(num) {
      num = Math.round(num * 100)  / 100
      var dispnum = "";
      var num_parts = num.toString().split(".");
      num_parts[0] = num_parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      dispnum = num_parts.join(".");
      if(dispnum.substr(dispnum.length-3,1) != "." && dispnum.substr(dispnum.length-2,1) != "."){
        dispnum = dispnum + ".00"
      }
      if(dispnum.substr(dispnum.length-2,1) == "."){
        dispnum = dispnum + "0"
      }
      return "R " + dispnum; 
      // return "R" + num_parts.join(".");
    },
    //checkPayment() {
    //  this.navigation.navigate("SearchPaymentStep5CashPlan");
   // },
    openQrCode() {
      this.qrCodeContainer = true;
    },
    goToRegisterScreen() {
      this.navigation.navigate("Register");
    },
    goToHomeScreen() {
      //this.navigation.navigate("Dashboard");
     this.navigation.push("PaymentStep2"); 
    },
    closeQrDialog() {
      this.qrCodeContainer = false;
    }
  }
};
</script>

<style>
.cardtypeBtn2 {
  margin-top: 50%;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #151a30;
}

.bg-main {
  background-color: #f1f2f7;
}
.modal-dialog-container {
  background-color: transparent;
}
.modal-dialog {
  background-color: #0c4152;
  opacity: 0.5;
}

.cardholder {
  width: 100%;
  align-self: center;
  color: #fff;
}
.cardholderqr {
  width: 80%;
  align-self: center;
  color: #000;
  background-color: #fff;
  z-index: 9;
  text-align: left;
}
.input-text {
  padding-left: 20px;
}

.customer-name {
  margin-top: 5%;
  font-size: 20px;
}

.form-content {
  margin-bottom: 15%;
}

.input-field {
  background-color: #fff;
  border-color: #f7f9fc;
  align-self: center;
  width: 90%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.text-container {
  padding-top: 10%;
  padding-left: 40px;
  padding-right: 30px;
  padding-bottom: 10%;
  background-color: transparent;
}
.text-color-white {
  color: white;
}
.button-container {
  background-color: #6faf98;
  align-self: center;
}
.stepper-text {
  font-size: 16px;
  color: #8f8f8f;
}
.heading-ref {
  font-size: 25px;
  color: #1f282b;
  margin-top: 20px;
  margin-bottom: 1px;
}

.heading {
  font-size: 18px;
  color: #1f282b;

  margin-bottom: 1px;
}
.loginbtn {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #1295a5;
}
.forgotbtn {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #0c4152;
}
.payment-redirect {
  margin-top: 25%;
  align-self: center;
  width: 90%;
}
.labelbtntext {
  width: 100%;
  text-align: center;
  font-size: 20px;
}
.closeIcon {
  padding-right: 15px;
  padding-top: 15px;
  height: 40px;
  align-items: flex-end;
  z-index: 9;
}
</style>
