<template>
  <nb-container class="bg-main">
    <status-bar
      :barStyle="'light-content'"
      backgroundColor="#0c4152"
    ></status-bar>
    <nb-container
      v-if="isLoading"
      class="bg-main"
      style="position:absolute; left:0; top:0; width:100%; height:100%; z-index:999;"
    >
      <nb-spinner
        color="#0c4152"
        style="position:absolute; left:45%; top:25%;"
      />
    </nb-container>

    <nb-content>
      <view class="text-container">
        <view class="iconanim">
          <image
            :resizeMode="'contain'"
            :style="{ width: 300, marginTop: -65}"
            :source="require('../../../assets/tooltip1anim.gif')"
          />
        </view>
        <text class="heading-white">Welcome Merchants!</text>
        <text class="subtext-white">Let’s begin by showing you around!</text>
        <nb-button rounded class="getstartedbtn" :on-press="gotoToolTip2">
          <nb-text class="labelbtntext-started">Get Started</nb-text>
        </nb-button>

        <text :on-press="gotoDashboard" class="labelbtntext">Skip</text>
      </view>
    </nb-content>
  </nb-container>
</template>

<script>
import { Dimensions, Platform } from "react-native";
import axios from "../../axios/index.js";
// import axios from "axios";

export default {
  props: {
    navigation: {
      type: Object
    }
  },
  data() {
    return {
      isLoading: false,
      username: "",
      password: "",
      pokemon: [],
      stylesObj: {
        logoContainerStyle: {
          marginTop: Dimensions.get("window").height / 8
        },
        logoStyle: {
          left: Platform.OS === "android" ? 40 : 50,
          top: Platform.OS === "android" ? 35 : 60
        },
        btnContainer: {
          backgroundColor: "#6faf98",
          alignSelf: "center"
        }
      }
    };
  },
  methods: {
    reset() {
      this.isLoading = true;
      const postdata = {
        email: this.username
      };
      axios({
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          apiKey: "dashpay2020"
        },
        url: "/v1/request-password-reset",
        data: postdata
      }).then(
        result => {
          this.isLoading = false;
          this.result = result.data.status;
          alert(this.result);
        },
        error => {
          this.isLoading = false;
          alert(error);
        }
      );
    },

    gotoToolTip2() {
      this.navigation.navigate("tooltip2");
    },
    gotoDashboard() {
      this.navigation.navigate("Dashboard");
    }
  }
};
</script>

<style>
.bg-main {
  background-color: #0c4152;
}
.input-text {
  padding-left: 20px;
}

.form-content {
  margin-bottom: 45%;
}

.input-field {
  background-color: #fff;
  border-color: #f7f9fc;
  align-self: center;
  width: 90%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.iconanim {
  align-self: center;
}
.text-container {
  padding-top: 10%;
  padding-left: 40px;
  padding-right: 30px;
  background-color: transparent;
}
.text-color-white {
  color: white;
}
.button-container {
  background-color: #6faf98;
  align-self: center;
}

.subtext-white {
  font-size: 18px;
  color: #fff;
  margin-bottom: 40%;
  margin-top: -50px;
  text-align: center;
}

.heading-white {
  font-size: 36px;
  color: #fff;
  margin-top: -10px;
  margin-bottom: 20%;
  padding: 0;
  text-align: center;
}

.getstartedbtn {
  margin-bottom: 20px;
  height: 60px;
  align-self: center;
  width: 90%;
  color: #000;
  background-color: #fff;
}
.loginbtn3 {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #151a30;
}
.labelbtntext-started {
  text-align: center;
  width: 100%;
  text-transform: none;
  color: #000;
}
.labelbtntext {
  text-align: center;
  width: 100%;
  text-transform: none;
  color: #fff;
}
.closeIcon {
  padding-right: 10px;
  width: 100%;
  height: 30px;
  align-items: flex-end;
}
</style>
