<template>
  <nb-container class="bg-main">
     <status-bar v-if = "android"
        :barStyle="'light-content'"
        backgroundColor="#0c4152"
      ></status-bar>
     <status-bar v-else 
        :barStyle="'dark-content'"
     ></status-bar> 
    <nb-container
      v-if="isLoading"
      class="bg-main"
      style="position:absolute; left:0; top:0; width:100%; height:100%; z-index:999;"
    >
      <nb-spinner
        color="#0c4152"
        style="position:absolute; left:45%; top:25%;"
      />
    </nb-container>

    <nb-content>
      <view class="text-container">
      
        <text class="heading-white">Home Screen</text>
        <text class="subtext-white">The home screen displays your notifications and reminders. Access all features using the action bar at the bottom</text>
          <view class="iconanim">
          <image
            :resizeMode="'contain'"
            :style="{ width: 330, marginTop: -65 }"
            :source="require('../../../assets/bottom-nav.png')"
          />
        </view>
             <view class="iconanim2">
          <image
            :resizeMode="'contain'"
            :style="{ width: 200 }"
            :source="require('../../../assets/hand1anim.gif')"
          />
        </view>
        <nb-button rounded class="getstartedbtn" :on-press="gotoToolTip3">
          <nb-text class="labelbtntext-started">Next</nb-text>
        </nb-button>

        <text :on-press="gotoDashboard" class="labelbtntext">Skip</text>
      </view>
    </nb-content>
  </nb-container>
</template>

<script>
import { Dimensions, Platform } from "react-native";
import axios from "../../axios/index.js";
// import axios from "axios";

export default {
  props: {
    navigation: {
      type: Object
    }
  },
  data() {
    return {
      android: Platform.OS === "android" ? true : false,
      isLoading: false,
      username: "",
      password: "",
      pokemon: [],
      stylesObj: {
        logoContainerStyle: {
          marginTop: Dimensions.get("window").height / 8
        },
        logoStyle: {
          left: Platform.OS === "android" ? 40 : 50,
          top: Platform.OS === "android" ? 35 : 60
        },
        btnContainer: {
          backgroundColor: "#6faf98",
          alignSelf: "center"
        }
      }
    };
  },
  methods: {
    reset() {
      this.isLoading = true;
      const postdata = {
        email: this.username
      };
      axios({
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          apiKey: "dashpay2020"
        },
        url: "/v1/request-password-reset",
        data: postdata
      }).then(
        result => {
          this.isLoading = false;
          this.result = result.data.status;
          alert(this.result);
        },
        error => {
          this.isLoading = false;
          alert(error);
        }
      );
    },
    goToLoginScreen() {
      this.navigation.navigate("Login");
    },
    gotoToolTip3() {
      this.navigation.navigate("tooltip3");
    },
    goToHomeScreen() {
      this.navigation.navigate("Home");
    },
    gotoDashboard() {
      this.navigation.navigate("Dashboard");
    }
  }
};
</script>

<style>
.bg-main {
  background-color: #f7f9fc;
}
.input-text {
  padding-left: 20px;
}

.form-content {
  margin-bottom: 45%;
}

.input-field {
  background-color: #fff;
  border-color: #f7f9fc;
  align-self: center;
  width: 90%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.iconanim {
   margin-top: -30px;
  align-self: center;
}
.iconanim2 {
   margin-top: -170px;
  align-self: center;
}
.text-container {
  padding-top: 10%;
  padding-left: 40px;
  padding-right: 30px;
  background-color: transparent;
}
.text-color-white {
  color: white;
}
.button-container {
  background-color: #6faf98;
  align-self: center;
}

.subtext-white {
  font-size: 14px;
  color: #222b45;
  text-align: center;
}

.heading-white {
    margin-top: 20px;
  font-size: 36px;
  color: #222b45;
  padding: 0;
  text-align: center;
}

.getstartedbtn {
  margin-bottom: 20px;
  height: 60px;
  align-self: center;
  width: 90%;
  color: #fff;
     background-color: #151a30;
}
.loginbtn3 {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #151a30;
}
.labelbtntext-started {
  text-align: center;
  width: 100%;
  text-transform: none;
  color: #FFF;
}
.labelbtntext {
  text-align: center;
  width: 100%;
  text-transform: none;
  color: #151a30;
}
.closeIcon {
  padding-right: 10px;
  width: 100%;
  height: 30px;
  align-items: flex-end;
}
</style>
