<template>
  <view>
    <nb-item rounded class="input-field">
      <slot />
    </nb-item>
    <nb-text
      v-if="error"
      :style="{ color: 'red', paddingLeft: 40, fontSize: 14 }"
      >{{ msg }}</nb-text
    >
  </view>
</template>

<script>
export default {
  props: ["error", "msg"]
};
</script>
<style>
.input-field {
  background-color: #fff;
  align-self: center;
  width: 90%;
  margin-top: 5px;
  margin-bottom: 5px;
}
</style>
