<template>
  <nb-container class="bg-main">
    <status-bar v-if = "android"
        :barStyle="'light-content'"
        backgroundColor="#0c4152"
      ></status-bar>
     <status-bar v-else 
        :barStyle="'dark-content'"
     ></status-bar> 
    <nb-container
      v-if="isLoading"
      class="bg-main"
      style="position:absolute; left:0; top:0; width:100%; height:100%; z-index:999;"
    >
      <nb-spinner
        color="#0c4152"
        style="position:absolute; left:45%; top:25%;"
      />
    </nb-container>
    <view class="closeIcon" :style="stylesObj.logoStyle">
      <TouchableOpacity :on-press="goToHomeScreen">
        <image :source="require('../../../assets/close_icon.png')" />
      </TouchableOpacity>
    </view>
    <nb-content>
      <view class="text-container">
        <text class="stepper-text">Step 2/5</text>
        <text class="heading">Create Account</text>
        <text>
          Enter the customer mobile number for account creation and verification.
        </text>
      </view>

      <nb-form class="form-content">
        <text :style="{ paddingLeft: 30, fontWeight: 'bold' }"
          >Enter mobile number</text
        >
        <nb-item rounded class="input-field">
          <nb-input
            class="input-text"
            placeholder="+27 83 123 1234"
            placeholderTextColor="#979797"
            keyboardType="phone-pad"
            v-model="username"
          />
        </nb-item>
      </nb-form>
      <nb-button rounded class="forgotbtn" :on-press="sendOtp">
        <nb-text class="labelbtntext">Send OTP</nb-text>
      </nb-button>
    </nb-content>
  </nb-container>
</template>

<script>
import { Dimensions, Platform } from "react-native";
import { AsyncStorage } from "react-native";
//import axios from "../../axios/index.js";
// import axios from "axios";

export default {
  props: {
    navigation: {
      type: Object
    }
  },
  data() {
    return {
      android: Platform.OS === "android" ? true : false,
      isLoading: false,
      username: "",
      refNumber: "",
      stylesObj: {
        logoContainerStyle: {
          marginTop: Dimensions.get("window").height / 8
        },
        logoStyle: {
          top: Platform.OS === "android" ? 0 : 25
        },
        btnContainer: {
          backgroundColor: "#6faf98",
          alignSelf: "center"
        }
      }
    };
  },
  async created(){
    this.orderref = await AsyncStorage.getItem("orderref2");
  },
  methods: {
    
    sendOtp() {
      this.isLoading = true;
        const postdata = {
          cellNumber: this.username,
          action: "VERIFYACCOUNTCREATEPAYMENTPLAN"
         }
         const postdata2 = {
           postdata: postdata,
           orderref: this.orderref
         }
      this.$store.dispatch("users/existinguser", postdata2).then(res => {
       
       this.getStorageValue("userexists").then(value => {
            //alert(value)
            if(value == "false"){
              this.sendOtp2()
            }else{
              AsyncStorage.setItem("usercellno", this.username);
              this.isLoading = false;  
              this.navigation.push("OtpAccountPlan");
              //alert(value)
              //
            }
            
         }); 
             
      });
    },
    sendOtp2() {
      this.isLoading = true;
        const postdata = {
          cellNumber : {
           cellNumber: this.username,
           shouldWelcome: true
          },
          orderref: this.orderref
        }
      this.$store.dispatch("users/createuser", postdata).then(res => {
       this.isLoading = false;  
       this.getStorageValue("user").then(value => {
            //alert(value)
            AsyncStorage.setItem("usercellno", this.username);
            this.navigation.push("OtpAccountPlan");
         }); 
             
      });
    },
    async getStorageValue(item) {
      var value = await AsyncStorage.getItem(item);
      return value;
    },
    goToRegisterScreen() {
      this.navigation.navigate("Register");
    },
    goToHomeScreen() {
      this.isLoading = true;
      this.getStorageValue("logindata").then(value => {
        const postdata = JSON.parse(value);
        this.$store.dispatch("auth/login", postdata).then(res => {
        this.isLoading = false;  
        this.navigation.push("Dashboard");
        });
      }); 
    }
  }
};
</script>

<style>
.bg-main {
  background-color: #f1f2f7;
}
.input-text {
  padding-left: 20px;
}

.form-content {
  margin-bottom: 15%;
}

.input-field {
  background-color: #fff;
  border-color: #f7f9fc;
  align-self: center;
  width: 90%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.text-container {
  padding-top: 5%;
  padding-left: 40px;
  padding-right: 30px;
  padding-bottom: 10%;
  background-color: transparent;
}
.text-color-white {
  color: white;
}
.button-container {
  background-color: #6faf98;
  align-self: center;
}

.heading {
  font-weight: bold;
  font-size: 38px;
  color: #1f282b;

  margin-bottom: 1px;
}
.loginbtn {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #1295a5;
}
.forgotbtn {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #151a30;
}
.loginbtn3 {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #151a30;
}
.labelbtntext {
  text-align: center;
  width: 100%;
  text-transform: none;
}
.closeIcon {
  padding-right: 15px;
  padding-top: 15px;
  height: 40px;
  align-items: flex-end;
  z-index: 9;
}
.stepper-text {
  font-size: 16px;
  color: #8f8f8f;
}
</style>
