<template>
  <nb-container class="bg-main">
    <status-bar
      :barStyle="'light-content'"
      backgroundColor="#0c4152"
    ></status-bar>
    <nb-container
      v-if="isLoading"
      class="bg-main"
      style="position:absolute; left:0; top:0; width:100%; height:100%; z-index:999;"
    >
      <nb-spinner
        color="#0c4152"
        style="position:absolute; left:45%; top:25%;"
      />
    </nb-container>
    <nb-container
      v-if="termsConditions"
      class="modal-dialog-container"
      style="position:absolute; left:0; top:0; width:100%; height:100%; z-index:2;"
    >
      <nb-container
        class="modal-dialog"
        style="position:absolute; left:0; top:0; width:100%; height:100%;"
      ></nb-container>
      <nb-content>
        <nb-card
          class="cardholderqr"
          :style="{ borderRadius: 20, padding: 10, marginTop: '10%' }"
        >
          <nb-body
            :style="{
              width: '100%',
              alignSelf: 'stretch',
              textAlign: 'left',
              padding: 10,
            }"
          >
            <view
              :style="{
                flex: 1,
                flexDirection: 'row',
              }"
            >
              <text
                :style="{
                  flex: 1,
                  marginTop: 10,
                  fontSize: 18,
                }"
                >Terms & Conditions</text
              >
              <nb-button
                transparent
                :on-press="closeTermsDialog"
                :style="{
                  textAlign: 'right',
                }"
              >
                <image :source="require('../../../assets/close_icon.png')" />
              </nb-button>
            </view>
            <view>
              <nb-card
                class=""
                :style="{
                  borderRadius: 20,
                  padding: 20,
                  marginTop: '6%',
                  elevation: 0,
                }"
              >
                <text>
                  Lorem ipsum, or lipsum as it is sometimes known, is dummy text
                  used in laying out print, graphic or web designs. The passage
                  is attributed to an unknown typesetter in the 15th century who
                  is thought to have scrambled parts of Cicero's De Finibus
                  Bonorum et Malorum for use in a type specimen book.
                </text>
              </nb-card>
            </view>
          </nb-body>
        </nb-card>
      </nb-content>
    </nb-container>
    <nb-container
      v-if="qrCodeContainer"
      class="modal-dialog-container"
      style="position:absolute; left:0; top:0; width:100%; height:100%; z-index:2;"
    >
      <nb-container
        class="modal-dialog"
        style="position:absolute; left:0; top:0; width:100%; height:100%;"
      ></nb-container>
      <nb-content>
        <nb-card
          class="cardholderqr"
          :style="{ borderRadius: 20, padding: 10, marginTop: '10%' }"
        >
          <nb-body
            :style="{
              width: '100%',
              alignSelf: 'stretch',
              textAlign: 'left',
              padding: 10,
            }"
          >
            <view
              :style="{
                flex: 1,
                flexDirection: 'row',
              }"
            >
              <text
                :style="{
                  flex: 1,
                  marginTop: 10,
                  fontSize: 18,
                }"
                >Review Order</text
              >
              <nb-button
                transparent
                :on-press="closeQrDialog"
                :style="{
                  textAlign: 'right',
                }"
              >
                <image :source="require('../../../assets/close_icon.png')" />
              </nb-button>
            </view>
            <view>
              <text :style="{ margin: 5, color: '#8f8f8f' }"
                >Order Description: {{orderDescription}}</text
              >
              <text :style="{ margin: 5, color: '#8f8f8f' }"
                >Order Reference: {{orderRefNo}} </text
              >
              <text :style="{ margin: 5, color: '#8f8f8f' }"
                >Total Order Price: {{totalOrderValue}}  </text
              >
              <text :style="{ margin: 5, color: '#8f8f8f' }"
                >Deposit Amount: {{paymentDueNow}}  </text
              >
              <text
                v-if="showmonthly"
                :style="{
                  marginTop: 15,
                  marginLeft: 5,
                  marginBottom: 5,
                  color: '#8f8f8f',
                }"
                >Payment Frequency: Monthly </text
              >
              <text
                v-if="showweekly"
                :style="{
                  marginTop: 15,
                  marginLeft: 5,
                  marginBottom: 5,
                  color: '#8f8f8f',
                }"
                >Payment Frequency: Weekly </text
              >
              <text :style="{ margin: 5, color: '#8f8f8f' }">Billing Day: {{paymentDay}} </text>
              <text :style="{ margin: 5, color: '#8f8f8f' }"
                >Final Payment Date:  {{ finalPaymentDay + "/" + finalPaymentMonth + "/" + finalPaymentYear }}  </text
              >
              <text
                :style="{
                  marginTop: 15,
                  marginLeft: 5,
                  marginBottom: 0,
                  color: '#000',
                  fontSize: 25,
                  fontWeight: 'bold',
                }"
                >Pay {{  paymentInstalment  }}</text
              >
              <text
                :style="{
                  marginTop: 0,
                  marginLeft: 5,
                  marginBottom: 0,
                  color: '#8f8f8f',
                }"
                >{{ periodText }}</text
              >
              <text
                :on-press="printStatement"
                :style="{
                  marginTop: 20,
                  marginLeft: 5,
                  marginBottom: 20,
                  color: '#000',
                }"
                >Print payment plan</text
              >
              <image :source="require('../../../assets/qr-code.png')" />
            </view>
          </nb-body>
        </nb-card>
      </nb-content>
    </nb-container>
    <view class="closeIcon">
      <!-- <button title="Go to home screen" @press="goToHomeScreen"></button> -->
      <nb-button transparent :on-press="goToHomeScreen">
        <image :source="require('../../../assets/close_icon.png')" />
      </nb-button>
    </view>
    <nb-content>
      <view class="heading-container">
        <text class="stepper-text">Step 1/5</text>
        <text class="heading">Create Payment Plan</text>
      </view>
      <nb-item rounded class="input-field">
        <nb-input
          class="input-text"
          placeholder="Order Description"
          placeholderTextColor="#ccc"
          v-model="orderDescription"
        />
      </nb-item>
      <nb-item rounded class="input-field">
        <nb-input
          class="input-text"
          placeholder="Order Reference / Invoice Number"
          placeholderTextColor="#ccc"
          v-model="orderRefNo"
        />
      </nb-item>
      <nb-item rounded class="input-field">
        <nb-input
          class="input-text"
          placeholder="Total Order Value"
          placeholderTextColor="#ccc"
          keyboard-type="number-pad"
          :on-blur="calcplan"
          v-model="totalOrderValue"
        />
      </nb-item>
      <view class="plan-container" :style="{ marginTop: 10 }">
        <text :style="{ fontWeight: 'bold', fontSize: 16 }"
          >Deposit Amount</text
        >
      </view>
      <view class="plan-container" :style="{ alignSelf: 'stretch' }">
        <view
          :style="{
            flex: 1,
            flexDirection: 'row',
          }"
        >
          <nb-button
            rounded
            :on-press="depamount1Selected"
            class="plan-radio"
            :style="{
              width: '17%',
              elevation: 0,
              marginLeft: 0,
              backgroundColor: depamount1,
            }"
          >
            <nb-text class="labelbtntext" :style="{ color: depamount1text }"
              >%</nb-text
            >
          </nb-button>
          <nb-button
            rounded
            :on-press="depamount2Selected"
            class="plan-radio"
            :style="{ width: '30%', elevation: 0, backgroundColor: depamount2 }"
          >
            <nb-text class="labelbtntext" :style="{ color: depamount2text }"
              >Flat Fee</nb-text
            >
          </nb-button>
          <nb-button
            rounded
            :on-press="depamount3Selected"
            class="plan-radio"
            :style="{ width: '50%', elevation: 0, backgroundColor: depamount3 }"
          >
            <nb-text class="labelbtntext" :style="{ color: depamount3text }"
              >1st Instalment</nb-text
            >
          </nb-button>
        </view>
      </view>
      <view
        :style="{
          flex: 1,
          flexDirection: 'row',
        }"
      >
        <nb-item
          v-if="showperc"
          rounded
          class="input-field"
          :style="{ width: '22%', marginLeft: 25 }"
        >
          <nb-input
            class="input-text"
            placeholder="20%"
            v-model="depositPerc"
            :on-blur="calcplan" 
            keyboard-type="number-pad"
            placeholderTextColor="#ccc"
          />
        </nb-item>
        <nb-item
          v-if="showperc"
          rounded
          class="input-field"
          :style="{ width: '65%' }"
        >
          <nb-input
            class="input-text"
            disabled
            placeholder=""
            v-model="depositAmtPerc"
          />
        </nb-item>
      </view>
      <nb-item v-if="showflat" rounded class="input-field">
        <nb-input
          class="input-text"
          placeholder="R200"
          v-model="depositAmtFlat"
          :on-blur="calcplan"
          keyboard-type="number-pad"
          placeholderTextColor="#ccc"
        />
      </nb-item>

      <view class="plan-container" :style="{ marginTop: 10 }">
        <text :style="{ fontWeight: 'bold', fontSize: 16 }"
          >Payment Frequency</text
        >
      </view>
      <view class="plan-container" :style="{ alignSelf: 'stretch' }">
        <view
          :style="{
            flex: 1,
            flexDirection: 'row',
          }"
        >
          <nb-button
            rounded
            :on-press="payfreq1Selected"
            class="plan-radio"
            :style="{
              width: '48%',
              elevation: 0,
              marginLeft: 0,
              backgroundColor: payfreq1,
            }"
          >
            <nb-text class="labelbtntext" :style="{ color: payfreq1text }"
              >Monthly</nb-text
            >
          </nb-button>
          <nb-button
            rounded
            :on-press="payfreq2Selected"
            class="plan-radio"
            :style="{ width: '48%', elevation: 0, backgroundColor: payfreq2 }"
          >
            <nb-text class="labelbtntext" :style="{ color: payfreq2text }"
              >Weekly</nb-text
            >
          </nb-button>
        </view>
      </view>
      <view class="plan-container" :style="{ marginTop: 5 }">
        <view class="" :style="{ marginBottom: 10 }">
          <text :style="{ fontWeight: 'bold', fontSize: 16 }">{{
            frequencylabel
          }}</text>
        </view>
        <view
          :style="{ borderRadius: 20, backgroundColor: '#fff', padding: 3 }"
        >
          <nb-picker
            v-if="showmonthly"
            class="dropdownList"
            mode="dropdown"
            :iosIcon="getIosIcon()"
            placeholder="Select Day of the Month"
            :selectedValue="selectedValue"
            :onValueChange="onValueChange"
          >
            <nb-item label="01" value="0" />
            <item label="02" value="1" />
            <item label="03" value="2" />
            <item label="04" value="3" />
            <item label="05" value="4" />
            <item label="06" value="5" />
            <item label="07" value="6" />
            <item label="08" value="7" />
            <item label="09" value="8" />
            <item label="10" value="9" />
            <item label="11" value="10" />
            <item label="12" value="11" />
            <item label="13" value="12" />
            <item label="14" value="13" />
            <item label="15" value="14" />
            <item label="16" value="15" />
            <item label="17" value="16" />
            <item label="18" value="17" />
            <item label="19" value="18" />
            <item label="20" value="19" />
            <item label="21" value="20" />
            <item label="22" value="21" />
            <item label="23" value="22" />
            <item label="24" value="23" />
            <item label="25" value="24" />
            <item label="26" value="25" />
            <item label="27" value="26" />
            <item label="28" value="27" />
          </nb-picker>
        </view>

        <view
          :style="{ borderRadius: 20, backgroundColor: '#fff', padding: 3 }"
        >
          <nb-picker
            v-if="showweekly"
            class="dropdownList"
            mode="dropdown"
            :iosIcon="getIosIcon()"
            placeholder="Select Day of the Week"
            :selectedValue="selectedValue2"
            :onValueChange="onValueChange2"
          >
            <item label="Sunday" value="0" />
            <item label="Monday" value="1" />
            <item label="Tuesday" value="2" />
            <item label="Wednesday" value="3" />
            <item label="Thursday" value="4" />
            <item label="Friday" value="5" />
            <item label="Saturday" value="6" />
          </nb-picker>
        </view>
      </view>
      <view class="plan-container" :style="{ marginTop: 10 }">
        <text :style="{ fontWeight: 'bold', fontSize: 16 }"
          >Final Payment Date</text
        >
      </view>
      <view class="plan-container" :style="{ alignSelf: 'stretch' }">
        <view
          :style="{
            flex: 1,
            flexDirection: 'row',
          }"
        >
          <nb-button
            rounded
            :on-press="finalpay1Selected"
            class="plan-radio"
            :style="{
              width: '48%',
              elevation: 0,
              marginLeft: 0,
              backgroundColor: finalpay1,
            }"
          >
            <nb-text class="labelbtntext" :style="{ color: finalpay1text }"
              >Date</nb-text
            >
          </nb-button>
          <nb-button
            rounded
            disabled
            :on-press="finalpay2Selected"
            class="plan-radio"
            :style="{ width: '48%', elevation: 0, backgroundColor: finalpay2 }"
          >
            <nb-text class="labelbtntext" :style="{ color: finalpay2text }"
              >No. of {{ periodname }}</nb-text
            >
          </nb-button>
        </view>
      </view>

      <view class="plan-container" :style="{ alignSelf: 'stretch' }">
        <view
          :style="{
            flex: 1,
            flexDirection: 'row',
          }"
        >
          <nb-item rounded class="plan-fields" v-if="showdatepicker">
            <nb-date-picker
              :defaultDate="defaultDate"
              :minimumDate="minimumDate"
              :modalTransparent="false"
              animationType="fade"
              androidMode="default"
              placeHolderText="      Day     "
              :textStyle="{ color: 'black' }"
              :placeHolderTextStyle="{ color: '#d3d3d3' }"
              :onDateChange="setDate"
              ref="calendar"
            />
          </nb-item>
          <nb-item rounded class="plan-fields" v-if="showdatepicker">
            <nb-date-picker
              :defaultDate="defaultDate"
              :minimumDate="minimumDate"
              :modalTransparent="false"
              animationType="fade"
              androidMode="default"
              placeHolderText="   Month    "
              :textStyle="{ color: 'black' }"
              :placeHolderTextStyle="{ color: '#d3d3d3' }"
              :onDateChange="setDate"
            />
          </nb-item>
          <nb-item rounded class="plan-fields" v-if="showdatepicker">
            <nb-date-picker
              :defaultDate="defaultDate"
              :minimumDate="minimumDate"
              :modalTransparent="false"
              animationType="fade"
              androidMode="default"
              placeHolderText="     Year     "
              :textStyle="{ color: 'black' }"
              :placeHolderTextStyle="{ color: '#d3d3d3' }"
              :onDateChange="setDate"
            />
          </nb-item>
          
           <nb-button
           v-if="hidedatepicker" 
            rounded
            :on-press="finalpay1Selected"
            class="plan-radio"
            :style="{
              width: '31%',
              elevation: 0,
              marginLeft: 6,
              backgroundColor: depamount2,
            }"
          >
            <nb-text class="labelbtntext" :style="{ color: depamount2text }"
              >{{finalPaymentDay}}</nb-text
            >
          </nb-button>
          
          <nb-button
           v-if="hidedatepicker" 
            rounded
            :on-press="finalpay1Selected"
            class="plan-radio"
            :style="{
              width: '31%',
              elevation: 0,
              marginLeft: 6,
              backgroundColor: depamount2,
            }"
          >
            <nb-text class="labelbtntext" :style="{ color: depamount2text }"
              >{{finalPaymentMonth}}</nb-text
            >
          </nb-button>
          <nb-button
           v-if="hidedatepicker" 
            rounded
            :on-press="finalpay1Selected"
            class="plan-radio"
            :style="{
              width: '31%',
              elevation: 0,
              marginLeft: 6,
              backgroundColor: depamount2,
            }"
          >
            <nb-text class="labelbtntext" :style="{ color: depamount2text }"
              >{{finalPaymentYear}}</nb-text
            >
          </nb-button>
         
          
        </view>
      </view>
      <view class="plan-container" :style="{ marginTop: 10 }">
        <text :style="{ fontWeight: 'bold', fontSize: 16 }">Product Image</text>
      </view>
      <view class="plan-container" :style="{ alignSelf: 'stretch' }">
        <view
          :style="{
            flex: 1,
            flexDirection: 'row',
          }"
        >
          <nb-button
            rounded
            :on-press="camera1Selected"
            class="plan-radio"
            :style="{
              width: '48%',
              elevation: 0,
              marginLeft: 0,
            }"
          >
            <nb-text class="labelbtntext" :style="{ color: '#000' }"
              >+ Take Photo</nb-text
            >
          </nb-button>
          <nb-button
            rounded
            :on-press="camera2Selected"
            class="plan-radio"
            :style="{ width: '48%', elevation: 0 }"
          >
            <nb-text class="labelbtntext" :style="{ color: '#000' }"
              >Use Logo</nb-text
            >
          </nb-button>
        </view>
        <view :style="{ marginTop: 20 }" v-if="photoTaken">
          <image class="photoPreview" :source="{ uri: photoData }" />
        </view>
      </view>

      <view class="plan-container" :style="{ alignSelf: 'stretch' }">
        <view
          :style="{
            flex: 1,
            flexDirection: 'row',
          }"
        >
        </view>
      </view>
      <view class="plan-container" :style="{ marginTop: 5 }">
        <view
          :style="{
            backgroundColor: '#454545',
            height: 1,
            marginTop: 20,
            marginBottom: 20,
            width: '100%',
          }"
        />
      </view>
      <view class="heading-container-section">
        <text class="heading">Payment Plan Breakdown</text>
      </view>

      <view class="plan-container" :style="{ marginTop: 10 }">
        <text :style="{ fontWeight: 'bold', fontSize: 16 }">Due Amount</text>
      </view>
      <nb-item rounded class="input-field">
        <nb-input class="input-text" placeholder="" v-model="paymentDueNow" disabled/>
      </nb-item>
      <view class="plan-container" :style="{ marginTop: 10 }">
        <text :style="{ fontWeight: 'bold', fontSize: 16 }"
          >Number Of Payments</text
        >
      </view>
      <nb-item rounded class="input-field">
        <nb-input class="input-text" placeholder="" v-model="noPayments" disabled />
      </nb-item>
      <view class="plan-container" :style="{ marginTop: 10 }">
        <text :style="{ fontWeight: 'bold', fontSize: 16 }"
          >Plan Breakdown</text
        >
      </view>
      <nb-item rounded class="input-field">
        <nb-input class="input-text" placeholder="" v-model="planBreakdown" disabled/>
      </nb-item>
      <text
        :style="{ marginTop: 40, alignSelf: 'center' }"
        :on-press="openReviewOrder"
        >Review full breakdown</text
      >
      <text
        :style="{ marginTop: 10, alignSelf: 'center' }"
        :on-press="openTermsDialog"
        >View terms and conditions</text
      >
      <nb-button rounded class="primarybutton" :on-press="gotoCreatePlan2">
        <nb-text class="primarybtntext">Next</nb-text>
      </nb-button>
    </nb-content>
  </nb-container>
</template>

<script>
//import axios from "../../axios/index.js";
// import axios from "axios";
import React from "react";
//import CurrencyInput from "../../../src/components/currencyinput";
import { Picker, Icon } from "native-base";
//import * as Permissions from "expo-permissions";
import { Camera } from "expo-camera";
import { AsyncStorage } from "react-native";
import { BackHandler } from "react-native";

export default {
  components: { Item: Picker.Item, Camera },
  props: {
    navigation: {
      type: Object,
    },
  },

  data() {
    const today = new Date();
    const year = today.getFullYear();
    const month = today.getMonth();
    const day = today.getDate();
    const maximum = new Date(year + 1, month, day);
    const endofmonth = new Date(year, month, 28);
    return {
      payload: {
        orderref:"",
        absorbsfee: true,
        amountDue: 0,
        depositAmount: 0,
        depositPerc: 0,
        depositType: "",
        endDateMax: "",
        endDateMin: "",
        frequency: "",
        offset: 0,
        percFee: 0,
      },
      orderref:"",
      paymentDay: "28",
      plans: {},
      mydate: "",
      periodname: "months",
      defaultDate: endofmonth,
      minimumDate: today,
      maximumDate: maximum,
      selectedDate: "",
      dayofmonth: "27",
      dayofweek: "1",
      showdatepicker: true,
      hidedatepicker: false,
      showperc: true,
      showflat: false,
      showmonthly: true,
      showweekly: false,
      photoTaken: false,
      termsConditions: false,
      qrCodeContainer: false,
      hasCameraPermission: false,
      type: Camera.Constants.Type.back,
      finalpay1text: "#fff",
      finalpay2text: "#000",
      finalpay1: "#000",
      finalpay2: "#fff",
      payfreq1text: "#fff",
      payfreq2text: "#000",
      payfreq1: "#000",
      payfreq2: "#fff",
      frequencylabel: "Day of the Month",
      depamount1: "#0c4152",
      depamount2: "#fff",
      depamount3: "#fff",
      depamount1text: "#fff",
      depamount2text: "#000",
      depamount3text: "#000",
      isLoading: false,
      orderDescription: "",
      orderRefNo: "",
      totalOrderValue: "",
      actualTotalOrderValue: 0,
      depositPerc: "20%",
      actualDepositPerc: 20,
      depositAmtPerc: "",
      actualDepositAmtPerc: 0,
      depositAmtFlat: "",
      actualDepositAmtFlat: 0,
      actualDepositAmt: 0,
      actualOffset: 27,
      finalPaymentDay: "",
      finalPaymentMonth: "",
      finalPaymentYear: "",
      paymentDueNow: "",
      paymentInstalment: "",
      actualPaymentInstalment: 0,
      noPayments: "",
      planBreakdown: "",
      timer: null,
      actualOffSet: 28,
      periodText: "",
      photoData: "http://pixelboxsolutions.co.za/preview_icon.jpg",
    };
  },
  /* computed:{
     selectedValue () {
        
        return this.billingMonthSelected
      },
  },*/
   async created() {
     this.orderref = await AsyncStorage.getItem("orderref2");
     BackHandler.addEventListener('hardwareBackPress', function() {
         return true
    });
     
     this.getStorageValue("layup-merchantpercfee").then(value => {
        this.payload.percFee = value * 1;
        //alert(this.payload.percFee)
      });
    this.getStorageValue("orderref2").then(value => {
        this.orderref = value;
        //alert(this.orderref)
      });
      
  },  
  /*  watch: {
    totalOrderValue: function(newValue, oldValue) {
      this.calcplan();
    },
    depositPerc: function(newValue, oldValue) {
      this.calcplan();
    },
  }, */
  methods: {
   printStatement(data){ 
      var selectdata = "";
      data=`!gray 10\n!hz l\n!asc l\n!yspace 12\n*text l Payment Plan \n!gray 5\n!hz n\n!asc n\n!yspace 0/n/!gray 10\n!hz l\n!asc l\n!yspace 12\n` 
     // data = data + `*text l Customer \n!gray 5\n!hz n\n!asc n\n!yspace 0/n/*text l ${this.transname}/n/*text l  /n/*feedline 1/n/!gray 10\n` 
     // data = data + `!hz l\n!asc l\n!yspace 12\n*text l Order Description : ${this.orderDescription} \n` 
     // data = data + `!gray 5\n!hz n\n!asc n\n!yspace 0/n/*text l Order Reference: ${this.orderRefno}/n/`
      data = data + `!NLFONT 12 12 3\n*TEXT l Order Description:\n!NLFONT 12 12 3\n*text r ${this.orderDescription}/n/` 
      data = data + `!NLFONT 12 12 3\n*TEXT l Order Reference:\n!NLFONT 12 12 3\n*text r ${this.orderRefNo}/n/` 
      data = data + `!NLFONT 12 12 3\n*TEXT l Total Order Price:\n!NLFONT 12 12 3\n*text r ${this.totalOrderValue}/n/` 
      data = data + `!NLFONT 12 12 3\n*TEXT l Deposit Amount:\n!NLFONT 12 12 3\n*text r ${this.paymentDueNow}/n/` 
      if(this.showmonthly){
        data = data + `*feedline 1/n/!NLFONT 12 12 3\n*TEXT l Payment Frequency:\n!NLFONT 12 12 3\n*text r Monthly/n/` 
      }else{
        data = data + `*feedline 1/n/!NLFONT 12 12 3\n*TEXT l Payment Frequency:\n!NLFONT 12 12 3\n*text r Weekly/n/` 
      }  
      data = data + `!NLFONT 12 12 3\n*TEXT l Billing Day:\n!NLFONT 12 12 3\n*text r ${this.paymentDay}/n/` 
      data = data + `!NLFONT 12 12 3\n*TEXT l Final Payment Date:\n!NLFONT 12 12 3\n*text r ${this.finalPaymentDay} ${this.finalPaymentMonth} ${this.finalPaymentYear} /n/` 
      data = data + `*feedline 1/n/!gray 10\n!hz l\n!asc l\n!yspace 12\n*text l Pay ${this.paymentInstalment} \n!gray 5\n!hz n\n!asc n\n!yspace 0/n/!gray 10\n!hz l\n!asc l\n!yspace 12\n` 
      data = data + `!NLFONT 12 12 3\n*TEXT l${this.periodText}\n!NLFONT 12 12 3\n*text r  /n/` 
     // data = data + `*feedline 1/n/*line/n/!NLFONT 12 12 3\n*TEXT l Type:\n!NLFONT 12 12 3\n*TEXT c Amount Paid:\n!NLFONT 12 12 3\n*text r Balance:/n/*line/n/!NLFONT 12 12 3\n`
    //  data = data + this.printdata
      data = data + `*feedline 2/n/!qrcode 200 2\n*qrcode c 123456789/n/*feedline 1`
      selectdata = data; 
      //fetch('http://192.168.0.152:9000/runOtherApp?key=Print&printString='+ encodeURI(selectdata));
      this.doPrint(selectdata);
      //alert(data.length);
      //this.doPrint(selectdata)
     
    },
    doPrint(selectdata){
      this.$store
         .dispatch("bridge/printslip", selectdata)
         .then(response => {
             //alert('done')
         });
    },
    

    setDate: function(newDate) {
      // if (this.timer != null) {
      //   clearTimeout(this.timer);
      //    //alert('not null')
      // }
      this.finalPaymentDay = newDate.toString().substr(8, 2);
      this.getMonthNum(newDate.toString().substr(4, 3));
      this.finalPaymentYear = newDate.toString().substr(11, 4);
      this.selectedDate =
        this.finalPaymentYear +
        "-" +
        this.finalPaymentMonth +
        "-" +
        this.finalPaymentDay;
      //this.timer = setTimeout(() => this.hideDatePicker(), 10);
      this.hideDatePicker();
      this.calcplan();
    },
    hideDatePicker() {
      this.showdatepicker = false;
      this.hidedatepicker = true;
    },
      calcplan() {
      
      var tempday = "";
      var tempmonth = "";
      var nummonth = 0;
      this.actualTotalOrderValue = this.totalOrderValue.replace(/[^\d.]/g, "");
      this.totalOrderValue = this.actualTotalOrderValue;
      this.actualDepositPerc = this.depositPerc.replace(/[^\d.]/g, "");
      this.actualDepositAmtFlat = this.depositAmtFlat.replace(/[^\d.]/g, "");
      this.actualDepositAmt = 0;
      if (this.dayofweek == "1" && this.showweekly == true) {
        this.paymentDay = "Monday";
      }
      if (
        this.showperc == true &&
        this.actualDepositPerc > 0 &&
        this.actualTotalOrderValue > 0
      ) {
        this.actualDepositAmtPerc =
          this.actualTotalOrderValue * this.actualDepositPerc / 100;
        this.depositAmtPerc = this.thousands_separators(
          this.actualDepositAmtPerc
        );
        this.paymentDueNow = this.depositAmtPerc;
      }
      if (this.depositPerc != "") {
        this.depositPerc = this.actualDepositPerc + "%";
      }
      if (this.depositAmtFlat != "") {
        this.depositAmtFlat = this.thousands_separators(
          this.actualDepositAmtFlat
        );
      }
      if (this.totalOrderValue != "") {
        this.totalOrderValue = this.thousands_separators(
          this.actualTotalOrderValue
        );
      }
      if (this.showperc == true) {
        this.actualDepositAmt = this.actualDepositAmtPerc;
        this.payload.depositType = "PERCENTAGE";
      }
      if (this.showflat == true) {
        this.actualDepositAmt = this.actualDepositAmtFlat;
        this.payload.depositType = "FLAT";
      }
      if (this.showperc == false && this.showflat == false) {
        this.payload.depositType = "INSTALMENT";
      }
      this.paymentDueNow = this.thousands_separators(this.actualDepositAmt);
      this.payload.amountDue = this.actualTotalOrderValue * 100;
      this.payload.depositAmount = this.actualDepositAmt * 100;
      this.payload.depositPerc = this.actualDepositPerc * 1;
      //alert(this.payload.depositPerc)
      this.payload.endDateMax = this.selectedDate;
     
      //alert(this.payload.endDateMax)
      tempday = this.minimumDate.getDate().toString();
      nummonth = this.minimumDate.getMonth() + 1;
      tempmonth = nummonth.toString();
      
      if (tempday.length < 2) {
        tempday = "0" + tempday;
      }
      if (tempmonth.length < 2) {
        tempmonth = "0" + tempmonth;
      }
      this.payload.endDateMin =
        this.minimumDate.getFullYear() + "-" + tempmonth + "-" + tempday;
      if (this.showmonthly == true) {
        this.payload.frequency = "MONTHLY";
      } else {
        this.payload.frequency = "WEEKLY";
      }
      AsyncStorage.setItem("paymentfrequency", this.payload.frequency);
      this.payload.offset = this.actualOffset * 1;
      //alert(this.actualOffset);
      AsyncStorage.setItem("paymentoffset", this.actualOffset.toString()); 
      // this.getStorageValue("layup-merchantpercfee").then(value => {
      //   this.payload.percFee = value;
      //   alert(this.payload.percFee)
      // });

      if (
        this.payload.amountDue != 0 &&
        this.payload.endDateMax.length == 10 &&
        (this.payload.depositAmount != 0 ||
          this.payload.depositType == "INSTALMENT") &&
        (this.payload.depositPerc != 0 || this.payload.depositType != "DEPOSIT")
      ) {
        this.getPlanDetails();
      }
       
    },

    getPlanDetails() {
      /*  this.getStorageValue("layup-token").then(value => {
        const token = value;
        //alert(token)
        
      }); */
      const mypayload = {
        
        absorbsFee: true,
        amountDue:  this.payload.amountDue,
        depositAmount: this.payload.depositAmount,
        depositPerc: this.payload.depositPerc,
        depositType: this.payload.depositType,
        endDateMax: this.payload.endDateMax,
        endDateMin: this.payload.endDateMin,
        frequency: this.payload.frequency,
        offset: this.payload.offset,
        percFee: this.payload.percFee,
      };
      const mypayload2 = {
        mypayload: mypayload,
        orderref: this.orderref
      }
      //alert(mypayload)
      /* const mypayload = {
        absorbsFee: true,
        amountDue: 100000,
        depositAmount: 20000,
        depositPerc: 20,
        depositType: "PERCENTAGE",
        endDateMax: "2021-06-30",
        endDateMin: "2020-12-17",
        frequency: "MONTHLY",
        offset: 27,
        percFee: 5,
      };
 */
      this.$store.dispatch("plans/plandetails", mypayload2).then(res => {
        this.getStorageValue("plans").then(value => {
          var period = "";
          var periodname = "";
          var lastdate = "";
          this.plans = value;
          alert(this.plans.toString());
          this.plans = JSON.parse(this.plans);
          const maxperiods = this.plans.paymentPlans.length;
          AsyncStorage.setItem("paymentquantity", maxperiods.toString()); 
          this.paymentDueNow = this.thousands_separators(
            this.plans.paymentPlans[maxperiods - 1].deposit / 100
          );
          this.noPayments = maxperiods.toString();
          lastdate = this.plans.paymentPlans[maxperiods - 1].payments[
            maxperiods
          ].due;
          //alert(lastdate)
          this.finalPaymentYear = lastdate.substr(0, 4);
          this.finalPaymentMonth = lastdate.substr(5, 2);
          this.finalPaymentDay = (
            parseInt(lastdate.substr(8, 2)) + 1
          ).toString();
          if (this.showmonthly == true) {
            period = " pm ";
            periodname = "months";
          } else {
            period = " pw ";
            periodname = "weeks";
          }
          this.actualPaymentInstalment =
            this.plans.paymentPlans[maxperiods - 1].payments[1].amount / 100;
          this.paymentInstalment = this.thousands_separators(
            this.actualPaymentInstalment
          );
          this.periodText =
            period +
            "for " +
            this.plans.paymentPlans[maxperiods - 1].quantity.toString() +
            " " +
            periodname;
          this.planBreakdown =
            "Pay " + this.paymentInstalment + this.periodText;
          //alert(maxperiods)

          //alert(this.payload.percFee)
        });
      });
    },
    getMonthNum(monthname) {
      var month = "";
      switch (monthname) {
        case "Jan":
          month = "01";
          break;
        case "Feb":
          month = "02";
          break;
        case "Mar":
          month = "03";
          break;
        case "Apr":
          month = "04";
          break;
        case "May":
          month = "05";
          break;
        case "Jun":
          month = "06";
          break;
        case "Jul":
          month = "07";
          break;
        case "Aug":
          month = "08";
          break;
        case "Sep":
          month = "09";
          break;
        case "Oct":
          month = "10";
          break;
        case "Nov":
          month = "11";
          break;
        case "Dec":
          month = "12";
      }
      this.finalPaymentMonth = month;
    },
    getDayName(daynum) {
      var day = "";
      switch (daynum) {
        case "0":
          day = "Sunday";
          break;
        case "1":
          day = "Monday";
          break;
        case "2":
          day = "Tuesday";
          break;
        case "3":
          day = "Wednesday";
          break;
        case "4":
          day = "Thursday";
          break;
        case "5":
          day = "Friday";
          break;
        case "6":
          day = "Saturday";
      }
      return day;
    },
    thousands_separators(num) {
      num = Math.round(num * 100)  / 100
      var dispnum = "";
      var num_parts = num.toString().split(".");
      num_parts[0] = num_parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      dispnum = num_parts.join(".");
      if(dispnum.substr(dispnum.length-3,1) != "." && dispnum.substr(dispnum.length-2,1) != "."){
        dispnum = dispnum + ".00"
      }
      if(dispnum.substr(dispnum.length-2,1) == "."){
        dispnum = dispnum + "0"
      }
      return "R" + dispnum; 
      // return "R" + num_parts.join(".");
    },
    closeTermsDialog() {
      this.termsConditions = false;
    },
    openTermsDialog() {
      this.termsConditions = true;
    },
    openReviewOrder() {
      this.qrCodeContainer = true;
    },
    closeQrDialog() {
      this.qrCodeContainer = false;
    },
    gotoCreatePlan2() {
      
      const myproducts = [
           {
             amount:this.payload.amountDue,
             sku:this.orderDescription
           }
      ]

      
      const orderData = {
        amountDue: this.payload.amountDue,
        endDateMax: this.payload.endDateMax,
        endDateMin: this.payload.endDateMin,
        products: myproducts,
        state:"PARTIAL",
        depositAmount: this.payload.depositAmount,
        depositPerc: this.payload.depositPerc,
        depositType: this.payload.depositType,
        enablesSplit:true,
        absorbsFee: true,
        percFee: this.payload.percFee,
        flatFee:0,
        name:this.orderDescription,
        reference:this.orderRefNo
      };
      const orderData2 = {
        orderdata: orderData,
        orderref: this.orderref
      }
      this.isLoading = true;
      this.$store.dispatch("orders/createorder", orderData2).then(res => {
         this.isLoading = false;
         this.getStorageValue("orders").then(value => {
            //alert(value)
            this.navigation.push("CreateAccount");
         }); 
      });
      //alert(JSON.stringify(data));
    },
    camera1Selected() {
      this.navigation.navigate("Camera", {
        onGoBack: this.refresh,
        tipo: "Foto",
      });
    },
    refresh(data) {
      this.photoData = data;
      this.photoTaken = true;
    },
    camera2Selected() {
      alert(this.photoData);
    },
    finalpay1Selected() {
      this.finalpay1text = "#fff";
      this.finalpay2text = "#000";
      this.finalpay1 = "#0c4152";
      this.finalpay2 = "#fff";
      this.showdatepicker = true;
      this.hidedatepicker = false;
      this.calcplan();
    },
    finalpay2Selected() {
      this.finalpay1text = "#000";
      this.finalpay2text = "#fff";
      this.finalpay1 = "#fff";
      this.finalpay2 = "#0c4152";
      this.showdatepicker = false;
      this.hidedatepicker = false;
      this.calcplan();
    },
    payfreq1Selected() {
      this.payfreq1 = "#0c4152";
      this.payfreq2 = "#FFF";
      this.payfreq1text = "#fff";
      this.payfreq2text = "#000";
      this.frequencylabel = "Day of the Month";
      this.dayofmonth = "27";
      this.showmonthly = true;
      this.showweekly = false;
      this.periodname = "Months";
      this.actualOffset = 27;
      this.calcplan();
    },
    payfreq2Selected() {
      this.payfreq1 = "#FFF";
      this.payfreq2 = "#0c4152";
      this.payfreq1text = "#000";
      this.payfreq2text = "#fff";
      this.frequencylabel = "Day of the Week";
      this.dayofweek = "1";
      this.showmonthly = false;
      this.showweekly = true;
      this.periodname = "Weeks";
      this.actualOffset = 1;
      this.calcplan();
    },
    depamount1Selected() {
      this.depamount1 = "#0c4152";
      this.depamount2 = "#fff";
      this.depamount3 = "#fff";
      this.depamount1text = "#FFF";
      this.depamount2text = "#000";
      this.depamount3text = "#000";
      this.showperc = true;
      this.showflat = false;
      this.calcplan();
    },
    depamount2Selected() {
      this.depamount1 = "#fff";
      this.depamount2 = "#0c4152";
      this.depamount3 = "#fff";
      this.depamount1text = "#000";
      this.depamount2text = "#FFF";
      this.depamount3text = "#000";
      this.showperc = false;
      this.showflat = true;
      this.calcplan();
    },
    depamount3Selected() {
      this.depamount1 = "#fff";
      this.depamount2 = "#fff";
      this.depamount3 = "#0c4152";
      this.depamount1text = "#000";
      this.depamount2text = "#000";
      this.depamount3text = "#FFF";
      this.showperc = false;
      this.showflat = false;
      this.calcplan();
    },
    getIosIcon() {
      return <Icon name="ios-arrow-down" />;
    },
    sendOtp() {
      this.navigation.navigate("OtpAccount");
    },
    onValueChange(value) {
      //alert(value)
      this.dayofmonth = value;
      this.paymentDay = value + 1;
      this.actualOffset = value;
      this.calcplan();
    },
    onValueChange2(value) {
      //alert(value)
      this.dayofweek = value;
      this.paymentDay = this.getDayName(value);
      this.actualOffset = value;
      this.calcplan();
    },
    goToRegisterScreen() {
      this.navigation.navigate("Register");
    },
    goToHomeScreen() {
      //this.isLoading = true;
      this.getStorageValue("logindata").then(value => {
        const postdata = JSON.parse(value);
        this.$store.dispatch("auth/login", postdata).then(res => {
        //this.isLoading = false;  
        this.navigation.push("Dashboard");
        });
      }); 
    },
    goToPaymentStep2Screen() {
      this.navigation.navigate("PaymentStep2");
    },
    async getStorageValue(item) {
      var value = await AsyncStorage.getItem(item);
      return value;
    },
  },
  computed: {
    selectedValue() {
      return this.dayofmonth;
    },
    selectedValue2() {
      return this.dayofweek;
    },
  },
  filters: {
    capitalize: function(value) {
      if (!value) return "";
      value = value.toString();
      return value.charAt(0).toUpperCase() + value.slice(1);
    },
  },
};
</script>

<style>
.modal-dialog-container {
  background-color: transparent;
}
.modal-dialog {
  background-color: #0c4152;
  opacity: 0.5;
}
.cardholderqr {
  width: 80%;
  align-self: center;
  color: #000;
  background-color: #fff;
  z-index: 9;
  text-align: left;
}

.primarybutton {
  margin-top: 40px;
  margin-bottom: 40px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #151a30;
}
.plan-fields {
  border-color: #f7f9fc;
  width: 30%;
  margin-left: 8px;
  background-color: #fff;
}

.plan-radio {
  margin-top: 10px;
  margin-left: 8px;
  background-color: #fff;
}
.bg-main {
  background-color: #f1f2f7;
}
.cardholder {
  width: 90%;
  align-self: center;
}
.input-text {
  padding-left: 20px;
}

.customer-name {
  margin-top: 5%;
  font-size: 20px;
}

.form-content {
  margin-bottom: 15%;
}

.input-field {
  background-color: #fff;
  border-color: #f7f9fc;
  align-self: center;
  width: 90%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.heading-container-section {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
  background-color: transparent;
}

.heading-container {
  padding-top: 10%;
  padding-left: 40px;
  padding-right: 30px;
  padding-bottom: 15px;
  background-color: transparent;
}

.plan-container {
  padding-top: 5px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: transparent;
  margin-bottom: 5px;
}
.text-color-white {
  color: white;
}
.button-container {
  background-color: #6faf98;
  align-self: center;
}
.stepper-text {
  font-size: 16px;
  color: #8f8f8f;
}

.heading {
  font-size: 25px;
  color: #1f282b;

  margin-bottom: 1px;
}
.loginbtn {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #1295a5;
}
.forgotbtn {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #151a30;
}
.loginbtn3 {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #151a30;
}
.labelbtntext {
  color: #000;
  text-align: center;
  width: 100%;
  text-transform: none;
  font-size: 12px;
}
.primarybtntext {
  color: #fff;
  text-align: center;
  width: 100%;
  text-transform: none;
  font-size: 14px;
}
.closeIcon {
  padding-right: 10px;
  width: 100%;
  height: 40px;
  align-items: flex-end;
  z-index: 9;
}
.photoPreview {
  margin-left: 15%;
  width: 200;
  height: 200;
}
</style>
