<template>
  <nb-container class="bg-main">
    <status-bar
      :barStyle="'light-content'"
      backgroundColor="#0c4152"
    ></status-bar>
    <nb-container
      v-if="isLoading"
      class="bg-main"
      style="position:absolute; left:0; top:0; width:100%; height:100%; z-index:999;"
    >
      <nb-spinner
        color="#0c4152"
        style="position:absolute; left:45%; top:25%;"
      />
    </nb-container>
    <image-background :source="launchScreenBg" class="imageContainer">
      <nb-container
        v-if="bottomNavContainer"
        class="modal-dialog-container"
        style="position:absolute; left:0; bottom:0; width:100%; height:100%; z-index:2;"
      >
        <nb-container
          class="modal-dialog"
          style="position:absolute; left:0; bottom:0; width:100%; height:100%;"
        ></nb-container>
        <nb-body>
          <view :style="{ position: 'absolute', bottom: 16 }">
            <view
              :style="{
                flexDirection: 'row'
              }"
            >
              <view>
                <TouchableOpacity :on-press="gotoCreatePlan">
                  <image
                    :style="{ width: 75, height: 94 }"
                    :source="require('../../../assets/create-plan-btn.png')"
                  />
                </TouchableOpacity>
              </view>
              <view>
                <TouchableOpacity :on-press="gotoPayNow">
                  <image
                    :style="{ width: 75, height: 94, marginLeft: 20 }"
                    :source="require('../../../assets/pay-now-icon.png')"
                  />
                </TouchableOpacity>
              </view>
            </view>
            <view
              :style="{
                marginTop: 0,
                marginLeft: 'auto',
                marginRight: 'auto'
              }"
            >
              <view>
                <TouchableOpacity :on-press="closeBottomNav">
                  <image
                    :style="{ width: 70, height: 70 }"
                    :source="
                      require('../../../assets/create-plan-close-icon.png')
                    "
                  />
                </TouchableOpacity>
              </view>
            </view>
          </view>
        </nb-body>
      </nb-container>
      <view class="logoContainer" v-if="nologo">
        <image-background
          :source="launchscreenLogo"
          class="logo"
          :style="stylesObj.logoStyle"
        />
        
        <view :style="{ marginTop: 120, marginLeft: 38 }">
          <text :style="{ color: '#fff', fontSize: 30 }">
            {{ merchantname }}
          </text>
        </view>
      </view>
      <view class="logoContainer" v-else>
        <image-background
          :source="merchantlogo"
          class="logo"
          :style="stylesObj.logoStyle"
        />
        
        <view :style="{ marginTop: 120, marginLeft: 38 }">
          <text :style="{ color: '#fff', fontSize: 30 }">
             {{ merchantname }}
          </text>
        </view>
      </view>
      <nb-content :style="{ marginTop: -65, flex: 0 }">
        <TouchableOpacity>
          <nb-card
            class="cardholder"
            :style="{ borderRadius: 20, padding: 10 }"
          >
            <nb-body
              :style="{
                width: '100%',
                alignSelf: 'stretch',
                textAlign: 'left',
                padding: 10
              }"
            >
              <view
                :style="{
                  flex: 1,
                  flexDirection: 'row'
                }"
              >
                <text
                  :style="{
                    flex: 1,
                    fontSize: 15,
                    marginTop: 10
                  }"
                >
                  Active
                </text>
                <text
                  :style="{
                    textAlign: 'right',
                    fontSize: 30,
                    color: '#8f9bb3',
                    marginTop: 0
                  }"
                >
                  {{ active }}
                </text>
              </view>
            </nb-body>
          </nb-card>
        </TouchableOpacity>
        <TouchableOpacity>
          <nb-card
            class="cardholder"
            :style="{ borderRadius: 20, padding: 10 }"
          >
            <nb-body
              :style="{
                width: '100%',
                alignSelf: 'stretch',
                textAlign: 'left',
                padding: 10
              }"
            >
              <view
                :style="{
                  flex: 1,
                  flexDirection: 'row'
                }"
              >
                <text
                  :style="{
                    flex: 1,
                    fontSize: 15,
                    color: '#223f8b',
                    marginTop: 10
                  }"
                >
                  Completed
                </text>
                <text
                  :style="{
                    textAlign: 'right',
                    fontSize: 30,
                    color: '#8f9bb3',
                    marginTop: 0
                  }"
                >
                  {{ completed }}
                </text>
              </view>
            </nb-body>
          </nb-card>
        </TouchableOpacity>
        <TouchableOpacity>
          <nb-card
            class="cardholder"
            :style="{ borderRadius: 20, padding: 10 }"
          >
            <nb-body
              :style="{
                width: '100%',
                alignSelf: 'stretch',
                textAlign: 'left',
                padding: 10
              }"
            >
              <view
                :style="{
                  flex: 1,
                  flexDirection: 'row'
                }"
              >
                <text
                  :style="{
                    flex: 1,
                    fontSize: 15,
                    color: '#7a0d42',
                    marginTop: 10
                  }"
                >
                  Cancelled
                </text>
                <text
                  :style="{
                    textAlign: 'right',
                    fontSize: 30,
                    color: '#8f9bb3',
                    marginTop: 0
                  }"
                >
                  {{ cancelled }}
                </text>
              </view>
            </nb-body>
          </nb-card>
        </TouchableOpacity>
      </nb-content>

      <view
        :style="{
          flex: 1,
          width: '100%',
          position: 'absolute',
          bottom: 0,
          backgroundColor: '#fff',
          flexDirection: 'row',
          padding: 0,
          margin: 0,
          alignItems: 'stretch'
        }"
      >
        <view class="bottom-btns">
          <TouchableOpacity :style="{ flex: 1 }" :on-press="gotoDashboard">
            <image
              :resizeMode="'contain'"
              :style="{ flex: 1, width: 70, bottom: 4 }"
              :source="require('../../../assets/home-icon-on.png')"
            />
          </TouchableOpacity>
        </view>

        <view class="bottom-btns">
          <TouchableOpacity :style="{ flex: 1 }" :on-press="gotoTransactions">
            <image
              :resizeMode="'contain'"
              :style="{ flex: 1, width: 70, bottom: 4 }"
              :source="require('../../../assets/transaction-icon.png')"
            />
          </TouchableOpacity>
        </view>

        <view class="plan-btn">
          <TouchableOpacity :style="{ flex: 1 }" :on-press="openPlanNav">
            <image
              :resizeMode="'contain'"
              :style="{ flex: 1, width: 70, height: 80 }"
              :source="require('../../../assets/create-plan-icon.png')"
            />
          </TouchableOpacity>
        </view>

        <view class="bottom-btns">
          <TouchableOpacity :style="{ flex: 1 }" :on-press="goToContact">
            <image
              :resizeMode="'contain'"
              :style="{ flex: 1, width: 70,  bottom: 4}"
              :source="require('../../../assets/support-icon.png')"
            />
          </TouchableOpacity>
        </view>

        <view class="bottom-btns">
          <TouchableOpacity :style="{ flex: 1 }" :on-press="goToProfile">
            <image
              :resizeMode="'contain'"
              :style="{ flex: 1, width: 70, bottom: 4 }"
              :source="require('../../../assets/profile-icon.png')"
            />
          </TouchableOpacity>
        </view>
      </view>
    </image-background>
  </nb-container>
</template>

<script>
import { Dimensions, Platform,BackHandler } from "react-native";
import launchScreenBg from "../../../assets/launchscreen-bg.png";
import launchscreenLogo from "../../../assets/merchant-logo.png";
import { AsyncStorage } from "react-native";

export default {
  props: {
    navigation: {
      type: Object
    }
  },
  data() {
    return {
      isLoading:false,
      bottomNavContainer: false,
      launchScreenBg,
      launchscreenLogo,
      merchantlogo: {},
      merchantname: "",
      merchant: {},
      nologo: true,
      token: null,
      orders: [],
      active: "",
      completed: "",
      cancelled: "",
      stylesObj: {
        logoContainerStyle: {
          marginTop: Dimensions.get("window").height / 8
        },
        logoStyle: {
          left: Platform.OS === "android" ? 40 : 36,
          top: Platform.OS === "android" ? 40 : 50,
          width: 250,
          height: 69,
          resizeMode: 'stretch'
        },
        btnContainer: {
          backgroundColor: "#6faf98",
          alignSelf: "center"
        }
      }
    };
  },
  async created() {
   //alert('created');
    this.orderref = await AsyncStorage.getItem("orderref2");
    this.merchant = await AsyncStorage.getItem("merchant");
    this.merchant = JSON.parse(this.merchant);
    if(this.merchant.imageUrl != undefined && this.merchant.imageUrl != ""){
      //alert(this.merchant.imageUrl);
      this.nologo = false;
      this.merchantlogo = {uri: this.merchant.imageUrl };
      //alert(this.merchantlogo.toString())
    }
    BackHandler.addEventListener('hardwareBackPress', function() {
      BackHandler.exitApp()
      return false
    });
    const isAuth = await AsyncStorage.getItem("layup-isAuth");
    const id = await AsyncStorage.getItem("layup-id");
    this.token = await AsyncStorage.getItem("layup-token");
    const isActive = await AsyncStorage.getItem("layup-merchantactive");
    //alert(isActive);
    //alert('Dashboard : isAuth ' + isAuth + ', id ' + id + ', token ' + this.token)
    if (isAuth == "true") {
      this.merchantname = await AsyncStorage.getItem("layup-name");
    } else {
      this.navigation.navigate("Login");
    }
    if (this.token == null) {
      this.navigation.navigate("Login");
    }
    //this.isLoading = true;
    const selectdetails = "limit=1000&select=state+amountDue+plans.amountDue+products.amount&populateObject=%7B%22path%22:%22plans%22,%22select%22:%22amountDue%22%7D"
    const selectdetails2 = {
      selectdetails: selectdetails,
      orderref: this.orderref
    }
    this.$store
      .dispatch("orders/getsummary", selectdetails2)
      .then(response => {
       //this.isLoading = false;
       this.getStorageValue("orders").then(value => {
         //alert(value); 
         this.orders = JSON.parse(value);
      
    
    //this.orders = await AsyncStorage.getItem("orders");
    var activeorders = [];
    var x = 0;
   
   // this.orders = JSON.parse(this.orders);
    this.cancelled = 0;
    this.active = 0;
    this.completed = 0;
    for (x = 0; x < this.orders.length; x++) {
      if (
        this.orders[x].state == "PLACED" ||
        this.orders[x].state == "PARTIAL"
      ) {
        this.active += this.orders[x].amountDue;
      } else if (this.orders[x].state == "CANCELLED") {
        this.cancelled += this.orders[x].amountDue;
      } else if (this.orders[x].state == "COMPLETED") {
        this.completed += this.orders[x].amountDue;
      }
    }
    this.active = this.thousands_separators(this.active / 100);
    this.completed = this.thousands_separators(this.completed / 100);
    this.cancelled = this.thousands_separators(this.cancelled / 100);
     });
   });
  },
  // mounted() {
  //   alert('mounted');
  // },
  methods: {
    thousands_separators(num) {
      var num_parts = num.toString().split(".");
      num_parts[0] = num_parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      return  num_parts.join(".");
    },
     async getStorageValue(item) {
      var value = await AsyncStorage.getItem(item);
      return value;
    },
    goToHomeScreen() {
      this.navigation.push("Home");
    },
    goToProfile() {
      this.bottomNavContainer = false;
      this.navigation.push("Profile");
    },
    gotoPayNow() {
      this.bottomNavContainer = false;
      this.navigation.push("SearchPlan");
    },
    gotoCreatePlan() {
      this.bottomNavContainer = false;
      this.navigation.push("CreatePlanStep1");
    },
    gotoTransactions() {
      this.bottomNavContainer = false;
      this.navigation.push("transactions");
    },
    gotoDashboard() {
      this.bottomNavContainer = false;
      this.navigation.push("Dashboard");
    },
    goToContact(){
      this.bottomNavContainer = false;
      this.navigation.push("Contact");
    }, 
    openPlanNav() {
      this.bottomNavContainer = true;
    },
    closeBottomNav() {
      this.bottomNavContainer = false;
    },
    handleLetGoBtnPress() {
      this.navigation.openDrawer();
    },

    gotoNotValidated() {
      this.bottomNavContainer = false;
      this.navigation.navigate("RegisterScreen3");
    }
  }
};
</script>

<style>
.modal-dialog-container {
  background-color: transparent;
}
.modal-dialog {
  background-color: #fff;
  opacity: 0.8;
}
.cardholderqr {
  flex: 1;
  width: 80%;
  align-self: center;
  color: #000;
  z-index: 9;
  text-align: left;
}
.bottom-btns {
  height: 80px;
  align-self: center;
  width: 20%;
}
.plan-btn {
  margin-top: -20px;
  align-self: center;
  width: 20%;
}
.cardholder {
  width: 90%;
  align-self: center;
  color: #fff;
}
.bg-main {
  background-color: #f1f2f7;
}
.imageContainer {
  flex: 1;
}
.text-color-primary {
  color: blue;
  font-family: Roboto;
}
.logoContainer {
  flex: 1;
  
}
.logo {
  position: absolute;
  width: 280;
  height: 100;
}

.text-container {
  flex: 1;
  align-items: center;
}
.text-color-white {
  color: white;
}
.button-container {
  background-color: #6faf98;
  align-self: center;
  margin-bottom: 10px
}
</style>
