<template>
  <nb-container class="bg-main">
    <status-bar v-if = "android"
        :barStyle="'light-content'"
        backgroundColor="#0c4152"
      ></status-bar>
     <status-bar v-else 
        :barStyle="'dark-content'"
     ></status-bar> 
    <nb-container
      v-if="isLoading"
      class="bg-main"
      style="position:absolute; left:0; top:0; width:100%; height:100%; z-index:999;"
    >
      <nb-spinner
        color="#0c4152"
        style="position:absolute; left:45%; top:25%;"
      />
    </nb-container>
     <view class="closeIcon" :style="stylesObj.logoStyle">
      <TouchableOpacity :on-press="goToHomeScreen">
        <image :source="require('../../../assets/close_icon.png')" />
      </TouchableOpacity>
    </view>
    <nb-content>
      <view class="text-container">
        <text class="stepper-text">Step 3/5</text>
        <text class="heading">Enter OTP</text>
        <text>
          Enter the 5-digit code we have sent to
        </text>
        <text style="color: #30a8a0">
           {{ cellno }}
        </text>
      </view>

      <nb-form class="form-content">
        <view
          :style="{ flexDirection: 'row', width: '80%', alignSelf: 'center' }"
        >
         <text
            :on-press="gotoinput"
            ref="topfield1"
            class="input-text"
            :style="{
              justifyContent: 'flex-end',
              textAlign: 'center',
              backgroundColor: otpcolor1,
              color: otptextcolor1
            }"
            >{{ otp1 }}</text
          >
       
          <text
            :on-press="gotoinput"
            ref="topfield2"
            class="input-text"
            :style="{
              justifyContent: 'flex-end',
              textAlign: 'center',
              backgroundColor: otpcolor2,
              color: otptextcolor2
            }"
            >{{ otp2 }}</text
          >
          <text
            :on-press="gotoinput"
            ref="topfield3"
            class="input-text"
            :style="{
              justifyContent: 'flex-end',
              textAlign: 'center',
              backgroundColor: otpcolor3,
              color: otptextcolor3
            }"
            >{{ otp3 }}</text
          >
          <text
            :on-press="gotoinput"
            ref="topfield4"
            class="input-text"
            :style="{
              justifyContent: 'flex-end',
              textAlign: 'center',
              backgroundColor: otpcolor4,
              color: otptextcolor4
            }"
            >{{ otp4 }}</text
          >
          <text
            :on-press="gotoinput"
            ref="topfield5"
            class="input-text"
            :style="{
              justifyContent: 'flex-end',
              textAlign: 'center',
              backgroundColor: otpcolor5,
              color: otptextcolor5
            }"
            >{{ otp5 }}</text
          >
          <text-input
            ref="topfield"
            class="input-text-hidden"
            v-model="otpinput"
            placeholder="0"
            keyboardType="numeric"
          />
        </view>
        <view
          :style="{ flexDirection: 'row', width: '80%', alignSelf: 'center' }"
        >
          <text>
            Didn't get code?
          </text>
          <text style="color: #30a8a0;"
          :on-press="resendOtp" >
            Resend Code
          </text>
          
        </view>
      </nb-form>
      <nb-button rounded class="forgotbtn" :on-press="submitOtp">
        <nb-text class="labelbtntext">Verify</nb-text>
      </nb-button>
    </nb-content>
  </nb-container>
</template>

<script>
import { Dimensions, Platform } from "react-native";
//import axios from "../../axios/index.js";
import { AsyncStorage } from "react-native";
import KeyEvent from "react-native-keyevent";

export default {
  props: {
    navigation: {
      type: Object,
    },
  },
  data() {
    return {
      android: Platform.OS === "android" ? true : false,
      paymentplan: {
        automaticBilling: true,
        benefactorId: "",
        frequency: "",
        offset: 0,
        orderId: "",
        quantity: 0,
        token: ""
      },
      orderref: "",
      apikey:"",
      otpcolor1: "#e4e9f2",
      otpcolor2: "#e4e9f2",
      otpcolor3: "#e4e9f2",
      otpcolor4: "#e4e9f2",
      otpcolor5: "#e4e9f2",
      otptextcolor1: "#000",
      otptextcolor2: "#000",
      otptextcolor3: "#000",
      otptextcolor4: "#000",
      otptextcolor5: "#000",
      otpinput: 0,
      isLoading: false,
      username: "",
      otp: "",
      cellno: "",
      token: "",
      otp1: 0,
      otp2: 0,
      otp3: 0,
      otp4: 0,
      otp5: 0,
      max: 4,
      user: {},
      pokemon: [],
      stylesObj: {
        logoContainerStyle: {
          marginTop: Dimensions.get("window").height / 8,
        },
        logoStyle: {
          top: Platform.OS === "android" ? 0 : 25,
        },
        btnContainer: {
          backgroundColor: "#6faf98",
          alignSelf: "center",
        },
      },
    };
  },
  mounted() {
    this.getStorageValue("orderref2").then(value => {
      this.orderref = value
    });
    this.getStorageValue("usercellno").then(value => {
      //alert(value)
      //this.user = JSON.parse(value);
      //alert(this.user.cellNumber)
      this.cellno = value;
    });
    this.getStorageValue("layup-token").then(value => {
      this.apikey = value;
      
    });
    this.$refs.topfield.focus();
  },
  computed: {
    getOTP() {
      return this.otp1 + this.otp2 + this.otp3 + this.otp4 + this.otp5;
    },
  },
  components: { KeyEvent },
  created() {
    this.$nextTick(() => this.$refs.topfield1.focus());
  },
  created() {
    this.$nextTick(() => this.$refs.topfield1.focus());
  },

  watch: {
    otpinput(val) {
      if (val.length < 1) {
        this.otp1 = 0;
        this.otp2 = 0;
        this.otp3 = 0;
        this.otp4 = 0;
        this.otp5 = 0;
        this.otpcolor1 = "#e4e9f2";
        this.otpcolor2 = "#e4e9f2";
        this.otpcolor3 = "#e4e9f2";
        this.otpcolor4 = "#e4e9f2";
        this.otpcolor5 = "#e4e9f2";
        this.otptextcolor1 = "#ccc";
        this.otptextcolor2 = "#ccc";
        this.otptextcolor3 = "#ccc";
        this.otptextcolor4 = "#ccc";
        this.otptextcolor5 = "#ccc";
      }
      if (val.length == 1) {      
        this.otp1 = val;
        this.otp2 = 0;
        this.otp3 = 0;
        this.otp4 = 0;
        this.otp5 = 0;
        this.otpcolor1 = "#30a8a0";
        this.otpcolor2 = "#e4e9f2";
        this.otpcolor3 = "#e4e9f2";
        this.otpcolor4 = "#e4e9f2";
        this.otpcolor5 = "#e4e9f2";
        this.otptextcolor2 = "#ccc";
        this.otptextcolor3 = "#ccc";
        this.otptextcolor4 = "#ccc";
        this.otptextcolor5 = "#ccc";
        this.otptextcolor1 = "#FFF";
      }
      if (val.length == 2) {
          this.otp2 =  val.substring(1);
        this.otp3 = 0;
        this.otp4 = 0;
        this.otp5 = 0;
        this.otpcolor3 = "#e4e9f2";
        this.otpcolor4 = "#e4e9f2";
        this.otpcolor5 = "#e4e9f2";
        this.otpcolor2 = "#30a8a0";
        this.otptextcolor3 = "#ccc";
        this.otptextcolor4 = "#ccc";
        this.otptextcolor5 = "#ccc";
        this.otptextcolor2 = "#FFF";
      }
      if (val.length == 3) {
       this.otp3 =  val.substring(2);
        this.otp4 = 0;
        this.otp5 = 0;
        this.otpcolor4 = "#e4e9f2";
        this.otpcolor5 = "#e4e9f2";
        this.otpcolor3 = "#30a8a0";
        this.otptextcolor4 = "#ccc";
        this.otptextcolor5 = "#ccc";
        this.otptextcolor3 = "#FFF";
      }
      if (val.length == 4) {
       this.otp4 =  val.substring(3);
        this.otp5 = 0;
        this.otpcolor4 = "#e4e9f2";
        this.otpcolor5 = "#e4e9f2";
        this.otpcolor4 = "#30a8a0";
        this.otptextcolor5 = "#ccc";
        this.otptextcolor4 = "#FFF";
      }
      if (val.length == 5) {
       this.otp5 =  val.substring(4);     
        this.otpcolor5 = "#30a8a0";
        this.otptextcolor5 = "#FFF";
      }if(val.length > 5){
          this.otpinput = this.otpinput.substring(0, 5);
      }
    }
  },

  methods: {
    gotoinput(){
      this.$refs.topfield.focus();
    },
    async getStorageValue(item) {
      var value = await AsyncStorage.getItem(item);
      return value;
    },
    resendOtp() {
      this.navigation.push("CreateAccount");
    },
    clearotp1() {
      this.otp1 = "";
    },
    clearotp2() {
      this.otp2 = "";
    },
    clearotp3() {
      this.otp3 = "";
    },
    clearotp4() {
      this.otp4 = "";
    },
    clearotp5() {
      this.otp5 = "";
    },
    focusNext() {
      // alert(this.$refs.otpnumber2);
      //this.$refs.otpnumber2.focus();
    },
    async getStorageValue(item) {
      var value = await AsyncStorage.getItem(item);
      return value;
    },
    submitOtp() {
      //alert(this.getOTP);
      const userData =
        "token=" + this.getOTP.toString() + "&msisdn=" + this.cellno;
      const userData2 = {
        userdata:userData,
        orderref: this.orderref
      }  
      this.$store.dispatch("users/verifyuser", userData2).then(res => {
        this.isLoading = false;
        this.getStorageValue("validated").then(value => {
         // alert(value)
          if (value == "{}") {
            this.navigation.navigate("AccountVerifiedUnSuccessPlan");
          } else {
            this.paymentplan.benefactorId = JSON.parse(value).userId;
            this.getStorageValue("orders").then(value => {
            
              AsyncStorage.setItem("token", this.getOTP.toString());
              const order = JSON.parse(value);
              
              this.paymentplan.token = this.getOTP.toString();
              this.paymentplan.orderId = order._id;
              this.getStorageValue("paymentfrequency").then(value => {
                this.paymentplan.frequency = value;
                this.getStorageValue("paymentoffset").then(value => {
                  this.paymentplan.offset = parseInt(value);
                  this.getStorageValue("paymentquantity").then(value => {
                    this.paymentplan.quantity = parseInt(value);
                    //alert(JSON.stringify(this.paymentplan));
                    const paymentplan2 = {
                      paymentplan: this.paymentplan,
                      orderref: this.orderref
                    }
                    this.$store.dispatch("plans/createplan", paymentplan2).then(res => {
                      this.isLoading = false;
                     // alert(order._id + "|" + this.apikey);
                     /*  const selectdata = {"orderid":order._id,
                                          "apikey":this.apikey}
                      this.$store.dispatch("orders/attachorder", selectdata).then(res => {
                   //   this.isLoading = false;
                   //   this.navigation.navigate("AccountVerifiedSuccessPlan");
                      }); */
                      this.navigation.navigate("AccountVerifiedSuccessPlan");
                    });
                    
                  });
                });
              });
              
              
            });
          }
        });
      });
      
    },
    goToRegisterScreen() {
      this.navigation.navigate("Register");
    },
    goToHomeScreen() {
      this.isLoading = true;
      this.getStorageValue("logindata").then(value => {
        const postdata = JSON.parse(value);
        this.$store.dispatch("auth/login", postdata).then(res => {
        this.isLoading = false;  
        this.navigation.push("Dashboard");
        });
      }); 
    },
  },
};
</script>

<style>
.stepper-text {
  font-size: 16px;
  color: #8f8f8f;
}
#divInner {
  left: 0;
  position: sticky;
}

#divOuter {
  width: 190px;
  overflow: hidden;
}
.bg-main {
  background-color: #f1f2f7;
}

.input-text {
  height: 60px;
  padding: 10px;
  margin-left: 5px;
  margin-bottom: 30px;
  border-radius: 8px;
  width: 18%;
  background-color: #e4e9f2;
  font-weight: bold;
  font-size: 30px;
}
.input-text-hidden {
  height: 1px;
  padding: 0px;
  width: 1px;
  font-weight: bold;
  font-size: 1px;
}
.input-text2 {
  width: 20%;
  background-color: yellow;
}

.input-field:focus {
  background-color: yellow;
}

.form-content {
  margin-bottom: 36%;
}

.input-field {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-container {
  padding-top: 5%;
  padding-left: 40px;
  padding-right: 30px;
  padding-bottom: 10%;
  background-color: transparent;
}
.text-color-white {
  color: white;
}
.button-container {
  background-color: #6faf98;
  align-self: center;
}

.heading {
  font-weight: bold;
  font-size: 38px;
  color: #1f282b;

  margin-bottom: 1px;
}
.loginbtn {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #1295a5;
}
.forgotbtn {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #151a30;
}
.loginbtn3 {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #151a30;
}
.labelbtntext {
  text-align: center;
  width: 100%;
  text-transform: none;
}
.closeIcon {
  padding-right: 15px;
  padding-top: 15px;
  height: 40px;
  align-items: flex-end;
  z-index: 9;
}
</style>
