<template>
  <nb-container class="bg-main">
    <status-bar v-if = "android"
        :barStyle="'light-content'"
        backgroundColor="#0c4152"
      ></status-bar>
     <status-bar v-else 
        :barStyle="'dark-content'"
     ></status-bar> 
    <nb-container
      v-if="isLoading"
      class="bg-main"
      style="position:absolute; left:0; top:0; width:100%; height:100%; z-index:999;"
    >
      <nb-spinner
        color="#0c4152"
        style="position:absolute; left:45%; top:25%;"
      />
    </nb-container>

    <nb-container
      v-if="qrCodeContainer"
      class="modal-dialog-container"
      style="position:absolute; left:0; top:0; width:100%; height:100%; z-index:2;"
    >
      <nb-container
        class="modal-dialog"
        style="position:absolute; left:0; top:0; width:100%; height:100%;"
      ></nb-container>
      <nb-content>
        <nb-card
          class="cardholderqr"
          :style="{ borderRadius: 20, padding: 10, marginTop: '10%' }"
        >
          <nb-body
            :style="{
              width: '100%',
              alignSelf: 'stretch',
              textAlign: 'left',
              padding: 10
            }"
          >
            <view
              :style="{
                flex: 1,
                flexDirection: 'row'
              }"
            >
              <text
                :style="{
                  flex: 1,
                  marginTop: 10,
                  fontSize: 18
                }"
                >Payment Plan QR</text
              >
              <nb-button
                transparent
                :on-press="closeQrDialog"
                :style="{
                  textAlign: 'right'
                }"
              >
                <image :source="require('../../../assets/close_icon.png')" />
              </nb-button>
            </view>
            <view>
              <text :style="{ margin: 15 }"
                >Scan the QR Code to access your payment plan</text
              >
              <image :source="require('../../../assets/qr-code.png')" />
            </view>
          </nb-body>
        </nb-card>
      </nb-content>
    </nb-container>
    <view class="closeIcon" :style="stylesObj.logoStyle">
      <TouchableOpacity :on-press="goToHomeScreen">
        <image :source="require('../../../assets/close_icon.png')" />
      </TouchableOpacity>
    </view>
    <nb-content>
      <view class="text-container">
        <text class="stepper-text">Step 4/5</text>
        <text class="heading">Cash Payment</text>
      </view>

      <view class="status_image">
        <image :source="require('../../../assets/success_icon.png')" />
      </view>
      <text class="heading_status">Payment Successful</text>
      <text class="info-text-final">Deposit amount: {{ amount/100 | numformat }}</text>
      <text class="info-text-final">Received by: {{ username }}</text>
      <text class="info-text-final">Date: {{ dispdate }}</text>
      <text class="info-text-final2"
        >*Please tear off the slip for the customer</text
      >
      <nb-button rounded class="cardtypeBtn" :on-press="checkPayment">
        <nb-text class="labelbtntext">Done </nb-text>
      </nb-button>
    </nb-content>
  </nb-container>
</template>

<script>
import { Dimensions, Platform } from "react-native";
import { AsyncStorage } from "react-native";
//import axios from "../../axios/index.js";
// import axios from "axios";

export default {
  props: {
    navigation: {
      type: Object
    }
  },
  data() {
    return {
      android: Platform.OS === "android" ? true : false,
      apikey:"",
      amount:0,
      dispdate:"",
      qrCodeContainer: false,
      isLoading: false,
      username: "",
      refNumber: "",
      stylesObj: {
        logoContainerStyle: {
          marginTop: Dimensions.get("window").height / 8
        },
        logoStyle: {
         top: Platform.OS === "android" ? 0 : 25
        },
        btnContainer: {
          backgroundColor: "#6faf98",
          alignSelf: "center"
        }
      }
    };
  },
  async created() {
    this.apikey = await AsyncStorage.getItem("layup-token");
   // alert(this.apikey);
    this.plans = await AsyncStorage.getItem("plans");
    const plan = JSON.parse(this.plans);
    this.amount = plan.depositDue;
    this.username = await AsyncStorage.getItem("layup-name");
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    var yyyy = today.getFullYear();
    this.dispdate = dd + '/' + mm + '/' + yyyy;
  },
   filters: {
   numformat: function (num) {
    num = Math.round(num * 100)  / 100
    var num_parts = num.toString().split(".");
    var dispnum = "";
    num_parts[0] = num_parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    dispnum = num_parts.join(".");
    if(dispnum.substr(dispnum.length-3,1) != "." && dispnum.substr(dispnum.length-2,1) != "."){
      dispnum = dispnum + ".00"
    }
    if(dispnum.substr(dispnum.length-2,1) == "."){
      dispnum = dispnum + "0"
    }
    return "R" + dispnum; 
    
   }
  },
  methods: {
    checkPayment() {
      this.navigation.navigate("PaymentStep7CashPlan");
    },
    openQrCode() {
      this.qrCodeContainer = true;
    },
    goToRegisterScreen() {
      this.navigation.navigate("Register");
    },
   goToHomeScreen() {
      this.isLoading = true;
      this.getStorageValue("logindata").then(value => {
        const postdata = JSON.parse(value);
        this.$store.dispatch("auth/login", postdata).then(res => {
        this.isLoading = false;  
        this.navigation.push("Dashboard");
        });
      }); 
    },
    closeQrDialog() {
      this.qrCodeContainer = false;
    }
  }
};
</script>

<style>
.cardtypeBtn {
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #151a30;
}
.status_image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-text-final {
  line-height: 25px;
  font-size: 16px;
  text-align: center;
}
.info-text-final2 {
  line-height: 25px;
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}
.heading_status {
  font-weight: bold;
  font-size: 30px;
  color: #67bcb6;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}
.btn_status {
  font-weight: bold;
  font-size: 25px;
  color: #67bcb6;
  text-decoration-line: underline;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}
.bg-main {
  background-color: #f1f2f7;
}
.modal-dialog-container {
  background-color: transparent;
}
.modal-dialog {
  background-color: #0c4152;
  opacity: 0.5;
}

.cardholder {
  width: 100%;
  align-self: center;
  color: #fff;
}
.cardholderqr {
  width: 80%;
  align-self: center;
  color: #000;
  background-color: #fff;
  z-index: 9;
  text-align: left;
}
.input-text {
  padding-left: 20px;
}

.customer-name {
  margin-top: 5%;
  font-size: 20px;
}

.form-content {
  margin-bottom: 15%;
}

.input-field {
  background-color: #fff;
  border-color: #f7f9fc;
  align-self: center;
  width: 90%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.text-container {
  padding-top: 10%;
  padding-left: 40px;
  padding-right: 30px;
  padding-bottom: 10%;
  background-color: transparent;
}
.text-color-white {
  color: white;
}
.button-container {
  background-color: #6faf98;
  align-self: center;
}
.stepper-text {
  font-size: 16px;
  color: #8f8f8f;
}
.heading-ref {
  font-size: 25px;
  color: #1f282b;
  margin-top: 20px;
  margin-bottom: 1px;
}

.heading {
  font-size: 18px;
  color: #1f282b;

  margin-bottom: 1px;
}
.loginbtn {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #1295a5;
}
.forgotbtn {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #0c4152;
}
.payment-redirect {
  margin-top: 30%;
  align-self: center;
  width: 90%;
}
.labelbtntext {
  text-align: center;
  font-size: 20px;
  width: 100%;
  text-transform: none;
}

.closeIcon {
  padding-right: 15px;
  padding-top: 15px;
  height: 40px;
  align-items: flex-end;
  z-index: 9;
}
</style>
