<template>
  <nb-container class="bg-main">
    <status-bar v-if = "android"
        :barStyle="'light-content'"
        backgroundColor="#0c4152"
      ></status-bar>
     <status-bar v-else 
        :barStyle="'dark-content'"
     ></status-bar> 
    <nb-container
      v-if="isLoading"
      class="bg-main"
      style="position:absolute; left:0; top:0; width:100%; height:100%; z-index:999;"
    >
      <nb-spinner
        color="#0c4152"
        style="position:absolute; left:45%; top:25%;"
      />
    </nb-container>

    <nb-container
      v-if="qrCodeContainer"
      class="modal-dialog-container"
      style="position:absolute; left:0; top:0; width:100%; height:100%; z-index:2;"
    >
      <nb-container
        class="modal-dialog"
        style="position:absolute; left:0; top:0; width:100%; height:100%;"
      ></nb-container>
      <nb-content>
        <nb-card
          class="cardholderqr"
          :style="{ borderRadius: 20, padding: 10, marginTop: '10%' }"
        >
          <nb-body
            :style="{
              width: '100%',
              alignSelf: 'stretch',
              textAlign: 'left',
              padding: 10
            }"
          >
            <view
              :style="{
                flex: 1,
                flexDirection: 'row'
              }"
            >
              <text
                :style="{
                  flex: 1,
                  marginTop: 10,
                  fontSize: 18
                }"
                >Payment Plan QR</text
              >
              <nb-button
                transparent
                :on-press="closeQrDialog"
                :style="{
                  textAlign: 'right'
                }"
              >
                <image :source="require('../../../assets/close_icon.png')" />
              </nb-button>
            </view>
            <view>
              <text :style="{ margin: 15 }"
                >Scan the QR Code to access your payment plan</text
              >
              <image :source="require('../../../assets/qr-code.png')" />
            </view>
          </nb-body>
        </nb-card>
      </nb-content>
    </nb-container>
     <view class="closeIcon" :style="stylesObj.logoStyle">
      <TouchableOpacity :on-press="goToHomeScreen">
        <image :source="require('../../../assets/close_icon.png')" />
      </TouchableOpacity>
    </view>
    <nb-content>
      <view class="text-container">
        <text class="stepper-text">Step 4/5</text>
        <text class="heading">Cash Payment</text>
      </view>

      <view class="payment-redirect">
        <text class="labelbtntext">Deposit Amount</text>
        <text :style="{ fontWeight: 'bold', fontSize: 40, textAlign: 'center' }"
          >{{payment.amount/100 | numformat}}</text
        >
        <nb-button rounded class="cardtypeBtn2" :on-press="checkPayment">
          <nb-text class="labelbtntext">Confirm Payment</nb-text>
        </nb-button>
      </view>
    </nb-content>
  </nb-container>
</template>

<script>
import { Dimensions, Platform } from "react-native";
import { AsyncStorage } from "react-native";
//import axios from "../../axios/index.js";
// import axios from "axios";

export default {
  props: {
    navigation: {
      type: Object
    }
  },
  data() {
    return {
      android: Platform.OS === "android" ? true : false,
      payment: {
        amount: 0,
        note: "CASH Payment",
        reference: "Cash",
        paymentPlanId: "",
        paymentType:"DEPOSIT"
      },
      orderref: "",
      transactionorders: {},
      transname: "",
      qrCodeContainer: false,
      isLoading: false,
      username: "",
      username2: "",
      name: "",
      refNumber: "",
      apikey:"",
      token:"",
      plans:{},
      orders:{},
      user: {},
      stylesObj: {
        logoContainerStyle: {
          marginTop: Dimensions.get("window").height / 8
        },
        logoStyle: {
          top: Platform.OS === "android" ? 0 : 25
        },
        btnContainer: {
          backgroundColor: "#6faf98",
          alignSelf: "center"
        }
      }
    };
  },
  async mounted() {
    this.orderref = await AsyncStorage.getItem("orderref2");
    this.apikey = await AsyncStorage.getItem("layup-token");
    this.plans = await AsyncStorage.getItem("plans");
    this.orders = await AsyncStorage.getItem("orders")
    const orders = JSON.parse(this.orders);
    this.refNumber = orders.reference
    this.name = orders.name
    //alert(this.orders)
    const plan = JSON.parse(this.plans);
    this.amount = plan.depositDue;
    this.user = await AsyncStorage.getItem("usercellno");  
    this.transname = this.user;
    //alert(this.transname)
    this.username2 = await AsyncStorage.getItem("layup-name");
    this.plans = await AsyncStorage.getItem("plans");
    const plan2 = JSON.parse(this.plans);
    this.payment.amount = plan2.depositDue;
    this.payment.paymentPlanId = plan2._id
  },
  filters: {
   numformat: function (num) {
    num = Math.round(num * 100)  / 100
    var num_parts = num.toString().split(".");
    var dispnum = "";
    num_parts[0] = num_parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    dispnum = num_parts.join(".");
    if(dispnum.substr(dispnum.length-3,1) != "." && dispnum.substr(dispnum.length-2,1) != "."){
      dispnum = dispnum + ".00"
    }
    if(dispnum.substr(dispnum.length-2,1) == "."){
      dispnum = dispnum + "0"
    }
    return "R" + dispnum; 
    
   }
  },
  methods: {
    checkPayment() {
     const paymentData = {
       payment:this.payment,
       apikey: this.apikey,
       orderref: this.orderref
     }
      this.isLoading = true;
      this.$store.dispatch("payments/createpayment", paymentData).then(res => {
      this.isLoading = false;  
      this.printSlip()
      this.navigation.push("PaymentStep5CashPlan");
      });
    },
    printSlip(data){ 
      var selectdata = "";
      data =`!gray 10\n!hz l\n!asc l\n!yspace 12\n*text c ${this.username2} \n!gray 5\n!hz n\n!asc n\n!yspace 0/n/!gray 10\n!hz l\n!asc l\n!yspace 12\n` 
      data = data + `!gray 10\n!hz l\n!asc l\n!yspace 12\n*text l Deposit \n!gray 5\n!hz n\n!asc n\n!yspace 0/n/!gray 10\n!hz l\n!asc l\n!yspace 12\n` 
      data = data + `*text l Customer \n!gray 5\n!hz n\n!asc n\n!yspace 0/n/*text l ${this.transname}/n/*text l  /n/*feedline 1/n/!gray 10\n` 
      data = data + `!hz l\n!asc l\n!yspace 12\n*text l Order Ref. ${this.refNumber} \n` 
      data = data + `!gray 5\n!hz n\n!asc n\n!yspace 0/n/*text l ${this.name}/n/` 
      data = data + `!NLFONT 12 12 3\n*TEXT l Paid Cash:\n!NLFONT 12 12 3\n*text r ${this.numformat(this.amount/100)}/n/*feedline 3` 
      selectdata = data; 
      this.doPrint(selectdata);
         
    },
    doPrint(selectdata){
      this.$store
         .dispatch("bridge/printslip", selectdata)
         .then(response => {
             //alert('done')
         });
    },
    numformat: function(num) {
      num = Math.round(num * 100) / 100;
      var num_parts = num.toString().split(".");
      var dispnum = "";
      num_parts[0] = num_parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      dispnum = num_parts.join(".");
      if (
        dispnum.substr(dispnum.length - 3, 1) != "." &&
        dispnum.substr(dispnum.length - 2, 1) != "."
      ) {
        dispnum = dispnum + ".00";
      }
      if (dispnum.substr(dispnum.length - 2, 1) == ".") {
        dispnum = dispnum + "0";
      }
      if(dispnum.substring(0,3) == NaN){
        dispnum = "0.00"
      }
      return "R" + dispnum;
    },
    openQrCode() {
      this.qrCodeContainer = true;
    },
    goToRegisterScreen() {
      this.navigation.push("Register");
    },
     goToHomeScreen() {
      this.navigation.push("PaymentStep3Plan");
    },
    closeQrDialog() {
      this.qrCodeContainer = false;
    },
    async getStorageValue(item) {
      var value = await AsyncStorage.getItem(item);
      return value;
    }
  }
};
</script>

<style>
.cardtypeBtn2 {
  margin-top: 50%;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #151a30;
}

.bg-main {
  background-color: #f1f2f7;
}
.modal-dialog-container {
  background-color: transparent;
}
.modal-dialog {
  background-color: #0c4152;
  opacity: 0.5;
}

.cardholder {
  width: 100%;
  align-self: center;
  color: #fff;
}
.cardholderqr {
  width: 80%;
  align-self: center;
  color: #000;
  background-color: #fff;
  z-index: 9;
  text-align: left;
}
.input-text {
  padding-left: 20px;
}

.customer-name {
  margin-top: 5%;
  font-size: 20px;
}

.form-content {
  margin-bottom: 15%;
}

.input-field {
  background-color: #fff;
  border-color: #f7f9fc;
  align-self: center;
  width: 90%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.text-container {
  padding-top: 10%;
  padding-left: 40px;
  padding-right: 30px;
  padding-bottom: 10%;
  background-color: transparent;
}
.text-color-white {
  color: white;
}
.button-container {
  background-color: #6faf98;
  align-self: center;
}
.stepper-text {
  font-size: 16px;
  color: #8f8f8f;
}
.heading-ref {
  font-size: 25px;
  color: #1f282b;
  margin-top: 20px;
  margin-bottom: 1px;
}

.heading {
  font-size: 18px;
  color: #1f282b;

  margin-bottom: 1px;
}
.loginbtn {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #1295a5;
}
.forgotbtn {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #0c4152;
}
.payment-redirect {
  margin-top: 30%;
  align-self: center;
  width: 90%;
}
.labelbtntext {
  width: 100%;
  text-align: center;
  font-size: 20px;
}
.closeIcon {
  padding-right: 15px;
  padding-top: 15px;
  height: 40px;
  align-items: flex-end;
  z-index: 9;
}

</style>
