<template>
  <nb-container class="bg-main">
    <status-bar
      :barStyle="'light-content'"
      backgroundColor="#0c4152"
    ></status-bar>
    <nb-container
      v-if="isLoading"
      class="bg-main"
      style="position:absolute; left:0; top:0; width:100%; height:100%; z-index:999;"
    >
      <nb-spinner
        color="#0c4152"
        style="position:absolute; left:45%; top:25%;"
      />
    </nb-container>

    <nb-container
      v-if="qrCodeContainer"
      class="modal-dialog-container"
      style="position:absolute; left:0; top:0; width:100%; height:100%; z-index:2;"
    >
      <nb-container
        class="modal-dialog"
        style="position:absolute; left:0; top:0; width:100%; height:100%;"
      ></nb-container>
      <nb-content>
        <nb-card
          class="cardholderqr"
          :style="{ borderRadius: 20, padding: 10, marginTop: '10%' }"
        >
          <nb-body
            :style="{
              width: '100%',
              alignSelf: 'stretch',
              textAlign: 'left',
              padding: 10
            }"
          >
            <view
              :style="{
                flex: 1,
                flexDirection: 'row'
              }"
            >
              <text
                :style="{
                  flex: 1,
                  marginTop: 10,
                  fontSize: 18
                }"
                >Payment Plan QR</text
              >
              <nb-button
                transparent
                :on-press="closeQrDialog"
                :style="{
                  textAlign: 'right'
                }"
              >
                <image :source="require('../../../assets/close_icon.png')" />
              </nb-button>
            </view>
            <view>
              <text :style="{ margin: 15 }"
                >Scan the QR Code to access your payment plan</text
              >
              <image :source="require('../../../assets/qr-code.png')" />
            </view>
          </nb-body>
        </nb-card>
      </nb-content>
    </nb-container>
    <view class="closeIcon">
      <nb-button transparent :on-press="goToHomeScreen">
        <image :source="require('../../../assets/close_icon.png')" />
      </nb-button>
    </view>
    <nb-content>
      <view class="text-container">
        <text class="stepper-text">Step 2/5</text>
        <text class="heading">Payment Plans</text>
        <view
          :style="{
            flex: 1,
            flexDirection: 'row',
            marginTop: 20,
            marginBottom: -0
          }"
        >
          <image :source="require('../../../assets/check_icon_l.png')" />
          <text
            :style="{
              fontSize: 25,
              color: '#5fce2f'
            }"
          >
            Active
          </text>
        </view>
        <text class="heading-ref">Order Ref. 193AX121</text>
        <text>iPhone 12</text>
        <view
          :style="{
            flex: 1,
            flexDirection: 'row',
            marginTop: 20,
            marginBottom: 0
          }"
        >
          <text
            :style="{
              flex: 1,
              marginTop: 5,
              color: '#8f8f8f'
            }"
            >Total Order Value</text
          >
          <text
            :style="{
              textAlign: 'right',
              marginTop: 5
            }"
            >R1000.00</text
          >
        </view>

        <view
          :style="{
            flex: 1,
            flexDirection: 'row',
            marginTop: 0,
            marginBottom: 0
          }"
        >
          <text
            :style="{
              flex: 1,
              marginTop: 5,
              color: '#8f8f8f'
            }"
            >Total Paid</text
          >
          <text
            :style="{
              textAlign: 'right',
              marginTop: 5
            }"
            >R1000.00</text
          >
        </view>
        <view
          :style="{
            flex: 1,
            flexDirection: 'row',
            marginTop: 0,
            marginBottom: 0
          }"
        >
          <text
            :style="{
              flex: 1,
              marginTop: 5,
              color: '#8f8f8f'
            }"
            >Remaining Balance</text
          >
          <text
            :style="{
              textAlign: 'right',
              marginTop: 5
            }"
            >R1000.00</text
          >
        </view>
        <view
          :style="{
            flex: 1,
            flexDirection: 'row',
            marginTop: 0,
            marginBottom: 0
          }"
        >
          <text
            :style="{
              flex: 1,
              marginTop: 5,
              color: '#8f8f8f'
            }"
            >Payment Plan QR Code</text
          >
          <text
            :on-press="openQrCode"
            :style="{
              textAlign: 'right',
              marginTop: 5
            }"
          >
            View QR Code
          </text>
        </view>
        <nb-card
          class="cardholder"
          :style="{
            borderRadius: 10,
            backgroundColor: '#222b45',
            marginTop: 20
          }"
        >
          <nb-body
            :style="{
              width: '100%',
              alignSelf: 'stretch',
              textAlign: 'left',
              padding: 10
            }"
          >
            <view
              :style="{
                flex: 1,
                flexDirection: 'row'
              }"
            >
              <text
                :style="{
                  flex: 1,
                  color: '#fff'
                }"
              >
                Type / Date
              </text>
              <text
                :style="{
                  flex: 1,
                  color: '#fff'
                }"
              >
                Amount Paid
              </text>
              <text
                :style="{
                  textAlign: 'right',
                  color: '#fff'
                }"
              >
                Balance
              </text>
            </view>
          </nb-body>
        </nb-card>
        <nb-body
          :style="{
            width: '100%',
            alignSelf: 'stretch',
            textAlign: 'left',
            padding: 10
          }"
        >
          <view
            :style="{
              flex: 1,
              flexDirection: 'row'
            }"
          >
            <text
              :style="{
                flex: 1,
                fontSize: 16,
                color: '#222b45'
              }"
            >
              Deposit
            </text>
            <text
              :style="{
                flex: 1,
                fontSize: 16,
                color: '#222b45'
              }"
            >
              R200
            </text>
            <text
              :style="{
                textAlign: 'right',
                fontSize: 16,
                color: '#222b45'
              }"
            >
              R600
            </text>
          </view>
          <view
            :style="{
              flex: 1,
              flexDirection: 'row'
            }"
          >
            <text
              :style="{
                flex: 1,
                fontSize: 12,
                color: '#8f8f8f'
              }"
            >
              April 4, 2020
            </text>
          </view>
        </nb-body>
        <view
          :style="{
            backgroundColor: '#8f8f8f',
            height: 1,
            width: '100%'
          }"
        />
        <nb-body
          :style="{
            width: '100%',
            alignSelf: 'stretch',
            textAlign: 'left',
            padding: 10
          }"
        >
          <view
            :style="{
              flex: 1,
              flexDirection: 'row'
            }"
          >
            <text
              :style="{
                flex: 1,
                fontSize: 16,
                color: '#222b45'
              }"
            >
              Contribution
            </text>
            <text
              :style="{
                flex: 1,
                fontSize: 16,
                color: '#222b45'
              }"
            >
              R200
            </text>
            <text
              :style="{
                textAlign: 'right',
                fontSize: 16,
                color: '#222b45'
              }"
            >
              R600
            </text>
          </view>
          <view
            :style="{
              flex: 1,
              flexDirection: 'row'
            }"
          >
            <text
              :style="{
                flex: 1,
                fontSize: 12,
                color: '#8f8f8f'
              }"
            >
              April 4, 2020
            </text>
          </view>
        </nb-body>
        <view
          :style="{
            backgroundColor: '#8f8f8f',
            height: 1,
            width: '100%'
          }"
        />
        <nb-body
          :style="{
            width: '100%',
            alignSelf: 'stretch',
            textAlign: 'left',
            padding: 10
          }"
        >
          <view
            :style="{
              flex: 1,
              flexDirection: 'row'
            }"
          >
            <text
              :style="{
                flex: 1,
                fontSize: 16,
                color: '#222b45'
              }"
            >
              Refund
            </text>
            <text
              :style="{
                flex: 1,
                fontSize: 16,
                color: '#222b45'
              }"
            >
              - R200
            </text>
            <text
              :style="{
                textAlign: 'right',
                fontSize: 16,
                color: '#222b45'
              }"
            >
             - R600
            </text>
          </view>
          <view
            :style="{
              flex: 1,
              flexDirection: 'row'
            }"
          >
            <text
              :style="{
                flex: 1,
                fontSize: 12,
                color: '#8f8f8f'
              }"
            >
              April 4, 2020
            </text>
          </view>
        </nb-body>
       
    
      

        <nb-body
          :style="{
            width: '100%',
            alignSelf: 'stretch',
            textAlign: 'left',
            padding: 10
          }"
        >
          <view
            :style="{
              flex: 1,
              flexDirection: 'row'
            }"
          >
            <text
              :style="{
                flex: 1,
                fontSize: 16,
                color: '#222b45'
              }"
            >
              Instalment
            </text>
            <text
              :style="{
                flex: 1,
                fontSize: 16,
                color: '#222b45'
              }"
            >
              R200
            </text>
            <text
              :style="{
                textAlign: 'right',
                fontSize: 16,
                color: '#222b45'
              }"
            >
              R600
            </text>
          </view>
          <view
            :style="{
              flex: 1,
              flexDirection: 'row'
            }"
          >
            <text
              :style="{
                flex: 1,
                fontSize: 12,
                color: '#8f8f8f'
              }"
            >
              April 4, 2020
            </text>
          </view>
        </nb-body>
        <view
          :style="{
            backgroundColor: '#8f8f8f',
            height: 1,
            width: '100%'
          }"
        />
      </view>
      <nb-button rounded class="forgotbtn" :on-press="sendOtp">
        <nb-text class="labelbtntext">Print Statement</nb-text>
      </nb-button>
      <nb-button rounded class="forgotbtn" :on-press="sendOtp">
        <nb-text class="labelbtntext">Email Statement</nb-text>
      </nb-button>
      <nb-button rounded class="loginbtn3" :on-press="goToPaymentStep3Screen">
        <nb-text class="labelbtntext">Receive Payment</nb-text>
      </nb-button>
    </nb-content>
  </nb-container>
</template>

<script>
import { Dimensions, Platform } from "react-native";
//import axios from "../../axios/index.js";
// import axios from "axios";

export default {
  props: {
    navigation: {
      type: Object
    }
  },
  data() {
    return {
      qrCodeContainer: false,
      isLoading: false,
      username: "",
      refNumber: "",
      stylesObj: {
        logoContainerStyle: {
          marginTop: Dimensions.get("window").height / 8
        },
        logoStyle: {
          left: Platform.OS === "android" ? 40 : 50,
          top: Platform.OS === "android" ? 35 : 60
        },
        btnContainer: {
          backgroundColor: "#6faf98",
          alignSelf: "center"
        }
      }
    };
  },
  methods: {
    sendOtp() {
      this.navigation.navigate("OtpAccount");
      // this.isLoading = true;
      // const postdata = {
      //   email: this.username
      // };
      // axios({
      //   method: "POST",
      //   headers: {
      //     "Content-Type": "application/json",
      //     apiKey: "dashpay2020"
      //   },
      //   url: "/v1/request-password-reset",
      //   data: postdata
      // }).then(
      //   result => {
      //     this.isLoading = false;
      //     this.result = result.data.status;
      //     //alert(this.result);
      //     this.navigation.navigate("ForgotPassword2");
      //   },
      //   error => {
      //     this.isLoading = false;
      //     alert(error);
      //   }
      // );
    },
    openQrCode() {
      this.qrCodeContainer = true;
    },
    goToRegisterScreen() {
      this.navigation.navigate("Register");
    },
    goToHomeScreen() {
      this.navigation.navigate("Dashboard");
    },
    closeQrDialog() {
      this.qrCodeContainer = false;
    },
    goToPaymentStep3Screen() {
      this.navigation.navigate("PaymentStep3");
    }
  }
};
</script>

<style>
.bg-main {
  background-color: #f1f2f7;
}
.modal-dialog-container {
  background-color: transparent;
}
.modal-dialog {
  background-color: #0c4152;
  opacity: 0.5;
}

.cardholder {
  width: 100%;
  align-self: center;
  color: #fff;
}
.cardholderqr {
  width: 80%;
  align-self: center;
  color: #000;
  background-color: #fff;
  z-index: 9;
  text-align: left;
}
.input-text {
  padding-left: 20px;
}

.customer-name {
  margin-top: 5%;
  font-size: 20px;
}

.form-content {
  margin-bottom: 15%;
}

.input-field {
  background-color: #fff;
  border-color: #f7f9fc;
  align-self: center;
  width: 90%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.text-container {
  padding-top: 10%;
  padding-left: 40px;
  padding-right: 30px;
  padding-bottom: 10%;
  background-color: transparent;
}
.text-color-white {
  color: white;
}
.button-container {
  background-color: #6faf98;
  align-self: center;
}
.stepper-text {
  font-size: 16px;
  color: #8f8f8f;
}
.heading-ref {
  font-size: 25px;
  color: #1f282b;
  margin-top: 20px;
  margin-bottom: 1px;
}

.heading {
  font-size: 18px;
  color: #1f282b;

  margin-bottom: 1px;
}
.loginbtn {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #1295a5;
}
.forgotbtn {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #0c4152;
}
.loginbtn3 {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #151a30;
}
.labelbtntext {
  text-align: center;
  width: 100%;
  text-transform: none;
}
.closeIcon {
  padding-right: 10px;
  width: 100%;
  height: 40px;
  align-items: flex-end;
  z-index: 9;
}
</style>
