<template>
 
<nb-container class="bg-main">
  <status-bar v-if = "android"
        :barStyle="'light-content'"
        backgroundColor="#0c4152"
      ></status-bar>
     <status-bar v-else 
        :barStyle="'dark-content'"
     ></status-bar> 
  <view
      v-if="isLoading"
      class="bg-main"
      style="position:absolute; left:0; top:0; width:100%; height:100%; z-index:999;"
    >
      <nb-spinner
        color="#0c4152"
        style="position:absolute; left:45%; top:25%;"
      />
 </view>     
 <view class="closeIcon" :style="stylesObj.logoStyle">
      <TouchableOpacity :on-press="goToCaller">
        <image :source="require('../../../assets/close_icon.png')" />
      </TouchableOpacity>
    </view>
<view :style="{height:'100%'}">
     <nb-container
      v-if="isLoading"
      class="bg-main"
      style="position:absolute; left:0; top:0; width:100%; height:100%; z-index:999;"
    >
      <nb-spinner
        color="#0c4152"
        style="position:absolute; left:45%; top:25%;"
      />
    </nb-container>
  <web-view
   originWhitelist="{['*']}"
   :startInLoadingState=true
   :source=source
   
   :style="stylesObj.webStyle" />
  
</view>
</nb-container>
</template>

<script>
 //<view :style="{height:50, zIndex: 2}">
 //    <nb-button  :on-press="goHomeScreen"><nb-text class="labelbtntext">Cancel</nb-text></nb-button>
 //   </view>
import { WebView } from "react-native-webview";
import { AsyncStorage, BackHandler, Platform } from "react-native";
export default {
   components: { "web-view": WebView },
  props: {
    navigation: {
      type: Object
    }
  },
  data() {
    return {
      android: Platform.OS === "android" ? true : false,
      caller:"",
      isLoading:false,
      source: {},//{uri:'https://layup.co.za/for-merchants'},
      stylesObj: {
        btnContainer: {
          backgroundColor: "#6faf98",
          alignSelf: "center"
        },
        logoStyle: {
          top: Platform.OS === "android" ? 0 : 25
        },
        webStyle: {
          flex:1,
          marginTop: Platform.OS === "android" ? 0 : 25
        }
      }
    };
  },
   async created() {
     var templink = await AsyncStorage.getItem("layup-url");
    this.source = {uri: templink}
    this.caller = await AsyncStorage.getItem("layup-caller"); 
    //this.source = { html: ' <b> Test </b><form action="{shopperResultUrl}" class="paymentWidgets" data-brands="VISA MASTER AMEX"></form> <script alert("hi");/>' }
    //this.source = {uri:'http://192.168.0.166:9000/getpayment?id=AB0DD1E95DAB0FA294D3211BB4210D25.uat01-vm-tx02&url=2'}
    
  },
  // created() {
   
  //  BackHandler.addEventListener('hardwareBackPress', function() {return false});
  // },
  methods:   {
 
   goToCaller() {
     //alert(this.caller)
      //this.navigation.push(this.caller);
      this.navigation.navigate("Profile");
    }, 
  }
};
</script>

<style>
.bg-main {
  background-color: #f7f9fc;
}
.imageContainer {
  flex: 1;
}
.text-color-primary {
  color: blue;
  font-family: Roboto;
}
.logoContainer {
  flex: 1;
  margin-bottom: 30;
}
.logo {
  margin-top: 4%;
  padding: 15px;
}

.text-container {
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 5%;
  background-color: transparent;
}
.text-color-white {
  color: white;
}
.button-container {
  background-color: #6faf98;
  align-self: center;
}
.heading1 {
  font-weight: bold;
  font-size: 40px;
  color: #1f282b;
  margin-bottom: 5%;
}
.closeIcon {
  padding-right: 15px;
  padding-top: 15px;
  height: 40px;
  align-items: flex-end;
  z-index: 9;
}
.loginbtn {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #1295a5;
}
.loginbtn2 {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #0c4152;
}
.loginbtn3 {
  margin-bottom: 10px;
  height: 60px;
  align-self: center;
  width: 90%;
  background-color: #151a30;
}
.labelbtntext {
  text-align: center;
  width: 100%;
  text-transform: none;
}
.about-text {
  line-height: 25px;
  font-size: 16px;
}
</style>
