<template>
  <root>
    <app-navigation></app-navigation>
  </root>
</template>

<script>
import {
  createAppContainer,
  createStackNavigator,
  createDrawerNavigator
} from "vue-native-router";
import Vue from "vue-native-core";
import { Root } from "native-base";
import Vuelidate from "vuelidate";
import InputWithError from "./components/InputWithError.vue";
import store from "./store";
import HomeScreen from "./screens/home/index.vue";
import RegisterScreen from "./screens/home/register.vue";
import RegisterScreen1 from "./screens/home/register1.vue";
import RegisterScreen2 from "./screens/home/register2.vue";
import RegisterScreen3 from "./screens/home/register3.vue";
import LoginScreen from "./screens/home/login.vue";
import ContactScreen from "./screens/home/contact.vue";
import ForgotPasswordScreen from "./screens/home/forgot_password.vue";
import ForgotPasswordScreen2 from "./screens/home/forgot_password2.vue";
import ProfileScreen from "./screens/home/profile.vue";
import VerifyAccountScreen from "./screens/receive_payments/verify_account.vue";
import OtpAccountScreen from "./screens/receive_payments/otp_account.vue";
import AccountVerifiedSuccessScreen from "./screens/receive_payments/account_verified_success.vue";
import AccountVerifiedUnsuccessScreen from "./screens/receive_payments/account_verified_unsuccess.vue";
import PaymentHomeScreen from "./screens/receive_payments/payment_home.vue";
import PaymentStep2Screen from "./screens/receive_payments/payment_step2.vue";
import PaymentStep3Screen from "./screens/receive_payments/payment_step3.vue";
import PaymentStep4Screen from "./screens/receive_payments/payment_step4.vue";
//import PaymentStep4WebScreen from "./screens/receive_payments/payment_step4_web.vue";
import PaymentStep5Screen from "./screens/receive_payments/payment_step5.vue";
import PaymentStep6Screen from "./screens/receive_payments/payment_step6.vue";
import PaymentStep7Screen from "./screens/receive_payments/payment_step7.vue";
import DashboardScreen from "./screens/create_plan/dashboard.vue";
import WebviewScreen from "./screens/create_plan/webview.vue";
import CreatePlanStep1Screen from "./screens/create_plan/create_plan_step1.vue";
import CreateAccountScreen from "./screens/create_plan/create_account.vue";
import OtpAccountPlanScreen from "./screens/create_plan/otp_account.vue";
import AccountVerifiedSuccessPlanScreen from "./screens/create_plan/account_verified_success.vue";
import AccountVerifiedUnSuccessPlanScreen from "./screens/create_plan/account_verified_unsuccess.vue";
import PaymentStep3PlanScreen from "./screens/create_plan/payment_step3.vue";
import PaymentStep4PlanScreen from "./screens/create_plan/payment_step4.vue";
//import PaymentStep4PlanWebScreen from "./screens/create_plan/payment_step4.vue";
import PaymentStep5PlanScreen from "./screens/create_plan/payment_step5.vue";
import PaymentStep6PlanScreen from "./screens/create_plan/payment_step6.vue";
//import PaymentStep7PlanScreen from "./screens/create_plan/payment_step7.vue";
import cameraScreen from "./screens/create_plan/camera.vue";
import PaymentStep4PlanCashScreen from "./screens/create_plan/payment_step4_cash.vue";
import PaymentStep5PlanCashScreen from "./screens/create_plan/payment_step5_cash.vue";
import PaymentStep7PlanCashScreen from "./screens/create_plan/payment_step7_cash.vue";
import SearchPlanScreen from "./screens/search_plan/search_plan.vue";
import SearchOtpAccountScreen from "./screens/search_plan/otp_account.vue";
import SearchAccountVerifiedSuccessScreen from "./screens/search_plan/account_verified_success.vue";
import SearchAccountVerifiedUnsuccessScreen from "./screens/search_plan/account_verified_unsuccess.vue";
import SearchPaymentHomeScreen from "./screens/search_plan/payment_home.vue";
import SearchPaymentStep2Screen from "./screens/search_plan/payment_step2.vue";
import SearchPaymentStep3Screen from "./screens/search_plan/payment_step3.vue";
import SearchPaymentStep4Screen from "./screens/search_plan/payment_step4.vue";
import SearchPaymentStep5Screen from "./screens/search_plan/payment_step5.vue";
import SearchPaymentStep6Screen from "./screens/search_plan/payment_step6.vue";
//import SearchPaymentStep7Screen from "./screens/search_plan/payment_step7.vue";
import SearchPaymentStep4PlanCashScreen from "./screens/search_plan/payment_step4_cash.vue";
import SearchPaymentStep5PlanCashScreen from "./screens/search_plan/payment_step5_cash.vue";
import SearchPaymentStep7PlanCashScreen from "./screens/search_plan/payment_step7_cash.vue";
import transactionsScreen from "./screens/transactions/transactions.vue";
import transactionLogScreen from "./screens/transactions/transaction_log.vue";
import tooltip1Screen from "./screens/tooltips/tooltip1.vue";
import tooltip2Screen from "./screens/tooltips/tooltip2.vue";
import tooltip3Screen from "./screens/tooltips/tooltip3.vue";
import tooltip4Screen from "./screens/tooltips/tooltip4.vue";
import tooltip5Screen from "./screens/tooltips/tooltip5.vue";
import tooltip6Screen from "./screens/tooltips/tooltip6.vue";
import tooltip7Screen from "./screens/tooltips/tooltip7.vue";

Vue.prototype.$store = store;
Vue.use(Vuelidate);
Vue.component("InputWithError", InputWithError);

const Drawer = createDrawerNavigator(
  {
    Home: { screen: HomeScreen }
  },
  {
    initialRouteName: "Home"
  }
);

const AppNavigation = createAppContainer(
  createStackNavigator(
    {
      Drawer: { screen: Drawer },
      Register: { screen: RegisterScreen },
      Register1: { screen: RegisterScreen1 },
      Register2: { screen: RegisterScreen2 },
      Register3: { screen: RegisterScreen3 },
      Login: { screen: LoginScreen },
      Contact: { screen: ContactScreen },
      Profile: { screen: ProfileScreen },
      ForgotPassword: { screen: ForgotPasswordScreen },
      ForgotPassword2: { screen: ForgotPasswordScreen2 },
      VerifyAccount: { screen: VerifyAccountScreen },
      OtpAccount: { screen: OtpAccountScreen },
      AccountVerifiedSuccess: { screen: AccountVerifiedSuccessScreen },
      AccountVerifiedUnsuccess: { screen: AccountVerifiedUnsuccessScreen },
      PaymentHome: { screen: PaymentHomeScreen },
      PaymentStep2: { screen: PaymentStep2Screen },
      PaymentStep3: { screen: PaymentStep3Screen },
      PaymentStep4: { screen: PaymentStep4Screen },
      //PaymentStep4Web: { screen:PaymentStep4WebScreen },
      PaymentStep5: { screen: PaymentStep5Screen },
      PaymentStep6: { screen: PaymentStep6Screen },
      PaymentStep7: { screen: PaymentStep7Screen },
      Dashboard: { screen: DashboardScreen },
      CreatePlanStep1: { screen: CreatePlanStep1Screen },
      CreateAccount: { screen: CreateAccountScreen },
      OtpAccountPlan: { screen: OtpAccountPlanScreen },
      AccountVerifiedSuccessPlan: { screen: AccountVerifiedSuccessPlanScreen },
      AccountVerifiedUnSuccessPlan: { screen: AccountVerifiedUnSuccessPlanScreen },
      PaymentStep3Plan: { screen: PaymentStep3PlanScreen },
      PaymentStep4Plan: { screen: PaymentStep4PlanScreen },
      PaymentStep5Plan: { screen: PaymentStep5PlanScreen },
      PaymentStep6Plan: { screen: PaymentStep6PlanScreen },
      //PaymentStep7Plan: { screen: PaymentStep7PlanScreen },
      PaymentStepCash4Plan: { screen: PaymentStep4PlanCashScreen },
      PaymentStep5CashPlan: { screen: PaymentStep5PlanCashScreen },
      PaymentStep7CashPlan: { screen: PaymentStep7PlanCashScreen },
      Webview: { screen: WebviewScreen },

      SearchPlan: { screen: SearchPlanScreen },
      SearchOtpAccount: { screen: SearchOtpAccountScreen },
      SearchAccountVerifiedSuccess: {
        screen: SearchAccountVerifiedSuccessScreen
      },
      SearchAccountVerifiedUnsuccess: {
        screen: SearchAccountVerifiedUnsuccessScreen 
      },
      SearchPaymentHome: { screen: SearchPaymentHomeScreen },
      SearchPaymentStep2: { screen: SearchPaymentStep2Screen },
      SearchPaymentStep3: { screen: SearchPaymentStep3Screen },
      SearchPaymentStep4: { screen: SearchPaymentStep4Screen },
      SearchPaymentStep5: { screen: SearchPaymentStep5Screen },
      SearchPaymentStep6: { screen: SearchPaymentStep6Screen },
      //SearchPaymentStep7: { screen: SearchPaymentStep7Screen },
      SearchPaymentStepCash4Plan: { screen: SearchPaymentStep4PlanCashScreen },
      SearchPaymentStep5CashPlan: { screen: SearchPaymentStep5PlanCashScreen },
      SearchPaymentStep7CashPlan: { screen: SearchPaymentStep7PlanCashScreen },
      transactions: { screen: transactionsScreen },
      transactionLog: { screen: transactionLogScreen },
      Camera: { screen: cameraScreen },
      tooltip1: { screen: tooltip1Screen },
      tooltip2: { screen: tooltip2Screen },
      tooltip3: { screen: tooltip3Screen },
      tooltip4: { screen: tooltip4Screen },
      tooltip5: { screen: tooltip5Screen },
      tooltip6: { screen: tooltip6Screen },
      tooltip7: { screen: tooltip7Screen }
    },
    {
      initialRouteName: "Drawer",
      headerMode: "none"
    }
  )
);
export default {
  components: { Root, AppNavigation }
};
</script>
